<mat-toolbar color="primary" style="margin-bottom:1%; border-radius: 8px; width: 100%">
  {{action}} portfolio ID {{id.value}}
</mat-toolbar>
<form class="submit" [formGroup]="newAccountForm">
  <div>
    <button mat-flat-button color="primary" type="submit" 
      [disabled]="!(newAccountForm.valid && submitbox.checked)"
      (click)='newAccountForm.valid? updatePortfolioData(action) : null'
      style="margin-top: 1px; width: 200px; font-size: 18px; margin-left: 1%;">
        {{action}} portfolio
    </button>
    <mat-checkbox color="primary"  #submitbox checked="false" 
    (click)="newAccountForm.markAllAsTouched()"
    >Submit Data</mat-checkbox>
  </div>
  <mat-form-field style="width: 55%;"  enabled>
    <mat-select   placeholder="Select Portfolio Type" formControlName="account_type" 
    (selectionChange)="calculateAccountCode()" > 
      <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.typeValue">
        {{accountType.typeValue}}: {{accountType.typeDescription}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 20%">
    <input matInput placeholder="PortfolioCode" formControlName="portfolioname" >
    <mat-error  *ngIf="portfolioname?.errors?.['required']">
      Required!   
    </mat-error>
  </mat-form-field>
  <div *ngIf="accessToClientData!=='none'">
    <mat-form-field style="width: 20%">
      <input matInput placeholder="ClientID" formControlName="idclient" [readonly]="true">
      <mat-error  *ngIf="idclient?.errors?.['required']">
        Required!    
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 60%">
      <input matInput placeholder="ClientName" formControlName="clientname">
    </mat-form-field>
    <button mat-flat-button color="accent" 
    matTooltip="Select Client"
    (click) = "selectClient()"
    style=" width: 5%;  line-height: 80% !important; height: 60px !important;">
    <mat-icon >input</mat-icon>
  </button>
  </div>
  <div  >
    <mat-form-field style="width: 20%">
      <input matInput placeholder="StrategyID" formControlName="idstategy" [readonly]="true">
      <mat-error  *ngIf="idstategy?.errors?.['required']">
        Required!  
      </mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="StategyCode" formControlName="stategy_name">
    </mat-form-field>
    <button mat-flat-button color="accent" 
      matTooltip="Select Stategy"
      (click) = "selectStrategy('Select')"
      style=" width: 5%;  line-height: 80% !important; height: 60px !important;">
      <mat-icon >input</mat-icon>
    </button>
  </div>
  <mat-form-field style="width: 85%">
    <input matInput placeholder="Stategy Description" formControlName="description" [readonly]="true">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="portleverage" formControlName="portleverage">
  </mat-form-field>
  <div *ngIf="summaryShow" style="width: 150%;">
    <h2 class="mat-form-field">Portfolio Value {{summaryData.npv|currency}}</h2>
    <h2 class="mat-form-field">Result {{summaryData.PnL|currency}}</h2>
    <h2 class="mat-form-field">Management Fee {{summaryData.managementFee|currency}}</h2>
    <h2 class="mat-form-field">Perfomance Fee {{summaryData.perfomanceFee|currency}}</h2>
  </div>
  <div *ngIf="id.value!==undefined" style="width: 100%;">
    <mat-toolbar color="accent" style="margin-bottom:1%; border-radius: 8px;">
     Fees Schedules
    </mat-toolbar>
    <acc-fees-portfolios-with-schedules-table 
    [id_portfolio]="id.value"
    [onChanges]="true"
    ></acc-fees-portfolios-with-schedules-table>
  </div>
</form>
