<nav class="navbar navbar-expand-sm navbar-dark bg-primary"  style="align-items: center;">
  <a class=" navbar-brand mx-auto" style="align-items: center;">Market Data</a>
</nav>

<div class="container-fluid"  style="background-color: azure;">
 <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="">Instrument</label>
        <select class="form-control" name="" id="" [(ngModel)]="secIds" (change)="onChangeCountry()">
          <option *ngFor="let c of secIds" [value]="c">{{c}}</option>
        </select>
      </div>
    </div> 
    <div class="col-md-12" style="margin-top: 1%;">
      <div echarts [options]="countryCasesChartOptions" class="demo-chart"></div>
    </div>
  </div>
</div> 