.mat-select-panel {
  max-height: 80vh !important;
}
.childTable {
  width: 100%;
   background-color: var(--secondaryBackgroundColor);;
}
.parentTable {
  width: 100%;
}
tr.detail-row {
  height: 0;
}

.child-row td {
  border-bottom-width: 0;
}
.detail-block {
  overflow: hidden;
  display: flex;
}
::ng-deep .custom-class .mat-form-field-underline {
  display: none;
}
