.mat-select-panel {
  max-height: 80vh !important;
}
.headers-align  .mat-expansion-panel-header {
  background-color: #504f4f;
}
.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.headers-align .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  color: rgb(210, 205, 205);
  font-size: 20px;
}
.highlight{
  background: #2b2be3; /* green */
}
tr.mat-row:hover {
  border: 1px solid blue;
  border-radius: 10px;
  background: #2b2be3; /* green */
}
.mat-header-cell {
  font-size: 20px;
  background-color:#393737;
}
.childTable {
  background-color:#060b15;
  width: 100%;
  font-size: 26px;
}
.parentTable {
  background-color:#1f323e;
  width: 100%;
  font-size: 26px;
}
tr.detail-row {
  height: 0;
}
.edit-child-button {
  background: var(--additionalLightGreen);
}
.element-row td {
  border-bottom-width: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
}
/* .mat-column-secid, .mat-column-portfolioname {
  color: var(--additionalLightBlue)
} */
.mat-column-generated {
  color:var(--additionalLightGreen)
}
.mat-column-vdate {
  color:var(--additionalLightGreen)
}
.search-filed {
  font-size: 18px;
  border-radius: 9px;
  background-color: rgb(40, 40, 40);
  margin-right: 1%;
  padding:0.5%;
  }
