<mat-toolbar color="primary" mat-stretch-tabs>
  <span>{{action}} Restriction ID {{id?.value}}</span>
  <span style="flex: 1 1 auto;"></span>
  <span> Portfolio {{portfolioname.value}} ID: {{idportfolio.value}}</span>
</mat-toolbar>

<button mat-raised-button color="primary" 
  [disabled]="!(RestrictionMainForm.valid && submitbox.checked)"
  (click)="updateRestrictionData(action)"
  style="margin-top: 1%; width: 20%; margin-left: 1%;">
  {{action}} Restriction 
</button>
<mat-checkbox style= "padding: 1%;" #submitbox checked="false" 
  (click)=" RestrictionMainForm.markAllAsTouched();
  RestrictionMainForm.markAllAsTouched();"
  >Submit Data
</mat-checkbox>
<form  [formGroup]="RestrictionMainForm">
  <mat-form-field style="width: 30%;" title="restriction_type_id">
    <mat-select placeholder="Restriction" formControlName="restriction_type_id"(selectionChange)="restTypeChanged()">
      <mat-option *ngFor="let rest of restricionsType" [value]="rest.id" >
        {{rest.object_owner==='mmoexsecuritytypes'? rest.object_description+ ' ID:' + rest.object_id: rest.object_description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="value">
    <input matInput placeholder="Limit" formControlName="value"  >
    <mat-error  *ngIf="rstValue.errors?.['required']">
      Required!    
    </mat-error>
    <mat-error  *ngIf="rstValue.errors?.['pattern']">
      Only numbers!    
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="param">
    <input matInput placeholder="Parameter" formControlName="param"  >
    <mat-error  *ngIf="param.errors?.['required']">
      Required!    
    </mat-error>
    <mat-error  *ngIf="param.errors?.['pattern']">
      Only numbers!    
    </mat-error>
    <mat-error  *ngIf="param?.errors?.['noSecid']">
      Inccorect SecID!   
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 11%;" title="object_id" >
    <input matInput placeholder="SecType ID" formControlName="object_id"  >
  </mat-form-field>
  <br>
  <h4 style="margin-left: 0.5%;" class="warn-color"  *ngIf="RestrictionMainForm.invalid">Please check the form. Data is invalid</h4>
</form>