.mat-table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-child-row:not(.example-expanded-row):hover {
  background: rgb(43, 43, 245);
}

tr.example-child-row:not(.example-expanded-row):active {
  background: rgb(43, 43, 245);
}

.example-child-row td {
  border-bottom-width: 0;
}

.example-detail-block {
  overflow: hidden;
  display: flex;
}

