<mat-toolbar color="primary" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <span>{{action}} Fee Schedule ID {{id?.value}}</span>
</mat-toolbar>
<button mat-raised-button color="primary" 
  [disabled]="!(FeesMainForm.valid && submitbox.checked)"
  (click)="updateInstrumentData(action)"
  style="margin-top: 1px; width: 20%;  margin-left: 1%;">
  {{action}} Fee Schedule 
</button>
<mat-checkbox style= " padding: 1%;" #submitbox checked="false" 
  (click)=" FeesMainForm.markAllAsTouched();
  FeesMainForm.markAllAsTouched();"
  >Submit Data
</mat-checkbox>
<form  [formGroup]="FeesMainForm">
  <mat-form-field style="width: 30%;" title="Code">
    <input matInput placeholder="Code" formControlName="fee_code"  >
  </mat-form-field>
  <mat-form-field  style="width: 26%;" title="Fee Type">
    <mat-label>Fee Type</mat-label>
    <mat-select  #actionT formControlName="fee_type"  > 
      <mat-option  [value]="'1'">Management Fee</mat-option>
      <mat-option  [value]="'2'">Performance Fee</mat-option>
    </mat-select>
    <mat-error  *ngIf="fee_type.errors?.['required']">
      Required!    
    </mat-error>
  </mat-form-field>
  <mat-form-field  style="width: 16%;" title="Object Type">
    <mat-label>Object Type</mat-label>
    <mat-select   formControlName="fee_object_type"  > 
      <mat-option  [value]="1">Portfolio</mat-option>
      <mat-option  [value]="2">Account</mat-option>
    </mat-select>
    <mat-error  *ngIf="fee_object_type.errors?.['required']">
      Required!    
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 70%" title="Description">
    <input matInput placeholder="Description" formControlName="fee_description"  >
    <mat-error  *ngIf="fee_description.errors?.['required']">Required! </mat-error>
  </mat-form-field>
  <br>
  <div>
    <acc-fees-schedules-table 
      #schedules *ngIf="data?.id" [idFeeMain]="data?.id">
    </acc-fees-schedules-table>
  </div>
  <h4 style="margin-left: 0.5%;" class="warn-color"  *ngIf="FeesMainForm.invalid"> Please check the form. Data is invalid</h4>
</form>