<mat-tab-group  mat-stretch-tabs>
  <mat-tab label="Instruments List"> 
    <app-app-instrument-table [FormMode]="'DB'"></app-app-instrument-table >  
  </mat-tab>
  <mat-tab  label="Market Data" >
    <app-table-market-data
    FormMode="QuotesMode"
    ></app-table-market-data> 
  </mat-tab>  
    <mat-tab   label="Charts"> 
    <app-echart-marketdata-candle  style="height: 100%;"> </app-echart-marketdata-candle>
    <app-table-market-data
      FormMode="ChartMode"
    ></app-table-market-data> 
  </mat-tab>
  <mat-tab label="Currencies">
    <app-table-currencies-data
    FormMode="QuotesMode"
    ></app-table-currencies-data> 
  </mat-tab>
  <mat-tab label="Corporate Actions">
    <app-table-inst-corp-actions></app-table-inst-corp-actions>
  </mat-tab>
</mat-tab-group>