.content-container  {
  width:105%;
  height: 110%;
  color:rgb(231, 226, 226);
  border-radius: 15px;
  background-color: rgb(63, 62, 62);
}
.dialog-headline{
font-weight: 500;
padding: 5%;
/* margin: 1em; */
margin-bottom: 4%;
text-align: center;
font-size: 1em;
color:var(--contrastFontColor);
border-radius: 2%;
background-color:var(--accentColor)

}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
 height: unset;

}
