
<h1 class="dialog-headline" *ngIf="dialogType==='confirmDialog'"  style="white-space: pre-line"
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle>
  Please confirm your action:<br> {{actionToConfim.action}} 
</h1>
<h1 class="dialog-headline" *ngIf="dialogType==='jsonData'"
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle>
  {{captionTitle}} 
</h1>

<div class="content-container" > 
  <ng-container *ngIf="dialogType==='confirmDialog'">
  
  <button mat-raised-button color="success" type="submit" 
  (click)="submitAction()"
  style="margin-top: 10px;  font-size: 18px; min-width: 17wv; float: inline-start">
  {{actionToConfim.buttonLabel}} 
</button>
<button mat-raised-button color="successd" 
(click)="cancelAction()"
style="margin-top: 10px; width: 17wv; font-size: 18px; float: inline-end; margin-right: 5%;">
Cancel
</button>
</ng-container>
<ng-container *ngIf="dialogType==='jsonData'">
  <button color = "accent" mat-raised-button title="Export To Excel"
  style=" margin-left:1%; font-size: 18px;"
  (click)="exportToExcel()">
  Save as XLS 
  <mat-icon matSuffix >save_alt</mat-icon>
</button>
<!--   <pre *ngIf="jsonData" style="font-size:x-large;line-height: 1.5;"> {{jsonData|json }}</pre>
  <label>{{stringsJSON}}</label> -->
  <mat-list style="width: 99%;">
    <mat-list-item *ngFor="let item of stringsJSON">
      <p style="font-size:larger;white-space:initial;">
        <span style="color:darkcyan;">{{ item[0]+':' }} </span>  <span style="color: black;">{{item[1]}}</span>
      </p>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button color="success" type="submit" 
  (click)="submitAction()"
  style="margin-top: 10px; width:max-content; font-size: 18px; float: inline-start">
  {{actionToConfim.action}} 
</button>
</ng-container>
</div> 