  .mat-flat-button {
    font-size:small;
    color: rgb(255, 255, 255);
    margin-left: 2%;
  }
  .SelectNode:hover{
    color: rgb(36, 36, 36);
    cursor: pointer;
  }
  .background-highlight{
    color:rgb(137, 138, 137);
  }
  mat-tree-node {
    min-height: 44px;
  }

