<span> 
  <mat-form-field class="example-form-field" class = "filterText">
    <mat-label class="colorLabel">Type to search...</mat-label>
    <input 
      (keyup)="applyFilter($event)"
      [formControl]="filterlFormControl" 
      matInput type="text" #SearchTree  name="tableFilter"
      matTooltip="Use context menu to add filter"
     >
    <button matSuffix 
      mat-icon-button aria-label="Clear" 
      (click)="clearFilter()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  
  <button color = "accent" mat-raised-button 
    style=" margin-left:1%; font-size: 18px;"
    (click)="exportToExcel()">
    Save as XLS 
  </button>
</span>

<mat-expansion-panel class="first-expansion" 
  (opened)="panelOpenStateFirst = true"
  (closed)="panelOpenStateFirst = false" >
  <mat-expansion-panel-header >
    <mat-panel-title>
      Balance closing procedure
    </mat-panel-title>
    <mat-panel-description>
      Tap to {{panelOpenStateFirst? 'hide': 'open'}} control elements
      <mat-icon color = 'accent'>account_balance</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <form class="submit"   style="font-size: 18px;   margin-top: 1%;">
    <span style="display: flex;  justify-content: space-between;   align-items: center;">
    <span style="display: flex;  justify-content: space-between;   align-items: center; width:22%;margin-left: 1%;">
      <button color = "primary" mat-raised-button 
      style=" margin-left:1%; font-size: 18px;"
      (click)="accountingBalanceClose()">
      Close Balance
    </button>
    <mat-form-field style=" margin-left: 2%;" >
      <input matInput [min]="FirstOpenedAccountingDate" [matDatepicker]="closedate" placeholder="Operating day to close" 
      [value]="firstClosingDate" [disabled]="true" >
      <mat-datepicker-toggle matSuffix [for]="closedate"></mat-datepicker-toggle>
      <mat-datepicker  #closedate></mat-datepicker>
    </mat-form-field>
  </span>
  <span style="display: flex;  justify-content: space-between;   align-items: center; width:54%; margin-left: 2%;"> 
      <button color = "accent" mat-raised-button 
        style="  font-size: 18px;"
        (click)="checkBalance(iBalanceDate.value)">
        Check Balance
      </button>
      <mat-form-field style=" margin-left: 2%;" >
        <input #iBalanceDate matInput  [matDatepicker]="balancedate" [min]="dateOfOperaationsStart" placeholder="Date to veirfy balance" 
        [value]="LastClosedDate">
        <mat-datepicker-toggle matSuffix [for]="balancedate"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #balancedate></mat-datepicker>
      </mat-form-field>


    <div  style="margin-left:1%; width:50%; color:  rgb(191, 188, 188);;">
      <p class="mat-form-field" style = "margin-left:1%; color:rgb(198, 255, 215);">
        <span style="color:  rgb(191, 188, 188); font-weight: bold;"
        [style.color]=" (totalActive - totalPassive) ==0 ? 'green' : 'rgb(114, 0, 0)'" >
          {{
            (totalActive - totalPassive) ==0? 'Active = Passive : '+ (totalActive | number):
          'Balance incorrect!! Difference is' + ((totalActive - totalPassive) | number )}}
        </span>
      </p>
      <p  *ngIf="(entriesTotal!=0)" class="mat-form-field" style = "margin-left:1%; color:rgb(198, 255, 215);"> 
        <span style="color:  rgb(191, 188, 188); font-weight: bold;"
        [style.color]=" (totalDebit - entriesTotal) ==0 ? 'green' : 'red'" >
          {{
            (totalDebit - entriesTotal) == 0? 'Debit = Entries : '+ (entriesTotal | number):
          'Balance incorrect!! Difference is ' + ((totalDebit - entriesTotal) | number )}}
        </span>
      </p>
    </div>

  </span>
<span style="display: flex;  justify-content: space-between;   align-items: center; width:22%; margin-right: 2%;"> 
      <mat-form-field  >
        <input #iBalanceDateToOpen matInput  [matDatepicker]="openBalanceDatePicker" placeholder="Operating day to open" 
        [value]="LastClosedDate" disabled="true">
        <mat-datepicker-toggle matSuffix [for]="openBalanceDatePicker"></mat-datepicker-toggle>
        <mat-datepicker [dateClass]="dateClass" #openBalanceDatePicker></mat-datepicker>
      </mat-form-field>
      <button color = "warn" mat-raised-button 
      style="  font-size: 18px;"
      (click)="openBalance(iBalanceDateToOpen.value)">
      Open Balance
    </button>
  </span>
  </span>


    <mat-divider style="margin-bottom: 1%;"></mat-divider>


  </form>
</mat-expansion-panel>
<mat-expansion-panel class="headers-align" 
  (opened)="panelOpenStateSecond = true"
  (closed)="panelOpenStateSecond = false" >
  <mat-expansion-panel-header >
    <mat-panel-title>
      Complex search
    </mat-panel-title>
    <mat-panel-description>
      Tap to {{panelOpenStateSecond? 'hide': 'open'}} additional parameters
      <mat-icon color = 'accent'>filter_alt</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <form class="submit" [formGroup]="searchParametersFG"  style="font-size: 18px; ">
     <span style="display: flex;  justify-content: space-between;   align-items:flex-start;  margin-right: 1%;margin-top: 0.2%;">
      <span style="display:grid; width: 15%;">
    <button color = "primary"  class= "button-color" mat-raised-button 
      style="margin:1%; font-size: 18px;"
      (click)="submitQuery()">
      Submit
    </button>
    <button color = "accent" mat-raised-button 
    style="margin:1%; font-size: 18px;"
    (click)="searchParametersFG.reset();
    this.accounts=['ClearAll']">
    ClearAll
   </button>
  </span>
 
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="dataRange" [min]="dateOfOperaationsStart" [rangePicker]="picker" >
        <input matStartDate  placeholder="Start date" formControlName="dateRangeStart">
        <input matEndDate  placeholder="End date" formControlName="dateRangeEnd">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker [dateClass]="dateClass" #picker></mat-date-range-picker>
      <mat-error *ngIf="dataRange.controls.dateRangeStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="dataRange.controls.dateRangeEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <mat-form-field class="example-chip-list" appearance="fill" style="width: 40%; ">
      <mat-chip-list #chipList aria-label="Fruit selection"  >
        <mat-chip *ngFor="let account of accounts" 
        (removed)="remove(account)"
        (click)=" clearAll($event);"
        >
          {{account}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input 
        placeholder="Add account or account,account1,account2.."
        formControlName="noAccountLedger"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
        matTooltip="Type account number or paste accounts list separated by comma and press enter" >
        <button style="font-size: 16px;" mat-raised-button matSuffix (click)="selectAccounts('ledger')">
          <mat-icon *ngIf="action!=='View'" class = "icon_search">search</mat-icon> MultiSelect </button>
      </mat-chip-list>
    </mat-form-field>
    <button color = "accent"  class= "button-color" mat-raised-button 
      style="margin:1%; font-size: 18px;"
      (click)="balanceDeepCheck(dataRange.controls.dateRangeEnd.value.toDateString(),dataRange.controls.dateRangeStart.value.toDateString()) ">
      Balance Deep Check
    </button>
    <p  class="mat-form-field" style = " color:rgb(198, 255, 215);"> 
      <span style="color:  rgb(191, 188, 188);white-space: pre-line;"
      [style.color]=" (totalDebit - entriesTotal) ==0 ? 'green' : 'red'" >
        {{
          (totalDebit - entriesTotal) == 0? 'Balance = Entries : '+ (entriesTotal | number):
        'Balance incorrect!!\n Difference is ' + ((totalDebit - entriesTotal) | number )}}
      </span>
    </p>
  </span>
    <p>

    </p>
  </form>
</mat-expansion-panel>

<div class="mat-elevation-z8">
  <table  #strategyTable mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{columnsHeaderToDisplay[i]  | titlecase}}</th>
      <td 
        [ngStyle]="{'color': element['datePreviousBalance'] == null ? 'rgb(198, 255, 215)' : 'white'}"
        mat-cell 
        *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu"  > 
        <span [ngSwitch]="true==true">
          <p *ngSwitchCase="['dateBalance','datePreviousBalance'].includes(column)">
            <button mat-stroked-button matTooltip="Entries list by account for the date"
              *ngIf="column=='dateBalance'"
              (click)="showEntries(element)">
              {{ element[column] | date }}
            </button>
            <span *ngIf="column!=='dateBalance'">
              {{ element[column] == null ? element['dateBalance']=='2049-12-31T21:00:00.000Z'? 'Entries': 'Day is open' : element[column] | date }}
            </span>
          </p>          
          <p *ngSwitchCase="['openingBalance','totalCredit', 'totalDebit', 'OutGoingBalance', 'checkClosing'].includes(column)">
            {{element[column] | currency}}
          </p>
          <p *ngSwitchCase="['accountNo'].includes(column)">
            <button mat-stroked-button style="width: 80%;"  matTooltip="Account details"
              (click)="showAccounInfo(element)">
              {{element[column] }}
            </button> 
          </p>
          
          <p *ngSwitchDefault>
            {{element[column]}}  
          </p>
        </span>
        <ng-template  #instrumentcontextmenu>
          <div class="tree-menu-context" *ngIf="!readOnly" cdkMenu >
            <button 
              (click)="
                updateFilter($event, element[column],column);
                iBalanceDate.value = filterDateFormated;"
              class="tree-menu-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
              Add to filter
            </button> 
            <button 
              (click)="addChips( element[column], column)"
              class="tree-menu-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>filter_alt</mat-icon> 
              ComplexFilter
            </button> 
          </div>
        </ng-template>   
     
      </td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    
    <ng-container matColumnDef="expandedDetail" >
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row  *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr> -->
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" aria-label="Select page of users"></mat-paginator>
</div>
