.mat-stroked-button {
  font-size: 18px;
}
.wrapper {
  
  display: flex;  justify-content: space-between;   align-items: center; width:23%; margin-right: 3%;

}
.cl-space-evenly {
 
  display:inline-flex;  
}
button.date-orange  {
  background: rgb(0, 140, 255);
  border-radius: 100%;
}
.button-color {
color: #d3d3d3;
}
.mat-flat-button {
  font-size: 18px;
  
}
.icon_search {
  color: rgb(143, 140, 239);
  transform: scale(1.3) !important
}
.mat-expansion-panel-header {
  margin-left: 1%;
}
.first-expansion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color:rgb(198, 255, 215);
  font-weight: bold;
  font-size: 18px;

}
.first-expansion  .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  color: rgb(239, 237, 237);
  font-weight: bold;
  font-size: 20px;

}
.first-expansion  .mat-expansion-panel-header {
  background-color: #807f7f;
  margin-left: 1%;

}

.headers-align  .mat-expansion-panel-header {
  background-color: #5d5c5c;
  margin-left: 1%;

}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color: rgb(241, 136, 136);
  font-weight: bold;
  font-size: 18px;

}
.headers-align .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  color: rgb(191, 188, 188);
  font-weight: bold;
  font-size: 20px;

}
.filterText {
  width: 20%;
  font-size: 20px;
}
.mat-expansion-panel {
margin-left: 1%;
}
.tree-menu-context {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 350px;
  background-color: rgb(184, 184, 184);
  padding: 3px 0;
  font-size: 18px;
}

.tree-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 6px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
.tree-menu-item:hover {
  background-color: rgb(237, 162, 162);
}
.tree-menu-item:active {
  background-color: rgb(147, 128, 128);
}
.menu-icon {
  margin-left: 0px;
  margin-right: 5px;
}
.row_field_name {
  font-weight: bold;
  color: cadetblue;
}
.mat-table {
  background-color:#4f4e4e;
  width: 100%;
  font-size: 26px;
  margin-left: 1%;
}
.mat-header-cell {
  margin-left: 1%;

  font-size: 20px;
  background-color:#393737;
}
.mat-paginator {
  margin-left: 1%;
}
/* .mat-input-element {
  font-size: 24px;
  background-color:#4f4e4e;
} */
.colorLabel {
  color: rgb(238, 113, 113);
}
.mat-form-field {
  margin-left: 1%;
  font-size: 18px;
 
}

.mat-cell {
  font-size: 18px;
}
tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  // padding: 16px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(43, 43, 245);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: rgb(43, 43, 245);
}
/* tr.example-element-row:not(.example-expanded-row):active {
  background: rgb(198, 255, 215);
} */
.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  color: rgb(114, 0, 0);
}

