<mat-toolbar color="primary" mat-stretch-tabs >
  <span>{{title}} Instrument</span>
</mat-toolbar>
<form  [formGroup]="instrumentDetailsForm">
  <div>
    <button mat-raised-button color="primary" 
      [disabled]="!(instrumentDetailsForm.valid && submitbox.checked)"
      (click)="updateInstrumentData(action)"
      style="margin-top: 1px; width: 20%;  margin-left: 0.5%;">
      {{title}} Instrument
    </button>
    <mat-checkbox style= "padding: 1%;" #submitbox checked="false" 
      (click)=" instrumentDetailsForm.markAllAsTouched();
      instrumentDetailsForm.markAllAsTouched();"
      >Submit Data
    </mat-checkbox>
  </div>
  <mat-form-field  style="width: 26%;" title="Board Code">
    <mat-label>Board Code</mat-label>
    <mat-select  #mainBoard formControlName="boardid"  > 
      <ng-container *ngFor="let moexBoard of moexBoards">
      <mat-option  [value]="moexBoard.boardid">
          {{moexBoard.boardid }} - {{moexBoard.board_title}}
      </mat-option>
      </ng-container>
    </mat-select>
    <mat-error  *ngIf="boardid.errors?.['required']">
      Required!    
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 5%;" title="listlevel">
    <input matInput placeholder="List Level" formControlName="listlevel" >
  </mat-form-field>
  <mat-form-field style="width: 7%;" title="lotsize">
    <input matInput placeholder="Lot Size" formControlName="lotsize" >
  </mat-form-field>
  <mat-form-field style="width: 5%;" title="decimals">
    <input matInput placeholder="Decimals" formControlName="decimals" >
  </mat-form-field>
  <mat-form-field style="width: 15%;" title="issuevolume"  >
    <input matInput placeholder="Issue Volume" formControlName="issuevolume" [disabled]="true" [value]="issuesize.value*facevalue.value | number" >
    <mat-hint>{{issuesize.value*facevalue.value | number}}</mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 10%;" title="issuesize">
    <input matInput placeholder="Issue Size" formControlName="issuesize" >
    <mat-hint >{{issuesize.value | number}}</mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 10%;" title="marketcode">
    <input matInput placeholder="MarketCode" formControlName="marketcode" >
  </mat-form-field>

  <h4 style="color:var(--warnColor)" *ngIf="instrumentDetailsForm.invalid"> Please check the form. Data is invalid</h4>
</form>