
 .client_form {
  width: 1100px;
  height: 90vh;
 }
  
  .mat-tab-label-active{
    background-color: rgb(67, 79, 79);
    border-radius: 5px;
  }
  .tree-menu-context {
    display: inline-flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 280px;
    background-color: rgb(255, 255, 255);
    padding: 1px 0;
    font-size: 18px;
  }
  
  .tree-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
  
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 6px;
  
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
  
  .tree-menu-item:hover {
    background-color: rgb(237, 162, 162);
  }
  
  .tree-menu-item:active {
    background-color: rgb(147, 128, 128);
  }

  .menu-icon {
    margin-left: 0px;
    margin-right: 5px;
  }