
<app-app-instrument-table 
*ngIf="messageReceived.text=='Instruments_Root'"
></app-app-instrument-table>  
  <mat-tab-group  *ngIf="messageReceived.text=='Accounts' " mat-stretch-tabs #AccountInfo >
    
  <mat-tab label="Account Summary" > </mat-tab>  
  <mat-tab label="Portfolio Details"> Detailed positions with PnL data 
  

  </mat-tab>
  <mat-tab label="Trades by Account"> Trades history by Account </mat-tab>
</mat-tab-group  >

<!-- <mat-icon [matMenuTriggerFor]="menu" >more_vert</mat-icon>   -->
<mat-tab-group *ngIf="messageReceived.text=='Instruments'" mat-stretch-tabs #InstrumentInfo>
  <mat-tab label="Instrments table" >
    <br>
    <app-app-instrument-edit-form
    [secid]="messageReceived.name"
    (change)="handleChange($event)"
    ></app-app-instrument-edit-form> 
  </mat-tab>  
  <mat-tab label="Positions"> Detailed positions with deviations versus model Portfolio  </mat-tab>
  <mat-tab label="Trades by Instrument"> Trades history by Instrument</mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="messageReceived.text=='Strategies'" #StrategiesInfo mat-stretch-tabs>
  <mat-tab label="Strategy Structure" >
    <div class="client_form">
      <br>
      <app-app-strategy-form
      [action] = "Edit"
      
      [client]="messageReceived.id">
      </app-app-strategy-form> 
    </div>
  </mat-tab>  
  
  <mat-tab label="Positions by Strategy"> 
    <ng-template #context_menu>
      <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>Cut</button>
        <button class="example-menu-item" cdkMenuItem>Copy</button>
        <button class="example-menu-item" cdkMenuItem>Link</button>
      </div>
    </ng-template>
      </mat-tab>
  <mat-tab label="Trades by Strategy"> Trades by Strategy history  </mat-tab>
  <mat-tab label="Orders by Strategy"> Orders by Strategy history  </mat-tab>
</mat-tab-group>

<mat-tab-group  *ngIf="messageReceived.text=='Trades & Orders'" mat-stretch-tabs #TradesOrdersInfo>
  <mat-tab label="Orders" >OrdersTable
  </mat-tab>  
  <mat-tab label="Trades"> Trades table  </mat-tab>
  <mat-tab label="Positions"> Positions table  </mat-tab>
  <mat-tab label="Orders by Strategy"> Orders history  </mat-tab>
</mat-tab-group>

<mat-tab-group  *ngIf="messageReceived.text=='Clients'" mat-stretch-tabs #ClientInfo>
  <mat-tab label="Client Summary" >
    <div class="client_form">
      <br>
      <app-app-client-form
      [action] = "Edit"
      [client]="messageReceived.id">
      </app-app-client-form> 
    </div>
  </mat-tab>  
  <mat-tab label="Client Accounts">
    <app-app-accout-tablee style=""
      [clientId]="messageReceived.id"
      [actionOnAccountTable]="'Get_Accounts_By_CientId'"
    >
  </app-app-accout-tablee> 
  </mat-tab>
  <mat-tab label="Positions"> Positions table  </mat-tab>
</mat-tab-group>

<app-app-trades-table *ngIf="messageReceived.text=='Trades & Orders_Root'">
</app-app-trades-table>

<app-app-clients-table *ngIf="messageReceived.text=='Clients_Root'">
</app-app-clients-table>    


<app-table-strategies *ngIf="messageReceived.text=='Strategies_Root'">
</app-table-strategies>     

<mat-tab-group  *ngIf="messageReceived.name=='Cash In/Out Menu'" mat-stretch-tabs>
  <mat-tab  label="Transactions List" >
    <app-table-acc-entries style="width: 150%;"></app-table-acc-entries>
  </mat-tab>  
  <mat-tab   label="SWIFT Statements processing "> 
    <app-table-swift-IN-list style="width: 150%;"></app-table-swift-IN-list>
  </mat-tab>
  <mat-tab label="Statement Reconcilation"> Statement Reconcilation  </mat-tab>
</mat-tab-group>

