
<app-app-instrument-table 
*ngIf="messageReceived.text=='Instruments_Root'"
></app-app-instrument-table>  
  <mat-tab-group  [matMenuTriggerFor]="menu" *ngIf="messageReceived.text=='Accounts' " mat-stretch-tabs #AccountInfo >
    
  <mat-tab label="Account Summary" > </mat-tab>  
  <mat-tab label="Portfolio Details"> Detailed positions with PnL data 
  

  </mat-tab>
  <mat-tab label="Trades by Account"> Trades history by Account </mat-tab>
</mat-tab-group  >

<!-- <mat-icon [matMenuTriggerFor]="menu" >more_vert</mat-icon>   -->
<mat-tab-group *ngIf="messageReceived.text=='Instruments'" mat-stretch-tabs #InstrumentInfo>
  <mat-tab label="Instrments table" >
    <br>
    <app-app-instrument-edit-form
    [secid]="messageReceived.name"
    (change)="handleChange($event)"
    ></app-app-instrument-edit-form> 
  </mat-tab>  
  <mat-tab label="Positions"> Detailed positions with deviations versus model Portfolio  </mat-tab>
  <mat-tab label="Trades by Instrument"> Trades history by Instrument</mat-tab>
</mat-tab-group>

<mat-tab-group *ngIf="messageReceived.text=='Strategies'" #StrategiesInfo mat-stretch-tabs>
  <mat-tab label="Strategy Structure" >
    <div class="client_form">
      <br>
      <app-app-strategy-form
      [action] = "Edit"
      
      [client]="messageReceived.id">
      </app-app-strategy-form> 
    </div>
  </mat-tab>  
  
  <mat-tab label="Positions by Strategy"> 
    
    
    <div [cdkContextMenuTriggerFor]="context_menu">
      Did you ever hear the tragedy of Darth Plagueis The Wise? I thought not. It's not a story the Jedi
      would tell you. It's a Sith legend. Darth Plagueis was a Dark Lord of the Sith, so powerful and so
      wise he could use the Force to influence the midichlorians to create life… He had such a knowledge
      of the dark side that he could even keep the ones he cared about from dying. The dark side of the
      Force is a pathway to many abilities some consider to be unnatural. He became so powerful… the
      only thing he was afraid of was losing his power, which eventually, of course, he did.
      Unfortunately, he taught his apprentice everything he knew, then his apprentice killed him in his
      sleep. Ironic. He could save others from death, but not himself.
    </div>
    
    <ng-template #context_menu>
      <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>Cut</button>
        <button class="example-menu-item" cdkMenuItem>Copy</button>
        <button class="example-menu-item" cdkMenuItem>Link</button>
      </div>
    </ng-template>
      </mat-tab>
  <mat-tab label="Trades by Strategy"> Trades by Strategy history  </mat-tab>
  <mat-tab label="Orders by Strategy"> Orders by Strategy history  </mat-tab>
</mat-tab-group>

<mat-tab-group  *ngIf="messageReceived.text=='Trades & Orders'" mat-stretch-tabs #TradesOrdersInfo>
  <mat-tab label="Orders" >OrdersTable


  </mat-tab>  
  <mat-tab label="Trades"> Trades table  </mat-tab>
  <mat-tab label="Positions"> Positions table  </mat-tab>
  <mat-tab label="Orders by Strategy"> Orders history  </mat-tab>
</mat-tab-group>

<mat-tab-group [cdkContextMenuTriggerFor]="tabcontextmenu" *ngIf="messageReceived.text=='Clients'" mat-stretch-tabs #ClientInfo>

  <mat-tab label="Client Summary" >
    <div class="client_form">
      <br>
      <app-app-client-form
      [action] = "Edit"
      
      [client]="messageReceived.id">
      </app-app-client-form> 
    </div>
  </mat-tab>  
  
  <mat-tab label="Client Accounts">
    <button 
      mat-raised-button style="float: inline-end; margin: 8px;" color="primary">
      Add new account
    </button>
    <app-app-accout-tablee 
      style="padding: 20px;"
      [clientId]="messageReceived.id"
      [actionOnAccountTable]="'Get_Accounts_By_CientId'"
    >
  </app-app-accout-tablee> 
  </mat-tab>
  <mat-tab label="Positions"> Positions table  </mat-tab>
</mat-tab-group>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<ng-template  #tabcontextmenu>
  <div class="tree-menu-context" cdkMenu>
    <button  class="tree-menu-item" cdkMenuItem> Add to favorites</button>
    <button class="tree-menu-item" cdkMenuItem> New Item </button>
    <button class="tree-menu-item" cdkMenuItem> Edit Item</button>
  </div>
</ng-template>

<app-app-trades-table *ngIf="messageReceived.text=='Trades & Orders_Root'">
</app-app-trades-table>

<app-app-clients-table *ngIf="messageReceived.text=='Clients_Root'">
</app-app-clients-table>    


<app-table-strategies *ngIf="messageReceived.text=='Strategies_Root'">
</app-table-strategies>     

