<nav class="navbar navbar-expand-sm navbar-dark bg-primary"  style="align-items: center;">
  <mat-form-field 
  style="color: black;; margin-left: 1%;font-size: large; background-color: rgb(46, 93, 147); text-align: center; width: 12%; border-radius: 12px;"  >
    <mat-label style="color: black;">Select Portfolio..</mat-label>
    <mat-select >
      <mat-option *ngFor="let portfolio of portfolios" (click)="onChangeCountry(portfolio)"  [value]="portfolio">{{portfolio}}</mat-option>
    </mat-select>
  </mat-form-field>
  <a class=" navbar-brand mx-auto" style="align-items: center;">Time-Weighted Rate of Return - TWR</a>
</nav>

<div *ngIf="seriesCandle.length!==0" style="background-color: azure;">
<div style="width: 98%; top: 1%;" >
  <div echarts [options]="countryCasesChartOptions" style="width: 100%; min-height: 700px" class="demo-chart"></div>
</div>
</div> 