.row_field_name {
  font-weight: bold;
  color: cadetblue;
}
.mat-table {
  width: 100%;
  /* background-color: #313131; */
  /* background-color: #5e5e5e; */
}
.mat-header-cell {
  margin-left: 10px;
  font-size: 20px;
  background-color:#393737;
}
tr.detail-row {
  height: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
}
.element-description {
  padding: 1%;
  
}
