.row_field_name {
  font-weight: bold;
  color: cadetblue;
}
.mat-table {
  background-color:#313131;
  width: 100%;
}
tr.detail-row {
  height: 0;
}
.detail-block {
  overflow: hidden;
  display: flex;
}
.element-description {
  padding: 1%;
  
}
