mat-expansion-panel-header {
  font-size: 20px;
}
.mat-checkbox {
  transform: scale(1.2);
  margin-left:2%;
}
.mat-toolbar {
margin-bottom:10px;
 border-radius: 5px;
 color:#c1b9b9;
}
.mat-form-field {
  font-size: 20px;
  border-radius: 9px;
  width: 400px;
  background-color: var(--formFieldLightGray);
  margin: 10px;
  padding:10px;
  }
::ng-deep .mat-form-field-disabled {
  background:rgb(6, 6, 6)  !important;
}
