.tree-menu-context {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 350px;
  background-color: rgb(184, 184, 184);
  padding: 3px 0;
  font-size: 18px;
}
.mat-column-select {
  overflow: initial;
}

.tree-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 6px;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
.tree-menu-item:hover {
  background-color: rgb(237, 162, 162);
}
.tree-menu-item:active {
  background-color: rgb(147, 128, 128);
}
.mat-input-element {
  font-size: 24px;
  background-color:#4f4e4e;
}
.mat-form-field {
  margin-left: 1%;
  font-size: 24px;
  width: 20%;
}

.mat-table {
  background-color:#4f4e4e;
  width: 100%;
  margin-left: 1%;
}
.mat-header-cell {
  margin-left: 1%;
  font-size: 20px;
  background-color:#393737;
}
.mat-paginator {
  margin-left: 1%;
}


.mat-checkbox.mat-accent .mat-checkbox-inner-container {
  margin: 2px 8px auto 0;
}

.mat-cell {
  font-size: 18px;
  vertical-align: middle;
}


tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(43, 43, 245);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: rgb(43, 43, 245);
}





