
 <div style="display: flex;">
  <mat-form-field   style="width: 12%; text-align: center;" class="no-hint-fields" >
    <mat-label>Select Portfolio..</mat-label>
    <mat-select  #selectPortfolio>
      <mat-option *ngFor="let portfolio of portfolios" (click)="onChangePortfolio(portfolio)"  [value]="portfolio">{{portfolio}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span style="flex: 1 1 auto;"></span>
  <label style="font-size: large; align-items: flex-end;width: 30%; margin-top: 1%; ">
    Revenue Factor Analysis
    <mat-icon color="accent" style="transform: scale(1.5);margin-left: 2%; margin-bottom: -1%;">monetization_on</mat-icon>
  </label> 
  <label #fontlarge> </label>
</div>
<div *ngIf="instrumentsList.length!==0" style="background-color:azure;">
  <div style="width: 100%; top: 1%;">
    <div echarts [options]="revenueFactorOptions" style="width: 100%; min-height: 70vh"></div>
  </div>
</div> 