<mat-form-field  class = "filter-field" >
  <mat-label>Type to search...</mat-label>
  <input 
    (keyup)="applyFilter($event)"
    matInput type="text" #filter  name="tableFilter"
    matTooltip="Use context menu to add filter">
  <button matSuffix 
    mat-icon-button aria-label="Clear" 
    (click)="clearFilter(filter)">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<button color = "accent" mat-raised-button 
  style=" margin-left:1%; "
  (click)="exportToExcel()">
  Save as XLS 
  <mat-icon matSuffix >save_alt</mat-icon>
</button>
<button color = "accent" mat-raised-button 
  style=" margin-left:1%; "
  (click)="submitQuery()">
  Reload 
  <mat-icon matSuffix >refresh</mat-icon>
</button>
<button color = "accent" mat-raised-button [disabled]="disabledControlElements||!instrument?.secid"
  style=" margin-left:1%; "
  (click)="openCorpActionForm('Create',null)">
  Create item 
  <mat-icon matSuffix >add_circle</mat-icon>
</button>
<table  #strategyTable mat-table [dataSource]="dataSource" multiTemplateDataRows matSort >
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsHeaderToDisplay[i]  | titlecase}} </th>
    <td mat-cell *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu"> 
      <span [ngSwitch]="true==true">
        <p *ngSwitchCase="['date'].includes(column)">
            {{ element[column] | date }}
        </p>   
        <p *ngSwitchCase="['unredemeedvalue','notinal','issuevolume','couponamount'].includes(column)">
          {{ element[column] | number }}
        </p>        
        <p *ngSwitchCase="['action'].includes(column)">
          <button  *ngIf="disabledControlElements" mat-icon-button 
            aria-label="expand row" color="accent"
            mat-icon-button aria-label="expand row" color="accent"
            matTooltip="View entry (day is closed)"
            (click)="openCorpActionForm('View', element )">
            <mat-icon >pageview</mat-icon>
          </button>
          <ng-container  *ngIf="!disabledControlElements">
            <button   
              mat-icon-button 
              aria-label="expand row" color="accent"
              matTooltip="Edit entry"
              (click)="openCorpActionForm('Edit', element)">
              <mat-icon >edit</mat-icon>
            </button>
            <button 
              mat-icon-button 
              style="margin-left: 5%;" aria-label="expand row" color="accent" 
              matTooltip="Delete entry"
              (click)="openCorpActionForm('Delete', element)">
              <mat-icon >delete</mat-icon>
            </button>
          </ng-container>
        </p>
        <p *ngSwitchDefault>
          {{element[column]}}
        </p>
      </span>
      <ng-template  #instrumentcontextmenu>
        <div class="menu-context" cdkMenu *ngIf="!disabledControlElements">
            <button 
              (click)="openCorpActionForm('View', element)"
              class="menu-context-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>pageview</mat-icon> 
              View CorpAction
            </button> 
            <button 
              class="menu-context-item" cdkMenuItem 
              (click)="openCorpActionForm('Create', element)">
              <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
              New CorpAction
            </button>
            <button 
              class="menu-context-item" cdkMenuItem 
              (click)="openCorpActionForm('Create_Example', element)">
              <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
              New CorpAction (on sample)
            </button>
            <button 
              class="menu-context-item" cdkMenuItem
              (click)="openCorpActionForm('Edit', element)">
              <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
              Edit CorpAction
            </button>
            <button 
              class="menu-context-item" cdkMenuItem
              (click)="openCorpActionForm('Delete', element)">
              <mat-icon class="menu-icon" matPrefix>delete</mat-icon> 
              Delete CorpAction
            </button> 
        </div>
      </ng-template>   
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row  *matRowDef="let element; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" aria-label="Select page of users"></mat-paginator>
