<mat-toolbar color="primary" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4" style="margin-bottom: 0.5%;"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane" 
  cdkDragHandle>
  <span>{{action}} Transaction Type ID {{id?.value}}</span>
</mat-toolbar>

<button mat-raised-button color="primary" 
  [disabled]="!(TransactionTypeForm.valid && submitbox.checked)"
  (click)="updateTransactionTypeData(action)"
  style=" width: 20%;  margin-left: 1%;">
  {{action}} Transaction Type 
</button>
<mat-checkbox  #submitbox checked="false" style="margin-left: 1%;"
  (click)=" TransactionTypeForm.markAllAsTouched();
  TransactionTypeForm.markAllAsTouched();"
  >Submit Data
</mat-checkbox>
<form  [formGroup]="TransactionTypeForm">
  <mat-form-field style="width: 10%;" title="Code">
    <input matInput placeholder="Code" formControlName="xActTypeCode_Ext"  >
    <mat-error *ngIf="xActTypeCode_Ext.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 25%;" title="Type">
    <mat-select placeholder="Type" formControlName="code2">
      <mat-option *ngFor="let type of TransactionTypes" [value]="type[0]">
        {{type[1]}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="code2.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 40%;" title="description">
    <input matInput placeholder="description" formControlName="description"  >
    <mat-error *ngIf="description.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 15%;" title="Manual Edit">
    <mat-select placeholder="Manual Edit" formControlName="manual_edit_forbidden">
      <mat-option  [value]="true">Forbidden</mat-option>
      <mat-option  [value]="false">Allowed</mat-option>
    </mat-select>
  </mat-form-field>
  <h4 style="margin-left: 0.5%;" class="warn-color"  *ngIf="TransactionTypeForm.invalid"> Please check the form. Data is invalid</h4>
</form>