<mat-toolbar color="primary" mat-stretch-tabs 
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle>
  <span>{{action==='Create_Example'? 'Create':action}} LL Accounting Scheme {{id?.value}}</span>
</mat-toolbar>

<button mat-raised-button color="primary" 
  [disabled]="!(SchemeFormAL.valid && submitbox.checked)"
  (click)="updateSchemeDataLL(action)"
  style="margin-top: 1px; width: 20%;  margin-left: 1%; margin-top: 1%;">
  {{action==='Create_Example'? 'Create':action}} LL Accounting Scheme
</button>
<mat-checkbox color="primary"  #submitbox checked="false" style = "margin-left: 1%;" 
  (click)=" SchemeFormAL.markAllAsTouched();
  SchemeFormAL.markAllAsTouched();"
  >Submit Data
</mat-checkbox>
<form  [formGroup]="SchemeFormAL">
  <p>
    <mat-form-field style="width: 15%;" title="Scheme Code">
      <input matInput placeholder="Scheme Code" formControlName="cSchemeGroupId"  >
      <mat-error *ngIf="cSchemeGroupId.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 20%;" title="Type">
      <mat-select placeholder="Type" formControlName="XactTypeCode" (selectionChange)="changeTransactionType()">
        <mat-option *ngFor="let type of TransactionTypes" [value]="type[0]">
          {{type[1]}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="XactTypeCode.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>

    <mat-form-field style="width: 25%;" title="Code">
      <mat-select placeholder="Code" formControlName="XactTypeCode_Ext">
        <mat-option *ngFor="let item of TransactionCodesFiltered" [value]="item.id">
         {{item.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="XactTypeCode_Ext.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
  </p>
  <p *ngIf="XactTypeCode.value==='2'">
    <mat-form-field style="width: 14%;" title="Debit ID">
      <input matInput placeholder="Debit ID" formControlName="accountId"  >
      <mat-error *ngIf="accountId.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 25%" title="Debit">
      <input matInput placeholder="Debit" formControlName="account_no" [readonly]="true"  >
      <button mat-flat-button matSuffix color="accent" 
      matTooltip="Select Instrument"
      (click)="selectAccount() ">
      <mat-icon >input</mat-icon>
      </button>
      <mat-error *ngIf="ledgerNoId.errors?.['required']">
       Required! (Use button to select)
      </mat-error>
      <mat-hint  *ngIf="ledgerNoId.valid">
        Use button to change account
      </mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 14%;" title="Credit ID">
      <input matInput placeholder="Credit ID" formControlName="ledgerNoId"  >
      <mat-error *ngIf="ledgerNoId.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 25%" title="Credit">
      <input matInput placeholder="Credit" formControlName="ledger_no" [readonly]="true"  >
      <button mat-flat-button matSuffix color="accent" 
      matTooltip="Select Instrument"
      (click)="selectLedger() ">
      <mat-icon >input</mat-icon>
      </button>
      <mat-hint  *ngIf="ledger_no.valid">
        Use button to chage account
      </mat-hint>
      <mat-error *ngIf="ledger_no.errors?.['required']">
        Required! (Use button to select)
      </mat-error>
    </mat-form-field>
  </p>
  <p *ngIf="XactTypeCode.value==='1'">
    <mat-form-field style="width: 14%;" title="Debit ID">
      <input matInput placeholder="Debit ID" formControlName="ledgerNoId"  >
      <mat-error *ngIf="ledgerNoId.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 25%" title="Debit">
      <input matInput placeholder="Debit" formControlName="ledger_no" [readonly]="true"  >
      <button mat-flat-button matSuffix color="accent" 
      matTooltip="Select Instrument"
      (click)="selectLedger() ">
      <mat-icon >input</mat-icon>
      </button>
      <mat-error *ngIf="ledgerNoId.errors?.['required']">
       Required! (Use button to select)
      </mat-error>
      <mat-hint  *ngIf="ledgerNoId.valid">
        Use button to change account
      </mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 14%;" title="Credit ID">
      <input matInput placeholder="Credit ID" formControlName="accountId"  >
      <mat-error *ngIf="accountId.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 25%" title="Credit">
      <input matInput placeholder="Credit" formControlName="account_no" [readonly]="true"  >
      <button mat-flat-button matSuffix color="accent" 
      matTooltip="Select Instrument"
      (click)="selectAccount() ">
      <mat-icon >input</mat-icon>
      </button>
      <mat-hint  *ngIf="ledger_no.valid">
        Use button to chage account
      </mat-hint>
      <mat-error *ngIf="ledger_no.errors?.['required']">
        Required! (Use button to select)
      </mat-error>
    </mat-form-field>
  </p>
  <mat-form-field style="width: 20%;" title="Date">
    <input matInput placeholder="Date" formControlName="dataTime"  >
    <mat-error *ngIf="dataTime.errors?.['required']">
      Required!
    </mat-error>
    <mat-hint  *ngIf="dataTime.valid&&!dataTime.value">
      Default is current date
    </mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="Amount">
    <input matInput placeholder="Amount" formControlName="amountTransaction"  >
    <mat-error *ngIf="amountTransaction.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="idtrade">
    <input matInput placeholder="idtrade" formControlName="idtrade"  >
    <mat-error *ngIf="idtrade.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="extTransactionId">
    <input matInput placeholder="extTransactionId" formControlName="extTransactionId"  >
  </mat-form-field>
  <p>  
    <mat-form-field style="width: 90%;" title="entryDetails">
    <input matInput placeholder="entryDetails" formControlName="entryDetails"  >
    <mat-error *ngIf="entryDetails.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
</p>
<mat-expansion-panel style="margin-top: 0.5%;" class="headers-align">
  <mat-expansion-panel-header >
    Scheme Parameters
  </mat-expansion-panel-header>
  <acc-schemes-params-table
  [schemesProcess]="schemesProcess"
  ></acc-schemes-params-table>
</mat-expansion-panel>
<h4 style="margin-left: 0.5%;" class="warn-color"  *ngIf="SchemeFormAL.invalid"> Please check the form. Data is invalid</h4>
</form>