<mat-tab-group  #tabGroup   *ngIf="messageReceived.text=='Portfolios'" 
  mat-stretch-tabs 
  (selectedTabChange)="showTabName($event.index)"  >
  <mat-tab label="Portfolio Summary" aria-label="Portfolio Summary"> 
    <div class="instrument_form" style="width: 100%;">
      <br>
      <app-app-portfolio
      [action]="'View'"
      [portfolioCode]="messageReceived.id">
      </app-app-portfolio> 
    </div>
  </mat-tab>  
  <mat-tab label="Revenue Factors" aria-label="Revenue Factors"> 
    <app-inv-portfolio-revenue-factor-analysis
    [UI_portfolio_selection]="false"
    [filters]="{portfolio_code:[messageReceived.name]}"
    ></app-inv-portfolio-revenue-factor-analysis>  
  </mat-tab>
  <mat-tab label="Performance" aria-label="Performance"> 
    <app-inv-portfolio-npv_roi_performance
    [UI_portfolio_selection]="false"
    [filters]="{portfolio_code:[messageReceived.name]}"
    ></app-inv-portfolio-npv_roi_performance>  
  </mat-tab>
  <mat-tab label="Positions" aria-label="Positions"> 
    <app-inv-portfolio-position-table
    [rowsPerPages]="15"
    [UI_portfolio_selection]="false"
    [UI_portfolio_zero]="false"
    [filters]="{portfolio_code:[messageReceived.name]}">
    </app-inv-portfolio-position-table>
  </mat-tab>
  <mat-tab label="Trades" aria-label="Trades"> 
    <app-allocation-table
    [rowsPerPages]="15"
    [tableMode]="['Parent','Portfolio']"
    [filters]="{portfolioname:[messageReceived.name]}" >
    </app-allocation-table>
  </mat-tab>
  <mat-tab label="Transactions" aria-label="Transactions"> 
    <app-table-acc-entries
    [paramRowData]="{portfolioCode:messageReceived.name}"
    [action]="'ViewEntriesByPortfolio'"   
    [rowsPerPages]="15">
    </app-table-acc-entries>
  </mat-tab>
  <mat-tab [label]="'Orders'" aria-label="Orders"> 
    <app-orders-table style="width: 150%;"
    [tableMode]="['Parent','Per_Portfolio']" 
    [filters]="{
      idportfolio:[messageReceived.id],
      only_clients:true,
      filter_dataset:false
    }"
    ></app-orders-table>
  </mat-tab>

</mat-tab-group  >
<mat-tab-group  *ngIf="messageReceived.text=='Clients'" mat-stretch-tabs #ClientInfo>
  <mat-tab label="Performance" aria-label="Performance"> 
    <app-inv-portfolio-npv_roi_performance
    [UI_portfolio_selection]="false"
    [useGetClientsPortfolios]="true"
    ></app-inv-portfolio-npv_roi_performance>  
  </mat-tab>
  <mat-tab label="Positions"> 
    <app-inv-portfolio-position-table
    [useGetClientsPortfolios]="true"
    [rowsPerPages]="15"
    [UI_portfolio_selection]="false">
    </app-inv-portfolio-position-table>
  </mat-tab>
  <mat-tab label="Transactions"> 
    <app-table-acc-entries
    [action]="'None'"    
    [rowsPerPages]="15">
    </app-table-acc-entries>
  </mat-tab>
  <mat-tab label="Portfolios">
    <app-portfolio-tablee 
      [clientId]="messageReceived.id"
      [actionOnAccountTable]="'Get_Portfolios_By_CientId'">
    </app-portfolio-tablee> 
  </mat-tab>
  <mat-tab label="Summary" >
    <div class="client_form">
      <br>
      <app-app-client-form
      [action]="'View'"
      [client]="messageReceived.id">
      </app-app-client-form> 
    </div>
  </mat-tab>  
  <mat-tab label="Trades"> 
    <app-allocation-table
    [rowsPerPages]="15"
    [filters]="{disabled_controls:true}" >
    </app-allocation-table>
  </mat-tab>
</mat-tab-group>
<mat-tab-group *ngIf="messageReceived.text=='Strategies'" #StrategiesInfo mat-stretch-tabs>
  <mat-tab label="Strategy Structure" >
    <div class="instrument_form">
      <br>
      <app-app-strategy-form
      [action] = "Edit"
      [strategyId]="messageReceived.id">
      </app-app-strategy-form> 
    </div>
  </mat-tab>  
  <mat-tab label="Orders by Strategy"> 
    <app-orders-table style="width: 150%;"
    [tableMode]="['Parent']" 
    [filters]="{
      mp_name:[messageReceived.name],
      strategy_name:[messageReceived.name]
    }"
    ></app-orders-table>
  </mat-tab>
  <mat-tab label="Portfolios by Strategy"> 
    <app-portfolio-tablee
    [strategyMpName]="messageReceived.name"
    [actionOnAccountTable]="'Get_Portfolios_By_StrategyId'">
    </app-portfolio-tablee>
  </mat-tab>
  <mat-tab label="Positions by Strategy"> 
    <app-inv-portfolio-position-table
      [rowsPerPages]="15"
      [useGetClientsPortfolios]="true"
      >
    </app-inv-portfolio-position-table>
  </mat-tab>
  <mat-tab label="Trades by Strategy">
    <app-allocation-table
    [rowsPerPages]="15"
    [filters]="{
      mp_name:messageReceived.name,
      disabled_controls:true
    }" >
    </app-allocation-table>
  </mat-tab>
  <mat-tab label="Performance" aria-label="Performance"> 
    <app-inv-portfolio-npv_roi_performance
    ></app-inv-portfolio-npv_roi_performance>  
  </mat-tab>
</mat-tab-group>
<mat-tab-group *ngIf="messageReceived.text=='Instruments'" mat-stretch-tabs #InstrumentInfo>
  <mat-tab label="Instrument Details" >
    <div class="instrument_form">
      <br>
      <app-inv-instrument-modify-form
        [secidParam]="messageReceived.name"
        [action]="Edit"
      >
      </app-inv-instrument-modify-form> 
    </div>
  </mat-tab>  
  <mat-tab label="MarketData & Charts" > </mat-tab> 
  <mat-tab label="Positions"> Detailed positions with deviations versus model Portfolio  </mat-tab>
  <mat-tab label="Trades by Instrument"> Trades history by Instrument</mat-tab>
</mat-tab-group>
<mat-tab-group  *ngIf="messageReceived.text=='Trades & Orders'" mat-stretch-tabs #TradesOrdersInfo>
  <mat-tab label="Orders" >OrdersTable</mat-tab>  
  <mat-tab label="Trades"> Trades table</mat-tab>
  <mat-tab label="Positions"> Positions table</mat-tab>
  <mat-tab label="Orders by Strategy"> Orders history</mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>






  

