<mat-tab-group  #tabGroup   *ngIf="messageReceived.text=='Portfolios'" 
  mat-stretch-tabs #AccountInfo 
  (selectedTabChange)="showTabName($event)"  >

  <mat-tab label="Portfolio Positions"> 
    <app-inv-portfolio-position-table
    [rowsPerPages]="15"
    [searchAllowed]="false"
    [filters]="{portfolio_code:messageReceived.name}">
    </app-inv-portfolio-position-table>
  </mat-tab>
  <mat-tab label="Portfolio Transactions"> 
    <app-table-acc-entries
    [paramRowData]="{portfolioCode:messageReceived.name}"
    [action]="'ViewEntriesByPortfolio'"    >
    </app-table-acc-entries>
  </mat-tab>
  <mat-tab label="Trades by Account"> 
    <app-allocation-table
    [rowsPerPages]="15"
    [filters]="{portfolioname:messageReceived.name}" >
    </app-allocation-table>
  </mat-tab>
  <mat-tab label="Account Summary" > 
    <div class="instrument_form">
      <br>
      <app-app-portfolio
      [action]="'View'"
      [portfolioCode]="messageReceived.id">
      </app-app-portfolio> 
    </div>
  </mat-tab>  
</mat-tab-group  >
<mat-tab-group  *ngIf="messageReceived.text=='Clients'" mat-stretch-tabs #ClientInfo>
  <mat-tab label="Client Transactions"> 
    <app-table-acc-entries
    [action]="'None'"    >
    </app-table-acc-entries>
  </mat-tab>
  <mat-tab label="Client Portfolios">
    <app-portfolio-tablee 
      [clientId]="messageReceived.id"
      [actionOnAccountTable]="'Get_Portfolios_By_CientId'">
    </app-portfolio-tablee> 
  </mat-tab>
  <mat-tab label="Client Summary" >
    <div class="client_form">
      <br>
      <app-app-client-form
      [action]="'View'"
      [client]="messageReceived.id">
      </app-app-client-form> 
    </div>
  </mat-tab>  
  <mat-tab label="Client Positions"> 
    <app-inv-portfolio-position-table
    [rowsPerPages]="15"
    [searchAllowed]="false">
    </app-inv-portfolio-position-table>
  </mat-tab>
  <mat-tab label="Client Trades"> 
    <app-allocation-table
    [rowsPerPages]="15"
    [filters]="{disabledControlElements:true}" >
    </app-allocation-table>
  </mat-tab>

</mat-tab-group>
<mat-tab-group *ngIf="messageReceived.text=='Strategies'" #StrategiesInfo mat-stretch-tabs>
  <mat-tab label="Portfolios by Strategy"> 
    <app-portfolio-tablee
    [strategyMpName]="messageReceived.name"
    [actionOnAccountTable]="'Get_Portfolios_By_StrategyId'">
    </app-portfolio-tablee>
  </mat-tab>
  <mat-tab label="Strategy Structure" >
    <div class="instrument_form">
      <br>
      <app-app-strategy-form
      [action] = "Edit"
      [strategyId]="messageReceived.id">
      </app-app-strategy-form> 
    </div>
  </mat-tab>  
  <mat-tab label="Positions by Strategy"> 
    <app-inv-portfolio-position-table
      [rowsPerPages]="25"
      [filters]="{
        mp_name:messageReceived.name,
        strategy_name:messageReceived.name,
        not_zero_npv:true
      }">
    </app-inv-portfolio-position-table>
  </mat-tab>
  <mat-tab label="Trades by Strategy">
    <app-allocation-table
    [rowsPerPages]="15"
    [filters]="{disabledControlElements:true}" >
    </app-allocation-table>
  </mat-tab>
  <mat-tab label="Orders by Strategy"> 
  </mat-tab>
</mat-tab-group>
<mat-tab-group *ngIf="messageReceived.text=='Instruments'" mat-stretch-tabs #InstrumentInfo>
  <mat-tab label="Instrment Details" >
    <div class="instrument_form">
      <br>
      <app-inv-instrument-modify-form
        [secidParam]="messageReceived.name"
        [action]="Edit"
      >
      </app-inv-instrument-modify-form> 
    </div>
  </mat-tab>  
  <mat-tab label="MarketData & Charts" > </mat-tab> 
  <mat-tab label="Positions"> Detailed positions with deviations versus model Portfolio  </mat-tab>
  <mat-tab label="Trades by Instrument"> Trades history by Instrument</mat-tab>
</mat-tab-group>
<mat-tab-group  *ngIf="messageReceived.text=='Trades & Orders'" mat-stretch-tabs #TradesOrdersInfo>
  <mat-tab label="Orders" >OrdersTable</mat-tab>  
  <mat-tab label="Trades"> Trades table</mat-tab>
  <mat-tab label="Positions"> Positions table</mat-tab>
  <mat-tab label="Orders by Strategy"> Orders history</mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>






  

