<mat-toolbar color="primary" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  {{action==='Create_Example'? 'Create' : action}} Client 
</mat-toolbar>

<form  [formGroup]="editClienttForm">
  <button mat-raised-button color="primary" 
    [disabled]="editClienttForm.invalid || !submitbox.checked"
    (click)="editClienttForm.valid? updateClientData(action) : null"
    style="margin-top: 1%; margin-bottom: 1%; width: 15% ">
    {{action==='Create_Example'? 'Create' : action}} Client 
  </button>
  <mat-checkbox color="primary"  #submitbox style="margin-left: 2%;"
    (click)=" editClienttForm.markAllAsTouched();
              editClienttForm.controls['clientname'].updateValueAndValidity();"
    >Submit Data
  </mat-checkbox>
  <br>
  <mat-form-field style="width: 15%;">
    <input matInput placeholder="id client" formControlName="idclient" [readonly]="true">
  </mat-form-field>
  <mat-form-field  style="width: 50%;">
    <input matInput placeholder="client name" formControlName="clientname">
    <mat-error  *ngIf="clientname?.errors?.['required']">
      Required!    
    </mat-error>
    <mat-error  *ngIf="clientname?.errors?.['uniqueClientName']">
       Not unique. Please choose another one.    
    </mat-error>
  </mat-form-field>
  <mat-slide-toggle formControlName="isclientproffesional" #professional class="mat-form-field"   color='primary'>
    Status  {{ professional.checked? 'Professional':'Non-Professional'}} 
  </mat-slide-toggle>
  <br>

  <mat-form-field style="width: 60%;">
    <mat-select placeholder="Country" formControlName="idcountrydomicile">
      <mat-option *ngFor="let country of countriesList" [value]="country.IdCountry.toString()">
        {{country.IdCountry}} - {{country.CountryName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field style="width: 90%;">
    <input matInput placeholder="address" formControlName="address" >
    <mat-error  *ngIf="address?.errors?.['required']">
      Required!    
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field style="width: 30%;">
    <input matInput placeholder="contact person" formControlName="contact_person">
    <mat-error  *ngIf="contact_person?.errors?.['required']">
      Required!    
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 30%;">
    <input matInput placeholder="email" formControlName="email">
    <mat-error  *ngIf="email?.errors?.['required']">
      Required!    
    </mat-error>
    <mat-error  *ngIf="email?.errors?.['email']">
      Email is incorrect. Please check.    
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 25%;">
    <input matInput placeholder="phone" formControlName="phone">
    <mat-error  *ngIf="phone?.errors?.['required']">
      Required!    
    </mat-error>
    <mat-error  *ngIf="phone?.errors?.['pattern']">
      Only digts are allowed.    
    </mat-error>
  </mat-form-field>
  <h4 style="margin-left: 0.5%;" class="warn-color"  *ngIf="editClienttForm.invalid"> Please check the form. Data is invalid</h4>
</form>