input.ng-invalid.ng-touched {
  color: rgb(158, 0, 0);
}
.mat-error {
  color: rgb(158, 0, 0);
  transform: (1.1);
  height: 110%;
  font-size: 16px;
  font-style: italic;
}
.mat-checkbox {
  transform: scale(1.2);
  margin-left:2%;
}
.client_form {
justify-self: auto;
}
.mat-toolbar {
margin-bottom:10px;
 border-radius: 5px;
 color:#c1b9b9;
}
.client_form {
  margin-left: 1%;
}

:host ::ng-deep  .mat-slide-toggle {
  transform: scale(2);
  margin-left: 12%;
  justify-self:center;
}
:host ::ng-deep  .mat-slide-toggle-thumb:before {
  height: 110%;
  content: "\E15B"; 
  font-family: "Material Icons"; position: absolute; bottom: 1%; left: 2%; font-size: 20px; font-weight: bold; 
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb:before { 
  height: 110%;
  content: "\E876"; 
  
  font-family: "Material Icons"; position: absolute; bottom: 1%; left: 2%; font-size: 20px; font-weight: bold; 
}

.mat-form-field {
font-size: 18px;
border-radius: 9px;
width: 400px;
background-color: rgb(111, 110, 110);
margin: 10px;
padding:10px;
}

.content-container {
  display: flex;
  flex-direction: column;
}
.content-container > * {
  width: 100%;
}

.dialog-headline{
font-weight: 500;
margin-top: -1em;
margin-left: -1em;
margin-bottom: 0;
padding: 1em;
text-align: center;
font-size: 1.5em;
background-color: dodgerblue;
color:white;
}
.mat-dialog-container {
padding: 24px 0 0 0 !important;
}
.tab-group {
   border: 1px solid #e8e8e8;
}

.tab-content {
  padding: 16px;
}
.content-container {
  display: flex;
  flex-direction: column;
}
.content-container > * {
  width: 100%;
}

.tab-content-height{
  height: 160px;
}
.mat-dialog-actions {
  flex-direction: row-reverse;
}
.close-icon{
  cursor: pointer;
}

