<span *ngIf="FormMode==='QuotesMode'" title="TableFilterGroup"> 
  <mat-form-field  class = "filter-field" style="width: 30%;" >
    <mat-label>Type to search...</mat-label>
    <input 
      (keyup)="applyFilter($event)"
      [formControl]="filterlFormControl" 
      matInput type="text" #filter  name="tableFilter"
      matTooltip="Use context menu to add filter"     >
    <button matSuffix 
      mat-icon-button aria-label="Clear" 
      (click)="clearFilter(filter)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button color = "accent" mat-raised-button 
    style=" margin-left:1%; "
    (click)="exportToExcel()">
    Save as XLS 
    <mat-icon matSuffix >save_alt</mat-icon>
  </button>
  <button color = "accent" mat-raised-button 
    style=" margin-left:1%; "
    (click)="submitQuery()">
    Reload 
    <mat-icon matSuffix >refresh</mat-icon>
  </button>
</span>
<mat-expansion-panel *ngIf="FormMode==='QuotesMode'&&!disabledControlElements" title="MarketDataUploadingPanel"
  class="headers-align" 
  [expanded]="1"
  (opened)="panelOpenStateFirst = true"
  (closed)="panelOpenStateFirst = false" 
  style="width: 100%;">
  <mat-expansion-panel-header >
    <mat-panel-title>
      Market Data Update
    </mat-panel-title>
    <mat-panel-description>
      Tap to {{panelOpenStateFirst? 'hide': 'open'}} control elements
      <mat-icon>cloud_download</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <h4 style="text-align: center;" *ngIf="loadingDataLog.state.State==='Pending'">Loading market data...</h4>
  <div *ngIf="loadingDataLog.state.State==='Success'||loadingDataLog.state.State==='terminated'" title="loadingDataState">
    <h4 style="text-align: center;" [style.color]="loadingDataLog.state.State=='terminated'? 'var(--warnColor)':'var(--mainFontColor)'">
      {{loadingDataLog.state.Message}}
    </h4>
  </div>
  <form    [formGroup]="loadMarketData" >
    <span style="display: flex;    align-items:flex-start;  margin-right: 1%;">
      <span style="display:grid; margin-bottom: 1%;margin-left: 2%;margin-right: 2%; width: 13%;">
      <button color = "primary" #getRatesb mat-raised-button title="getMarketData" style="margin-bottom: 6%;"
        [matTooltip]="getRatesb.disabled? 'Select sources to upload':'Click to start loading'"
        [disabled]="sourceCode.value.length===0"
        (click)="getMarketData()">
        Import Market Data 
      </button>
      <button color = "accent" mat-raised-button   (click)="manualQuote('Create',null)">Add Manual Quote</button>
    </span>
    <mat-form-field style="margin-right: 2%; margin-top: unset; width: 18%; " title="Date to upload">
      <input matInput formControlName = "dateForLoadingPrices" [matDatepicker]="dateForMarketData" placeholder="Date to upload">
      <mat-datepicker-toggle matSuffix [for]="dateForMarketData"></mat-datepicker-toggle>
      <mat-datepicker  #dateForMarketData></mat-datepicker>
    </mat-form-field> 
    <mat-slide-toggle #deleteOldMarketData formControlName="overwritingCurrentData" 
      style="margin-top: 1%; margin-left: 1%; margin-right: 1%;"
      [style.color]="deleteOldMarketData.checked===true? 'var(--warnColor)':'var(--mainFontColor)' "
      >Replace current quotes data <br>{{deleteOldMarketData.checked? 'allowed!':'forbidden'}}
    </mat-slide-toggle>
  </span>
<!--     <button color = "accent" mat-raised-button  style=" margin-left:1%; " [disabled]="true" (click)="getMoexSecurities()">MOEX Instruments</button> -->
    <span 
      *ngFor="let marketSource of marketSources;let i=index" >
      <div style="border-color:var(--accentColor); border-width: 1px; border-style:solid; margin: 1%;">
      <span >
        <mat-checkbox  class="marketSource-margin" 
        [indeterminate]="marketSource.indeterminate"
        (change)="marketSource.checkedAll=!marketSource.checkedAll;
        setAll(i)"
        [checked]="marketSource.checkedAll"
        [disabled]="marketSource.disabled">
          {{marketSource.sourceName}}:
        </mat-checkbox>
        </span>
        <ul style="display: inline-flex;">
          <li *ngFor="let segment of marketSource.segments; let z=index" style="margin-left: 1%;">
            <mat-checkbox [disabled]="marketSource.disabled"
                          [checked]="segment.checked"
                          (change)="segment.checked=!segment.checked;
                                    updateAllComplete(i)"
                          >
              {{segment.description}}
            </mat-checkbox>
          </li>
        </ul>
      </div>
    </span>
  </form>
  <mat-progress-bar *ngIf="loadMarketData?.disabled" color="primary" mode="query"></mat-progress-bar>
  <mat-expansion-panel *ngIf="loadingDataLog?.dataLoaded?.length"  class="headers-align" title="logLoadingData"
    (opened)="statusLogPanelOpenState = true"
    (closed)="statusLogPanelOpenState = false" >
    <mat-expansion-panel-header >
      <mat-panel-title>
        Status Job Log
      </mat-panel-title>
      <mat-panel-description>
        Total: Tap to {{statusLogPanelOpenState? 'hide': 'show'}} details
        <mat-icon color = 'accent'>done</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header >
    <pre >{{loadingDataLog.dataLoaded | json}}</pre>
  </mat-expansion-panel>
</mat-expansion-panel>
<mat-expansion-panel  class="headers-align"  title="ComplexSearchPanel"
  [expanded]="FormMode==='ChartMode'"
  (opened)="panelOpenStateSecond = true"
  (closed)="panelOpenStateSecond = false" >
  <mat-expansion-panel-header >
    <mat-panel-title>
      Complex search
    </mat-panel-title>
    <mat-panel-description>
      Tap to {{panelOpenStateSecond? 'hide': 'open'}} additional parameters
      <mat-icon color = 'accent'>filter_alt</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <form  [formGroup]="searchParametersFG"  style=" margin-left: 1%;">
    <span style="display: flex;    align-items:flex-start;  margin-right: 1%;margin-top: 0.2%;">
      <span style="display:grid; width: 15%; margin-top: 1%;">
        <button color = "primary"   mat-raised-button 
          style="margin:1%; "
          (click)="submitQuery()">
          Submit
        </button>
        <button color = "accent" mat-raised-button 
          style="margin:1%; "
          (click)="searchParametersFG.reset();
           instruments=['ClearAll']">
          ClearAll
        </button>
      </span>
      <mat-form-field appearance="fill">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="dataRange" [rangePicker]="picker" >
          <input matStartDate  placeholder="Start date" formControlName="dateRangeStart">
          <input matEndDate  placeholder="End date" formControlName="dateRangeEnd">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker  #picker></mat-date-range-picker>
        <mat-error *ngIf="dataRange.controls.dateRangeStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="dataRange.controls.dateRangeEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field  style="width: 20%;">
        <mat-label>MarketDataSource</mat-label>
        <mat-select  #marketSource formControlName="marketSource"  multiple> 
          <mat-option #allSelected [value]="0"
          (click)="toggleAllSelection('marketSource', allSelected.selected)" >
            ALL - {{this.allSelected.selected? 'Clear' :'Select' }} All 
          </mat-option>
          <mat-optgroup *ngFor="let marketSource of marketSources" [label]="marketSource.sourceName">
          <mat-option *ngFor="let segment of marketSource.segments" [value]="segment.sourceCode">
              {{segment.description}}
          </mat-option>
        </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field  style="width: 28%;">
        <mat-label>BoardID</mat-label>
        <mat-select  #BoardID formControlName="boards"  multiple> 
          <mat-option #allSelected [value]="0"
          (click)="toggleAllSelection('boards', allSelected.selected)" >
            ALL - {{this.allSelected.selected? 'Clear' :'Select' }} All 
          </mat-option>
          <mat-option *ngFor="let board of boardIDs" [value]="board.boardid.toString()">
            {{board.boardid}} - {{board.board_title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <mat-form-field appearance="fill" style="width: 75%;" class="no-hint-fields">
      <mat-chip-list #chipList  >
        <mat-chip *ngFor="let account of instruments" 
        (removed)="remove(account)"
        (click)=" clearAll($event);">
          {{account}}
          <button matChipRemove *ngIf="account!=='ClearAll'">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input #iputForChip
        [matAutocomplete]="auto"
        matInput
        placeholder="Add secid or secid,secid1,secid2.."
        formControlName="secidList"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="add($event)"
        matTooltip="Type account number or paste accounts list separated by comma and press enter" >
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='changedValueofChip($event.option.value)'>
        <mat-option *ngFor="let secid of filterednstrumentsLists | async" [value]="secid[0]">
          {{secid[0]}} - {{secid[1]}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-expansion-panel>
 <table  #strategyTable mat-table [dataSource]="dataSource" multiTemplateDataRows matSort >
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{columnsHeaderToDisplay[i]  | titlecase}}</th>
      <td 
        mat-cell 
        *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu"  > 
        <span [ngSwitch]="true==true" title ="TableColumnFormatting">
          <p *ngSwitchCase="['tradedate'].includes(column)">
              {{ element[column] | date }}
          </p>          
          <p *ngSwitchCase="['open', 'low', 'high', 'marketprice2','close','admittedquote'].includes(column)">
            {{!element['percentprice']? (element[column] | currency:element['currency']:element['spsymbol']:'1.0-5'):(element[column] |  currency:element['currency']:'%':'1.0-5')}}
          </p>
          <p *ngSwitchCase="['value'].includes(column)">
            {{(element[column] | currency:element['currency']:element['spsymbol']:'1.2-2')}}
          </p>
          <p *ngSwitchCase="['volume'].includes(column)">
            {{element[column] | number:'1.0-0'}}
          </p>
          <p *ngSwitchDefault>
            {{element[column]}}
          </p>
        </span>
        <ng-template  #instrumentcontextmenu title="TableContextMenu">
          <div class="menu-context" cdkMenu >
            <ng-container>
             *ngIf="element['globalsource']==='Manual'">
            <button 
              class="menu-context-item" cdkMenuItem
              (click)="manualQuote('Edit', element)">
              <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
              Edit Quote
            </button>
            <button 
              class="menu-context-item" cdkMenuItem
              (click)="manualQuote('Delete', element)">
              <mat-icon class="menu-icon" matPrefix>delete</mat-icon> 
              Delete Quote
            </button> 

            </ng-container>
            <button 
              (click)=" updateFilter(element[column]);                "
              class="menu-context-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
              Add to filter
            </button> 
            <button 
              (click)="addChips( element[column], column)"
              class="menu-context-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>filter_alt</mat-icon> 
              ComplexFilter
            </button> 
          </div>
        </ng-template>   
      </td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element"></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row  *matRowDef="let element; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" aria-label="Select page of users"></mat-paginator>