<div class="file-menu color-accent " >
  <button mat-flat-button 
  [style.background-color] ="menuColor" 
    aria-label="Tree show/hide"
    [ngStyle]="{'color':treeOpened ? '  black' : 'white'}"
    (click)="showHideTree()">
    {{treeOpened? 'Tree hide':'Tree show'}} 
  </button>
  <button mat-flat-button  [matMenuTriggerFor]="menu" [style.background-color] ="menuColor"  style="margin-left: 5px;" matRipple="">Clients</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>Accounts</button>
    <button mat-menu-item>Trades</button>
  </mat-menu>
  <button mat-flat-button mat-button [style.background-color] ="menuColor" [matMenuTriggerFor]="menu2">PM</button>
    <mat-menu #menu2="matMenu">
    <button mat-menu-item>Strategies</button>
    <button mat-menu-item>Orders</button>
  </mat-menu>
  <button mat-flat-button mat-button [style.background-color] ="menuColor"  [matMenuTriggerFor]="menu3">Settings</button>
    <mat-menu #menu3="matMenu">
    <button mat-menu-item
      (click)="showChart()">
      Settings
    </button>
  <button mat-menu-item
    (click)="indexdbDeleteAllCache()">
    IndexedDB Clear
  </button>
  <button mat-menu-item>User profile</button>
  <button mat-menu-item
   (click)="tools()"
  >Tool</button>
  <button mat-menu-item
  (click)="LogOut()">
  Sign out
</button>
</mat-menu>
<button mat-flat-button mat-button color ="accent" style="color: black;"  (click)="indexdbDeleteAllCache()" >Clear cache</button>
<button mat-flat-button mat-button color ="accent" style="color: black;"  (click)="nodecls()" >Node cls</button>
<span style="float:right; ;  margin-right: 0.3%"> 
  <button mat-flat-button
    disableRipple    
    aria-label="Example icon button fullscreen"
    [ngStyle]="{'color':fullscreen ? 'indianred' : 'white'}"
    (click)="toggleFullscreenMode()">
    <mat-icon>{{fullscreen? 'fullscreen_exit' :'fullscreen'}} fullscreen</mat-icon>
    {{fullscreen? 'Exit FullScreen':'FullScreen'}} 
  </button>

  <button mat-flat-button 
    disableRipple    
    aria-label="Example icon button fullscreen"
    color="warn"
    (click)="LogOut()">
    Sign Out 
  </button>
  <button mat-flat-button disableRipple >
    <mat-icon style = "transform: scale(1.5);margin-right: 1.5%;">account_box</mat-icon> {{this.getLogin()}} 
  </button>
</span>
</div>

