
.file-menu {
  border-width: 3px;
  border-color:rgb(67, 79, 79);
  border-style: solid;
  margin-bottom: 5px;
}
.mat-flat-button {
  font-size: small;
}
.mat-menu-item {
  font-size: small;
}
.menuright {
  align-self:flex-end;
  font-size: small;
  /* margin-left: 1%; */
}
.icon-display {
  transform: scale(1.2);
}
