<nav class="navbar navbar-expand-sm navbar-dark bg-primary"  style="align-items: center;">
  <mat-form-field   style=" text-align: center; width: 12%;" class="no-hint-fields" >
    <mat-label >Select SecID..</mat-label>
    <mat-select >
      <mat-option *ngFor="let secId of secIds" (click)="onChangeCountry(secId)"  [value]="secId">{{secId}}</mat-option>
    </mat-select>
  </mat-form-field>
  <a class=" navbar-brand mx-auto" style="align-items: center;">Market Data</a>
</nav>

<div *ngIf="seriesCandle.length!==0" style="background-color: azure;">
<div style="width: 98%; top: 1%;" >
  <div echarts [options]="countryCasesChartOptions" style="width: 100%; min-height: 70vh" ></div>
</div>
</div> 