<div style="display: flex;">
  <mat-form-field   style="width: 12%; text-align: center;" class="no-hint-fields" >
    <mat-label >Select SecID..</mat-label>
    <mat-select  #selectPortfolio>
      <mat-option *ngFor="let secId of secIds" (click)="onChangeSecid(secId)"  [value]="secId">{{secId}}</mat-option>
    </mat-select>
  </mat-form-field>
  <span style="flex: 1 1 auto;"></span>
  <label style="font-size: large; align-items: flex-end;width: 20%; margin-top: 1%; ">
    Market Data
    <mat-icon color="accent" style="transform: scale(1.5);margin-left: 2%; margin-bottom: -1%;">bar_chart</mat-icon>
  </label> 
  <label #fontlarge> </label>
</div>
<div *ngIf="seriesCandle.length!==0" style="background-color: azure;">
  <div style="width: 98%; top: 1%;" >
    <div echarts [options]="countryCasesChartOptions" style="width: 100%; min-height: 70vh" ></div>
  </div>
</div> 