<app-app-instrument-table *ngIf="messageReceived.text=='Trades & Orders_Root'" [FormMode]="'Redis'"></app-app-instrument-table >  
<mat-tab-group  *ngIf="messageReceived.text=='Portfolios'" mat-stretch-tabs #AccountInfo >
  <mat-tab label="Account Summary" > 
    <div class="instrument_form">
      <br>
      <app-app-portfolio
      [action]="'Edit'"
      [portfolioCode]="messageReceived.id">
      </app-app-portfolio> 
    </div>
  </mat-tab>  
  <mat-tab label="Portfolio Details"> Detailed positions with PnL data </mat-tab>
  <mat-tab label="Trades by Account"> Trades history by Account </mat-tab>
</mat-tab-group  >
<mat-tab-group  *ngIf="messageReceived.text=='Clients'" mat-stretch-tabs #ClientInfo>
  <mat-tab label="Client Summary" >
    <div class="client_form">
      <br>
      <app-app-client-form
      [action] = "Edit"
      [client]="messageReceived.id">
      </app-app-client-form> 
    </div>
  </mat-tab>  
  <mat-tab label="Client Portfolios">
    <app-app-portfolio-tablee 
      [clientId]="messageReceived.id"
      [actionOnAccountTable]="'Get_Accounts_By_CientId'">
    </app-app-portfolio-tablee> 
  </mat-tab>
  <mat-tab label="Positions"> Positions table  </mat-tab>
</mat-tab-group>
<mat-tab-group *ngIf="messageReceived.text=='Strategies'" #StrategiesInfo mat-stretch-tabs>
  <mat-tab label="Strategy Structure" >
    <div class="client_form">
      <br>
      <app-app-strategy-form
      [action] = "Edit"
      [strategyId]="messageReceived.id">
      </app-app-strategy-form> 
    </div>
  </mat-tab>  
  <mat-tab label="Positions by Strategy"> 
    <ng-template #context_menu>
      <div class="example-menu" cdkMenu>
        <button class="example-menu-item" cdkMenuItem>Cut</button>
        <button class="example-menu-item" cdkMenuItem>Copy</button>
        <button class="example-menu-item" cdkMenuItem>Link</button>
      </div>
    </ng-template>
      </mat-tab>
  <mat-tab label="Trades by Strategy"> Trades by Strategy history  </mat-tab>
  <mat-tab label="Orders by Strategy"> Orders by Strategy history  </mat-tab>
</mat-tab-group>
<mat-tab-group *ngIf="messageReceived.text=='Instruments'" mat-stretch-tabs #InstrumentInfo>
  <mat-tab label="Instrment Details" >
    <div class="instrument_form">
      <br>
      <app-inv-instrument-modify-form
      [secidParam]="messageReceived.name">
      </app-inv-instrument-modify-form> 
    </div>
  </mat-tab>  
  <mat-tab label="MarketData & Charts" > </mat-tab> 
  <mat-tab label="Positions"> Detailed positions with deviations versus model Portfolio  </mat-tab>
  <mat-tab label="Trades by Instrument"> Trades history by Instrument</mat-tab>
</mat-tab-group>
<mat-tab-group  *ngIf="messageReceived.text=='Trades & Orders'" mat-stretch-tabs #TradesOrdersInfo>
  <mat-tab label="Orders" >OrdersTable</mat-tab>  
  <mat-tab label="Trades"> Trades table</mat-tab>
  <mat-tab label="Positions"> Positions table</mat-tab>
  <mat-tab label="Orders by Strategy"> Orders history</mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>






  

