<mat-toolbar style="margin-left: 1%;" color="primary" >
  {{action}} | Entry: {{setupDone&&d_transactionType.value=='LL'? ' Ledger - Ledger':' Account - Ledger'}}
  | ID: {{setupDone? id.value:''}} 
  | Status: {{ entryModifyForm.status }}
</mat-toolbar>
<button mat-raised-button color="accent" 
  [disabled]="!(entryModifyForm.valid && submitbox.checked)"
  (click)="showAValidator();
           updateEntryData(action)"
  style="margin-top: 1px; width: 200px; font-size: 18px; margin-left: 1%;">
  {{action}} Entry 
</button>
<mat-checkbox color="primary"  #submitbox checked="false" style = "margin-left: 5%;"
  (click)="showAValidator();
            entryModifyForm.markAllAsTouched();">
  Submit Data {{ (action!='View')? '(change to update overdraft data)' : ''}}
</mat-checkbox>
<form class="submit" [formGroup]="entryModifyForm" #formDirective="ngForm" >
  <mat-form-field  style="width: 27%;">
    <mat-label>Type Code</mat-label>
    <mat-select  #t_XactTypeCode_Ext formControlName="t_XactTypeCode_Ext"  > 
      <ng-container *ngFor="let TransactionType of TransactionTypes">
      <mat-option *ngIf = "TransactionType.code2==xActTypeCode.value" [value]="TransactionType.id">
          {{TransactionType.xActTypeCode_Ext |uppercase}} - {{TransactionType.description}}
      </mat-option>
      </ng-container>
    </mat-select>
    <mat-error *ngIf="setupDone&&xActTypeCode_Ext.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 20%; ">
    <input matInput placeholder="Amount" formControlName="t_amountTransaction" [value]="setupDone? amountTransaction.value : null"
    (blur)="amountFormat();
            showAValidator();">
    <mat-error  *ngIf="setupDone&&amountTransaction?.errors?.['required']">
      The field is required.    
    </mat-error>
    <mat-error  *ngIf="setupDone&&amountTransaction?.errors?.['pattern']">
      Only dights!    
    </mat-error>
  </mat-form-field>
  <mat-form-field  style="width: 17%;" >
    <input matInput [min]="FirstOpenedAccountingDate" [matDatepicker]="picker" placeholder="Choose a date"  formControlName="t_dataTime" 
    (dateChange)="showAValidator();">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="setupDone&&ledgerNo?.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-button-toggle-group 
    style=" width: 26%;font-size: 18px;" formControlName="t_XactTypeCode" 
    aria-label="Font Style" matTooltip="Choose Ledger Side"
    (click)="xActTypeCode_Ext.patchValue(''); 
             xActTypeCode_Ext.markAsTouched();
             showAValidator();">
    <mat-button-toggle 
      [disabled]="d_transactionType.value=='LL'" style="width: 50%;font-size: 18px;" [value]="1">
      Debit 
    </mat-button-toggle>
    <mat-button-toggle 
      [disabled]="d_transactionType.value=='LL'" style="width: 50%;font-size: 18px;" [value]="2">
      Credit
    </mat-button-toggle>
  </mat-button-toggle-group>
  <span [ngSwitch]="xActTypeCode.value">
    <mat-form-field *ngSwitchCase="1" style="width: 35%;" [appearance]="!ledgerNo.value? 'fill' : null">
      <mat-slide-toggle #overdraft 
        style="font-size:85%; letter-spacing: .05rem;"
        [checked]="!ledgerNo.hasAsyncValidator(validatorLedgerAccountOverdraft)"
        [style.color]="ledgerNo.hasAsyncValidator(validatorLedgerAccountOverdraft)? 'rgb(43, 43, 245)' : 'brown'"
        (toggleChange)="toggleOverdraftValidator(overdraft,'d_ledgerNo')"
        >Overdraft {{overdraft.checked? 'allowed!':'forbidden'}}
      </mat-slide-toggle>
      <input matInput placeholder="Debit" formControlName="d_ledgerNo">   
      <button mat-icon-button matSuffix (click)="selectLedger('ledger')">
      <mat-icon *ngIf="action!=='View'" class = "icon_search">search</mat-icon></button>
      <mat-error *ngIf="ledgerNo.hasError('overdraft')">
        Overdraft!! {{d_closingLedgerBalance.value| currency }}
      </mat-error>
      <mat-error *ngIf="ledgerNo.hasError('accountIsNotExist') && !ledgerNo.hasError('overdraft')">
        Incorrect account number. Use search 
      </mat-error>
      <mat-hint 
        class="mat-error" 
        [style.color]="d_closingLedgerBalance.value<0 ? 'brown' : 'white'"
        *ngIf="!ledgerNo.hasError('overdraft')">
        Expceted balance {{d_closingLedgerBalance.value | currency}}
      </mat-hint>
      <mat-error *ngIf="ledgerNo.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="1"style="width: 35%;"  [appearance]="!accountNo.value? 'fill' : null">
      <mat-slide-toggle #overdraft 
        style="font-size:85%; letter-spacing: .05rem;"
        [checked]="!accountNo.hasAsyncValidator(validatorAccountOverdraft)"
        [style.color]="accountNo.hasAsyncValidator(validatorAccountOverdraft) ? 'rgb(43, 43, 245)' : 'brown'"
        (toggleChange)="toggleOverdraftValidator(overdraft,'d_accountNo')"
        >Overdraft {{overdraft.checked? 'allowed!':'forbidden'}}
      </mat-slide-toggle>
      <input matInput placeholder="Credit" formControlName="d_accountNo">
      <button mat-icon-button matSuffix (click)="selectAccount()">
        <mat-icon *ngIf="action!=='View'" class = "icon_search">search</mat-icon>
      </button>
      <mat-error *ngIf="accountNo.errors?.['required']">
        Required!
      </mat-error>
      <mat-error *ngIf="accountNo.hasError('overdraft')">
        Overdraft!! {{d_closingBalance.value| currency }}
      </mat-error>
      <mat-error *ngIf="accountNo.hasError('accountIsNotExist') && !accountNo.hasError('overdraft')">
        Incorrect account number. Use search 
      </mat-error>
      <mat-hint 
        class="mat-error" 
        [style.color]="d_closingBalance.value<0 ? 'brown' : 'white'"
        *ngIf="!accountNo.hasError('overdraft')">
        Expceted balance {{d_closingBalance.value | currency}}
      </mat-hint>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="2" style="width: 35%;" [appearance]="!accountNo.value? 'fill' : null">
      <mat-slide-toggle #overdraft 
        style="font-size:85%; letter-spacing: .05rem;"
        [checked]="!accountNo.hasAsyncValidator(validatorAccountOverdraft)"
        [style.color]="accountNo.hasAsyncValidator(validatorAccountOverdraft) ? 'rgb(43, 43, 245)' : 'brown'"
        (toggleChange)="toggleOverdraftValidator( overdraft,'d_accountNo' )"
        >Overdraft {{overdraft.checked? 'allowed!':'forbidden'}}
      </mat-slide-toggle>
      <input matInput placeholder="Debit" formControlName="d_accountNo" >   
      <button mat-icon-button matSuffix 
        (click)="selectAccount()">
        <mat-icon *ngIf="action!=='View'" class = "icon_search">search</mat-icon>
      </button>
      <mat-error *ngIf="accountNo.errors?.['required']">
        Required!
      </mat-error>
      <mat-error *ngIf="accountNo.hasError('overdraft')">
        Overdraft!! {{d_closingBalance.value | currency}}
      </mat-error>
      <mat-error *ngIf="accountNo.hasError('accountIsNotExist') && !accountNo.hasError('overdraft')">
        Incorrect account number. Use search 
      </mat-error>
      <mat-hint 
        class="mat-error" 
        [style.color]="(d_closingBalance.value<0) ? 'brown' : 'white'">
        Expceted balance {{d_closingBalance.value | currency}}
      </mat-hint>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="2"style="width: 35%;" [appearance]="!ledgerNo.value? 'fill' : null">
      <mat-slide-toggle #overdraft 
        style="font-size:85%; letter-spacing: .05rem;"
        [checked]="!ledgerNo.hasAsyncValidator(validatorLedgerAccountOverdraft)"
        [style.color]="ledgerNo.hasAsyncValidator(validatorAccountOverdraft)? 'rgb(43, 43, 245)' : 'brown'"
        (toggleChange)="toggleOverdraftValidator(overdraft,'d_ledgerNo')"
        >Overdraft {{overdraft.checked? 'allowed!':'forbidden'}}
      </mat-slide-toggle>
      <input matInput placeholder="Credit" formControlName="d_ledgerNo">
      <button mat-icon-button matSuffix
        (click)="selectLedger('ledger')">
        <mat-icon *ngIf="action!=='View'" class = "icon_search">search</mat-icon>
      </button>
      <mat-error *ngIf="ledgerNo.hasError('overdraft')">
        Overdraft!! {{d_closingLedgerBalance.value| currency }}
      </mat-error>
      <mat-error *ngIf="ledgerNo.hasError('accountIsNotExist') && !ledgerNo.hasError('overdraft')">
        Incorrect account number. Use search 
      </mat-error>
      <mat-hint 
        class="mat-error" 
        [style.color]="(d_closingLedgerBalance.value<0 )? 'brown' : 'white'"
        *ngIf="!ledgerNo.hasError('overdraft')">
        Expceted balance {{d_closingLedgerBalance.value | currency}}
      </mat-hint>
      <mat-error *ngIf="ledgerNo.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="0" style="width: 35%;" [appearance]="!ledgerNo.value? 'fill' : null">
      <mat-slide-toggle #overdraft 
        style="font-size:85%; letter-spacing: .05rem;"
        [checked]="!ledgerNo.hasAsyncValidator(validatorLedgerAccountOverdraft)"
        [style.color]="overdraft.checked ? 'rgb(43, 43, 245)' : 'brown'"
        (toggleChange)="toggleOverdraftValidator(overdraft,'d_ledgerNo')"
        >Overdraft {{overdraft.checked? 'allowed!':'forbidden'}}
      </mat-slide-toggle>
      <input matInput placeholder="Debit" formControlName="d_ledgerNo" >   
      <button mat-icon-button matSuffix 
        (click)="selectLedger('ledger')">
        <mat-icon *ngIf="action!=='View'" class = "icon_search">search</mat-icon>
      </button>
      <mat-error *ngIf="ledgerNo.hasError('overdraft')">
        Overdraft!! {{d_closingLedgerBalance.value| currency }}
      </mat-error>
      <mat-error *ngIf="ledgerNo.hasError('accountIsNotExist') && !ledgerNo.hasError('overdraft')">
        Incorrect account number. Use search 
      </mat-error>
      <mat-hint 
        class="mat-error" 
        [style.color]="(d_closingLedgerBalance.value<0 )? 'brown' : 'white'"
        *ngIf="!ledgerNo.hasError('overdraft')">
        Expceted balance {{d_closingLedgerBalance.value | currency}}
      </mat-hint>
      <mat-error *ngIf="ledgerNo.errors?.['required']">
        Required!
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngSwitchCase="0"style="width: 35%;" [appearance]="!accountNo.value? 'fill' : null">
      <mat-slide-toggle #overdraft 
        style="font-size:85%; letter-spacing: .05rem;"
        [checked]="!accountNo.hasAsyncValidator(validatorLedgerLL2Overdraft)"
        [style.color]="overdraft.checked ? 'rgb(43, 43, 245)' : 'brown'"
        (toggleChange)="toggleOverdraftValidator(overdraft,'d_accountNo')"
        >Overdraft {{overdraft.checked? 'allowed!':'forbidden'}}
      </mat-slide-toggle>
      <input matInput placeholder="Credit" formControlName="d_accountNo">
      <button mat-icon-button matSuffix
        (click)="selectLedger('account')">
        <mat-icon *ngIf="action!=='View'" class = "icon_search">search</mat-icon>
      </button>
      <mat-error *ngIf="accountNo.errors?.['required']">
        Required!
      </mat-error>
      <mat-error *ngIf="accountNo.hasError('overdraft')">
        Overdraft!! {{d_closingBalance.value | currency}}
      </mat-error>
      <mat-error *ngIf="accountNo.hasError('accountIsNotExist') && !accountNo.hasError('overdraft')">
        Incorrect account number. Use search 
      </mat-error>
      <mat-hint 
        class="mat-error" 
        [style.color]="(d_closingBalance.value<0) ? 'brown' : 'white'">
        Expceted balance {{d_closingBalance.value | currency}}
      </mat-hint>
    </mat-form-field>
    <mat-error 
      class ="mat-form-field" 
      style="background-color: rgb(155, 154, 154); width: 50%;" 
      *ngIf="ledgerNo.hasError('accountIsNotExist') && ledgerNo.hasError('overdraft')">
      Incorrect ledger account number. Use search loop
    </mat-error>
    <mat-error 
      class ="mat-form-field" 
      style="background-color: rgb(155, 154, 154); width: 50%;" 
      *ngIf="accountNo.hasError('accountIsNotExist') && accountNo.hasError('overdraft')">
      Incorrect client account number. Use search loop
    </mat-error>
  </span>
  <mat-form-field style="width: 95%;">
    <input matInput placeholder="Entry Details" formControlName="t_entryDetails">
    <mat-error *ngIf="setupDone&&entryDetails?.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
<!--   <mat-form-field style="width: 10%;">
    <input matInput placeholder="t_accountId" formControlName="t_accountId">
  </mat-form-field>
  <mat-form-field style="width: 10%;">
    <input matInput placeholder="t_ledgerNoId" formControlName="t_ledgerNoId">
  </mat-form-field> -->
  <h3 *ngIf="action!='View'"
    [style.color]="setupDone&&entryModifyForm.invalid ? 'rgb(252, 113, 113)' : null">
    {{setupDone&&entryModifyForm.invalid? 'Please check the form. Data is invalid' : 'Data is valid. Please select "Submit data"'}}
  </h3>
</form>