input.ng-invalid.ng-touched {
  color: rgb(158, 0, 0);
}
.icon_search {
  color: rgb(8, 0, 255);
  transform: scale(1.5) !important
}
.mat-error {
  color: rgb(158, 0, 0);
  transform: (1.1);
  height: 110%;
  font-size: 16px;
  font-style: italic;
}
.mat-checkbox {
  transform: scale(1.2);
  margin-left:2%;
}
.mat-toolbar {
margin-bottom:10px;
 border-radius: 5px;
 color:#c1b9b9;
}

.mat-form-field {
font-size: 18px;
border-radius: 9px;
width: 400px;
background-color: rgb(111, 110, 110);
margin: 10px;
padding:10px;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.dialog-headline{
font-weight: 500;
margin-top: -1em;
margin-left: -1em;
margin-bottom: 0;
padding: 1em;
text-align: center;
font-size: 1.5em;
background-color: dodgerblue;
color:white;
}
.mat-dialog-container {
padding: 24px 0 0 0 !important;
}


.tab-content-height{
  height: 160px;
}
.mat-dialog-actions {
  flex-direction: row-reverse;
}
.close-icon{
  cursor: pointer;
}

