<!-- Context menu for treeMenu element -->
<ng-template  #treecontextmenu>
  <div class="menu-context" cdkMenu *ngIf="activeNode.nodeRoot !==''">
    <!-- -----------toggle favorite button of context menu. more readable version it semms------ -->
    <button *ngIf="activeNode.favoriteRoot !=='Favorites'"
      (click)="handleNewFavoriteClick()" 
      class="menu-context-item" cdkMenuItem>
      <mat-icon class="menu-icon" matPrefix>favorite</mat-icon> 
       Add to favorites
    </button>    
    <button *ngIf="activeNode.favoriteRoot=='Favorites'"
      (click)="handleDeleteFavoriteClick()"
      class="menu-context-item" cdkMenuItem>
      <mat-icon class="menu-icon" matPrefix>favorite_border</mat-icon>      
      Remove from favorites
    </button>  
    <!-- -----------toggle favorite button of context menu. more readable version it semms------ -->
    <button 
      (click)="handleAddFavUpdate()"
      class="menu-context-item" cdkMenuItem >
      <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
       New Item</button>
    <button 
       class="menu-context-item" cdkMenuItem>
      <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
       Edit Item
    </button>
  </div>
</ng-template>
<!-- //Context menu for treeMenu element -->
<div class="color-background" >
<!-- ---Search Tree input------- -->
<mat-form-field style="margin-left: 2%;" class="filter-field">
<mat-label >Search tree</mat-label>
<input (keyup.enter)="searchByTree(SearchTree.value)"
matInput type="text" #SearchTree  name="SearchTree">
<button matSuffix mat-icon-button aria-label="Clear" (click)="SearchTree.value=''">
  <mat-icon>close</mat-icon>
</button>

</mat-form-field>

<!-- ---Search Tree input------- -->

<!-- ---Expand All / Collapse Tree menu button------- -->

<!-- ---Expand All / Collapse Tree menu button------- -->

<!-- ---Tree Menu items with scrolling area------- -->

<div class="tree-menu" >
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="color-background">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-flat-button [cdkContextMenuTriggerFor]="treecontextmenu" 
    [style.background-color] = "node.color? node.color : 'white'"
    class="tree-button" 
    (click)="sendMessage(node); 
    activeNode = node;"
    [ngClass]="{ 'background-highlight': activeNode === node }">
    <span class="txtColor">{{node.item}}</span>
    </button>    
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button 
      mat-flat-button class="tree-button" 
      [style.background-color] = "node.color? node.color : 'null'"
      (click)="sendMessage(node); 
      activeNode = node;"
      [ngClass]="{ 'background-highlight': activeNode === node }"  
      [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon> 
       <span>{{node.item}}</span>
    </button>    
  </mat-tree-node>
</mat-tree>
</div>
</div>
<!-- ---Tree Menu items with scrolling area------- -->
<!-- (click)="sendMessage(node);
activeNode = node;" -->