<mat-toolbar color="primary" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <span>{{title}} Instrument</span>
  <span class="example-spacer"></span>

</mat-toolbar>

<form class="submit" [formGroup]="instrumentDetailsForm">
  <h3 style="color:rgb(177, 174, 174)" *ngIf="instrumentDetailsForm.valid"> 
    To save data please select 'Submit data' check and then press button 
  </h3>
  <mat-form-field  style="width: 26%;" title="Board Code">
    <mat-label>Board Code</mat-label>
    <mat-select  #mainBoard formControlName="boardid"  > 
      <ng-container *ngFor="let moexBoard of moexBoards">
      <mat-option  [value]="moexBoard.boardid">
          {{moexBoard.boardid }} - {{moexBoard.board_title}}
      </mat-option>
      </ng-container>
    </mat-select>
    <mat-error  *ngIf="boardid.invalid && boardid.touched && boardid.value==''">
      The field is required.    
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 5%;" title="listlevel">
    <input matInput placeholder="List Level" formControlName="listlevel" >
  </mat-form-field>
  <mat-form-field style="width: 7%;" title="lotsize">
    <input matInput placeholder="Lot Size" formControlName="lotsize" >
  </mat-form-field>
  <mat-form-field style="width: 5%;" title="decimals">
    <input matInput placeholder="Decimals" formControlName="decimals" >
  </mat-form-field>
  <mat-form-field class="example-full-width" style="width: 10%;" >
    <input matInput [matDatepicker]="picker" placeholder="Maturity date"  formControlName="matdate" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field style="width: 10%;" title="regnumber">
    <input matInput placeholder="Regnumber" formControlName="regnumber" >
  </mat-form-field>
  <mat-form-field style="width: 5%;" title="currencyid">
    <input matInput placeholder="Currency" formControlName="currencyid" >
  </mat-form-field>
  <mat-form-field style="width: 15%;" title="issuevolume"  >
    <input matInput placeholder="Issue Volume" formControlName="issuevolume" [disabled]="true" [value]="issuesize.value*facevalue.value | number" >
    <mat-hint class="number-format">{{issuesize.value*facevalue.value | number}}</mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 10%;" title="issuesize">
    <input matInput placeholder="Issue Size" formControlName="issuesize" >
    <mat-hint class="number-format">{{issuesize.value | number}}</mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 10%;" title="facevalue">
    <input matInput placeholder="Face Value" formControlName="facevalue" >
    <mat-hint class="number-format">{{facevalue.value | number}}</mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 10%;" title="marketcode">
    <input matInput placeholder="MarketCode" formControlName="marketcode" >
  </mat-form-field>
  <div>
    <mat-checkbox style= "font-size: 14px; color:rgb(255, 255, 255); padding: 1%;" #submitbox checked="false" 
      (click)=" instrumentDetailsForm.markAllAsTouched();
      instrumentDetailsForm.markAllAsTouched();"
      >Submit Data
    </mat-checkbox>
    <button mat-raised-button color="primary" 
      [disabled]="!(instrumentDetailsForm.valid && submitbox.checked)"
      (click)="updateInstrumentData(action)"
      style="margin-top: 1px; width: 25%; font-size: 18px; margin-left: 1%;">
      {{title}} Instrument
    </button>
  </div>
  <h3 style="color:rgb(252, 113, 113)" *ngIf="instrumentDetailsForm.invalid"> Please check the form. Data is invalid</h3>
</form>