<ng-container *ngIf="accessState!=='none'" style="margin-bottom: 0.5%;">
  <mat-form-field style="width: 30%;"class = "filter-field"  title="Filter All columns">
    <mat-label>Type to search...</mat-label>
    <input 
      (keyup)="applyFilter($event)"
      matInput type="text" #filterALL
      matTooltip="Use context menu to add filter"     >
    <button matSuffix 
      mat-icon-button aria-label="Clear" 
      (click)="clearFilter(filterALL)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button color = "accent" mat-raised-button title="Export To Excel"
    style=" margin-left:1%; "
    (click)="exportToExcel()">
    Save as XLS 
    <mat-icon matSuffix >save_alt</mat-icon>
  </button>
  <button color = "accent" mat-raised-button title="Reload Table"
    style=" margin-left:1%; "
    (click)="submitQuery()">
    Reload 
    <mat-icon matSuffix >refresh</mat-icon>
  </button>

  <mat-expansion-panel class="headers-align" 
  (opened)="panelOpenState = true"
  (closed)="panelOpenState = false" >
  <mat-expansion-panel-header >
    <mat-panel-title >
      Complex search
    </mat-panel-title>
    <mat-panel-description>
      Tap to {{panelOpenState? 'hide': 'open'}} additional parameters
      <mat-icon color = 'accent'>filter_alt</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <form  [formGroup]="searchParametersFG"  style=" margin-left: 0.5%; margin-top: 0.5%;"> <!-- complexSearch Form -->
    <span style="display: flex;    align-items:flex-start; "> 
      <span style="display:grid; width: 11%; margin-right: 1%;margin-top: 0.5%;"> <!-- submitQuery/CleaAll Buttons -->
        <button color = "primary"   mat-raised-button 
          style="margin:1%; "
          (click)="submitQuery()">
          Submit
        </button>
        <button color = "accent" mat-raised-button 
          style="margin-top:4%;margin-left: 1%; "
          (click)="searchParametersFG.reset();
           secidList.patchValue(['ClearAll']);
           portfoliosList.patchValue(['ClearAll']);          ">
          ClearAll
        </button>
      </span>
      <mat-form-field appearance="fill"  > <!-- Date Filter -->
        <mat-label >Enter a date range</mat-label>
          <input matInput placeholder="Report date" [matDatepicker]="pickerTDate" formControlName="tdate" >
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="pickerTDate"></mat-datepicker-toggle>
        <mat-datepicker  #pickerTDate></mat-datepicker>
      </mat-form-field>
      <mat-form-field *ngIf="secidList.value.length" appearance="fill" style="width: 45%;" class="no-hint-fields" >
        <mat-chip-list #chipListSecid   >
          <mat-chip *ngFor="let secid of secidList.value" 
          (removed)="removeNew(secid,secidList)"
          (click)=" clearAllNew($event,secidList);">
            {{secid}}
            <button matChipRemove *ngIf="secid!=='ClearAll'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input 
          [matAutocomplete]="auto"
          matInput
          placeholder="Add secid or secid,secid1,secid2.."
          formControlName="secidIn"
          [matChipInputFor]="chipListSecid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addNew($event,secidList)" >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changedValueofChip($event.option.value,secidList)">
          <mat-option *ngFor="let secid of filterednstrumentsLists | async" [value]="secid.toString().split(',')[0]">
            {{secid.toString().replaceAll(',',' - ')}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field  appearance="fill" style="width: 30%; "  class="no-hint-fields" >
        <mat-chip-list #chipPortList   >
          <mat-chip *ngFor="let portfolio of portfoliosList.value" 
          (removed)="removeNew(portfolio,portfoliosList)"
          (click)=" clearAllNew($event,portfoliosList);">
            {{portfolio}}
            <button matChipRemove *ngIf="portfolio!=='ClearAll'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input 
          matInput
          placeholder="Add portfolio or portfolio1,portfolio2.."
          [matChipInputFor]="chipPortList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="addNew($event,portfoliosList)"
          matTooltip="Type portfolio code or paste multiple codes separated by comma and press enter" >
        </mat-chip-list>
      </mat-form-field>
    </span>
  </form>
</mat-expansion-panel>
 <table  mat-table [dataSource]="dataSource" multiTemplateDataRows matSort       style="width: 100%;" >
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index" justify="right"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsHeaderToDisplay[i]}}</th>
      <td 
        mat-cell *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu" >
        <span [ngSwitch]="true==true">
          <p *ngSwitchDefault>{{element[column]}}</p>
          <p *ngSwitchCase="['trade_date'].includes(column)">{{element[column] | date}} </p>
          <p *ngSwitchCase="['trade_date'].includes(column)&&element['idtrade']===null">{{'Position on:'}} </p>
          <p *ngSwitchCase="['fifo_cost','price_in'].includes(column)">{{element[column]|currency}} </p>
          <p *ngSwitchCase="['qty_out','qty','fifo_rest','rest'].includes(column)">{{element[column]|currency:' '}} </p>
          <p *ngSwitchCase="['ext_trade'].includes(column)&&element['ext_trade']!==null">
            <button mat-stroked-button style="  margin-top: 5%;"  
            class="navigate-button"  matTooltip="Trade Details"
            (click)=" showTradeDetails (element[column])">
              {{element[column] }}
            </button> 
          </p>
          <p *ngSwitchCase="['idtrade'].includes(column)&&element['idtrade']===null">{{tdate.value|date}}  </p>
          <p *ngSwitchCase="['feevalue'].includes(column)&&element['column']!==null">
            {{element['fee_type_value']===1? element[column] + '%':element[column] + ''}}  </p>
        </span>
        <ng-template  #instrumentcontextmenu>
          <div class="menu-context" cdkMenu >
            <button 
              (click)="updateFilter(element[column])"
              class="menu-context-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
              Add to filter
            </button> 
          </div>
        </ng-template>  
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row [ngClass]="{'close-row':element.idtrade===null}" *matRowDef="let element; columns: columnsToDisplay; let dataindex=dataIndex;"
      tabindex=0   >
    </tr>
  </table>
  <mat-paginator ></mat-paginator>
</ng-container>