<div class="form-signin" style=" background-image: url('assets/investments.jpg'); color: black;">
  <h1 class="font-bold  to-black tx" style="color: black; text-align: center; margin-top: 5vh;">  
    Model Portfolio Investment Management System by Andrey Andrusenko
  </h1>
  <mat-tab-group  style="padding-left: 50px;" #AccountInfo>
    <mat-tab label="Sign In to System" style="padding: 20px;">
      <form class="submit" class="AccessForm" [formGroup]="signInForm">
        <div class="logo">
          <img class="mb-4" src="assets/logo.png" alt="" width="64" height="64" >
        </div>
        <h1 class="h2 mb-3 font-weight-normal" >Please sign in</h1>
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input  matInput type="text" formControlName="login" >
          <button mat-icon-button matPrefix color="primary" aria-label="Example icon button with a home icon">
            <mat-icon  >perm_identity</mat-icon>
          </button> 
          <button *ngIf="login.value" matSuffix mat-icon-button aria-label="Clear" (click)="login.patchValue(null)">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error  *ngIf="login.invalid">
            The field is required.    
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <button mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button *ngIf="password.value" matSuffix mat-icon-button aria-label="Clear" (click)="password.patchValue(null)">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error  *ngIf="password.invalid">
            The field is required.    
          </mat-error>
        </mat-form-field>
        <button class="submit"
          mat-flat-button class="buttons-signin"
          [ngClass]="signInForm.valid? 'activeB' : 'disabledButton'" class="buttons-signin"
          (click)="signInForm.valid? handleLoginClick() : null"
          >Sign In
        </button>
      </form>
    </mat-tab>  
    <mat-tab label="Create New User" style="padding: 120px;"> 
      <form class="submit" class="AccessForm" [formGroup]="addNewUserForm">
        <img class="mb-4" src="assets/logo.png" alt="" width="64" height="64" >
        <h1 class="h2 mb-3 font-weight-normal" >Please sign up</h1>
          <mat-form-field appearance="fill"   >
            <mat-label > <mat-icon >accessibility</mat-icon> Userrole</mat-label>
            <mat-select formControlName="userrole" >
              <mat-option *ngFor="let userrole of userroles " [value]="userrole">
                {{userrole}}
              </mat-option>
            </mat-select>
            <mat-error  *ngIf="userroleCreate.invalid">
              The field is required.    
           </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input  matInput type="text" formControlName="login" >
            <button mat-icon-button matPrefix color="primary" aria-label="Example icon button with a home icon">
              <mat-icon  >perm_identity</mat-icon>
            </button> 
            <button *ngIf="loginCreate.value" matSuffix mat-icon-button aria-label="Clear" (click)="loginCreate.patchValue(null)">
              <mat-icon>close</mat-icon>
            </button>
            <mat-error  *ngIf="loginCreate.invalid">
              The field is required.    
           </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <button mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
          <button *ngIf="passwordCreate.value" matSuffix mat-icon-button aria-label="Clear" (click)="passwordCreate.patchValue(null)">
            <mat-icon>close</mat-icon>
            </button>
            <mat-error  *ngIf="passwordCreate.invalid">
              The field is required.    
           </mat-error>
          </mat-form-field>
          <button class="submit"
            mat-flat-button 
            [ngClass]="addNewUserForm.valid? 'activeB' : 'disabledButton'" class="buttons-signin"
            (click)="addNewUserForm.valid? handleNewUserClick() : null"
            >Create New User
          </button>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
