<form class="form-signin" style=" background-image: url('assets/investments.jpg'); color: black;">
  <h1 class="font-bold  to-black tx" style="color: black; text-align: center; margin-top: 5vh;">  Model Portfolio Investment Management System by Andrey Andrusenko</h1>


  <mat-tab-group  style="padding-left: 50px;" #AccountInfo>
    <mat-tab label="Sign In to System" style="padding: 20px;">
 <br>

  <form class="AccessForm" >
    <div class="logo">
    <img class="mb-4" src="assets/logo.png" alt="" width="64" height="64" >
    <h2 *ngIf="errorMsg!=''" style ="color:rgb(157, 2, 2); font-style: italic;">Incorrect username or password</h2>
  </div>
    <h1 class="h2 mb-3 font-weight-normal" >Please sign in</h1>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input  matInput type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" >
        <button mat-icon-button matPrefix color="primary" aria-label="Example icon button with a home icon">
           <mat-icon  >perm_identity</mat-icon>
          </button> 
           <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
           <mat-icon>close</mat-icon>
           </button>
       
      </mat-form-field>
      </p>
    

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <button mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}" [type]="hide ? 'password' : 'text'">
  
    <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
      <mat-icon>close</mat-icon>
      </button>
  </mat-form-field>
  <p>
<button 
  class = "signin" mat-flat-button color="accent" 
  (click)="handleLoginClick()"
  >Sign In
</button>
</p>
</form>
</mat-tab>  

<mat-tab label="Create New User" style="padding: 120px;"> 
  <br>
  <form class="AccessForm" >
    <img class="mb-4" src="assets/logo.png" alt="" width="64" height="64" >
    <h1 class="h2 mb-3 font-weight-normal" >Please sign up</h1>
    <p>
      <mat-form-field appearance="fill">
        <mat-label > <mat-icon  >accessibility</mat-icon> Userrole</mat-label>
        <mat-select [(ngModel)]="userrole" [ngModelOptions]="{standalone: true}">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let userrole of userroles " [value]="userrole">
            {{userrole}}
          </mat-option>
        </mat-select>
       
      </mat-form-field>


    </p>
    
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input  matInput type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" >
        <button mat-icon-button matPrefix color="primary" aria-label="Example icon button with a home icon">
           <mat-icon  >perm_identity</mat-icon>
          </button> 
           <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
           <mat-icon>close</mat-icon>
           </button>
       
      </mat-form-field>
    </p>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <button mat-icon-button color="primary" matPrefix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <input matInput [(ngModel)]="password" [ngModelOptions]="{standalone: true}" [type]="hide ? 'password' : 'text'">

      <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
        <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
      <p>
      <button 
      class = "signin" mat-flat-button color="primary" 
      (click)="handleNewUserClick()"
      >Create New User
      </button>
    </p>
</form>



</mat-tab>
</mat-tab-group>
