.root-container {
  width: 100vw;
  height: 95vh;
}
.root-sidenav-content {
  display: flex;
  width:180vh;
  height: 100%;
}
.mat-accent .mat-slide-toggle-thumb{
  filter: grayscale(100%);
}
.mat-checked .mat-slide-toggle-thumb{
  filter: grayscale(0);
}