.root-container {
  width: 210vh;
  height: 95vh;
}
.root-sidenav-content {
  display: flex;
  width:180vh;
  height: 100%;
}
.root-sidenav {
  padding: 5px;
}
.mat-accent .mat-slide-toggle-thumb{
filter: grayscale(100%);
}
.mat-checked .mat-slide-toggle-thumb{
filter: grayscale(0);
}