.mat-table {
  background-color:#4f4e4e;
  width: 100%;
  font-size: 26px;
}
.mat-header-cell {
  margin-left: 10px;
  font-size: 20px;
  background-color:#393737;
}
tr.detail-row {
  height: 0;
}
.element-row td {
  border-bottom-width: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
}

