<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Type search string" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table  #strategyTable mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i = index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsHeaderToDisplay[i]  | uppercase}}</th>
      <td  mat-cell *matCellDef="let element"
      > <span [ngSwitch]="column">
      <p *ngSwitchCase="'amountTransaction'">
        {{element[column] | currency}} 
      </p>
      <p *ngSwitchCase="'valueDate'">
        {{element[column] | date}} 
      
      </p>
      <p *ngSwitchDefault>
        {{element[column]}}  
      </p>
      </span>
    </td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
    <ng-container  *ngIf="['CR','DR'].includes(element['typeTransaction'])">
        <mat-form-field  >
          <input matInput placeholder="Account" formControlName="accountId" [value] = "element['comment'].split('/')[3]">
        </mat-form-field>
        <mat-form-field  >
          <input matInput placeholder="Operation" formControlName="xTypeTransaction_Ext" [value] = "element['comment'].split('/')[1]">
        </mat-form-field>
        <mat-form-field  >
          <input matInput placeholder="Amount" formControlName="allocatedAmount" [value] = "element['amountTransaction'] | currency">
        </mat-form-field>
 
        <button mat-raised-button style="margin-left: 5%;" aria-label="expand row" color="accent">
          Confim
        </button>
    </ng-container>

      </td>
    </ng-container>
    
    <ng-container matColumnDef="expandedDetail" >
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row [cdkContextMenuTriggerFor]="instrumentcontextmenu"  *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
       
        <ng-template  #instrumentcontextmenu>
          <div class="tree-menu-context" cdkMenu >
            <button 
              class="tree-menu-item" cdkMenuItem >
              <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
              New Strategy
            </button>
            <button 
              class="tree-menu-item" cdkMenuItem >
              <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
              New Strategy (on sample)
            </button>
            <button 
              class="tree-menu-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
              Edit Strategy
            </button>
            <button 
              class="tree-menu-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>delete</mat-icon> 
              Delete Strategy
            </button> 
          </div>
        </ng-template>
        <!-- //Context menu for treeMenu element -->

      </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"    ></tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" aria-label="Select page of users"></mat-paginator>
</div>

