.complex-search-entries .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color: #c1b9b9;
  font-size: 20px;
}
.complex-search-entries .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #c1b9b9;
}

.mat-expansion-panel:hover {background: rgb(43, 43, 245)}
.mat-expansion-panel.mat-expanded:hover {background:  #585656}

.tree-menu-context {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 350px;
  background-color: rgb(184, 184, 184);
  padding: 3px 0;
  font-size: 18px;
}

.tree-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 6px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
.tree-menu-item:hover {
  background-color: rgb(237, 162, 162);
}
.tree-menu-item:active {
  background-color: rgb(147, 128, 128);
}
.menu-icon {
  margin-left: 0px;
  margin-right: 5px;
}

.mat-table {
  background-color:#4f4e4e;
  width: 100%;
  font-size: 26px;
  // margin-left: 1%;
  margin-left: 0px;

}
.mat-header-cell {
  // margin-left: 10px;
  font-size: 20px;
  background-color:#393737;
}

.mat-input-element {
  font-size: 18px;
  background-color:#4f4e4e;
}
.mat-form-field {
  font-size: 18px;
  margin-left: 0px;

}
.mat-cell {
  font-size: 18px;
  margin-left: 0px;
}
tr.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
  // display: flex;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: rgb(43, 43, 245);
}

tr.example-element-row:not(.example-expanded-row):active {
  background: rgb(43, 43, 245);
}

.example-element-row td {
  border-bottom-width: 0;
}



