<!-- Context menu for treeMenu element -->
<ng-template  #treecontextmenu>
  <div class="tree-menu-context" cdkMenu *ngIf="activeNode.nodeRoot !==''">
    <!-- -----------toggle favorite button of context menu. more readable version it semms------ -->
    <button *ngIf="activeNode.favoriteRoot !=='Favorites'"
      (click)="handleNewFavoriteClick($event.target)" 
      class="tree-menu-item" cdkMenuItem>
      <mat-icon class="menu-icon" matPrefix>favorite</mat-icon> 
       Add to favorites
    </button>    
    <button *ngIf="activeNode.favoriteRoot=='Favorites'"
      (click)="handleDeleteFavoriteClick()"
      class="tree-menu-item" cdkMenuItem>
      <mat-icon class="menu-icon" matPrefix>favorite_border</mat-icon>      
      Remove from favorites
    </button>  
    <!-- -----------toggle favorite button of context menu. more readable version it semms------ -->
    <button 
      (click)="handleAddFavUpdate()"
      class="tree-menu-item" cdkMenuItem >
      <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
       New Item</button>
    <button 
       class="tree-menu-item" cdkMenuItem>
      <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
       Edit Item
    </button>
  </div>
</ng-template>
<!-- //Context menu for treeMenu element -->

<!-- ---Search Tree input------- -->
<mat-form-field class="example-form-field">
<mat-label>Search tree</mat-label>
<input 
(keyup.enter)="searchByTree(SearchTree.value)"
matInput type="text" #SearchTree  name="SearchTree">
<button matSuffix mat-icon-button aria-label="Clear" (click)="SearchTree.value=''">
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>
<!-- ---Search Tree input------- -->

<!-- ---Expand All / Collapse Tree menu button------- -->
<button mat-raised-button
    disableRipple    
    matTooltip="{{isExpanded? 'Collapse Tree':'Expand Tree'}}"
    style ="font-size: larger; border-width: 2px; margin-left: 6px;"
    aria-label="TreeExpandCollapse"
    (click)="isExpanded=!isExpanded;
    ToggleTree();">
    {{isExpanded? 'Tree':'Tree'}}
    <mat-icon>{{isExpanded? 'unfold_less':'unfold_more'}}</mat-icon>
</button>
<!-- ---Expand All / Collapse Tree menu button------- -->

<!-- ---Tree Menu items with scrolling area------- -->
<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
<div class="tree-menu" >
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-flat-button [cdkContextMenuTriggerFor]="treecontextmenu"  
    class="tree-button" 
    (click)="sendMessage(node); 
    activeNode = node;"
    [ngClass]="{ 'background-highlight': activeNode === node }">
    <span class="txtColor">{{node.item}}</span>
    </button>    
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button 
      mat-flat-button class="tree-button" 
      color="primary" 
      (click)="sendMessage(node); 
      activeNode = node;"
      [ngClass]="{ 'background-highlight': activeNode === node }"  
      [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon> 
      <span class="txtColor">{{node.item}}</span>
    </button>    
  </mat-tree-node>
</mat-tree>
</div>
</cdk-virtual-scroll-viewport>

<!-- ---Tree Menu items with scrolling area------- -->
<!-- (click)="sendMessage(node);
activeNode = node;" -->