<mat-form-field class="example-form-field">
<mat-label>Search tree</mat-label>
<input matInput type="text" #SearchTree  name="SearchTree">
<button matSuffix mat-icon-button aria-label="Clear" (click)="SearchTree.value=''">
  <mat-icon>close</mat-icon>
</button>
</mat-form-field>

<cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
<div class="tree-menu" >
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-flat-button [cdkContextMenuTriggerFor]="treecontextmenu"
    class="tree-button" 
    (click)="sendMessage(node); 
    activeNode = node;"
    [ngClass]="{ 'background-highlight': activeNode === node }">
    <span class="txtColor">{{node.item}}</span>
    </button>    
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button 
      mat-flat-button class="tree-button" 
      color="primary" 
      (click)="sendMessage(node);
      activeNode = node;"
      [ngClass]="{ 'background-highlight': activeNode === node }"  
      [attr.aria-label]="'Toggle ' + node.item" matTreeNodeToggle>
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon> 
      <span class="txtColor">{{node.item}}</span>
    </button>    
  </mat-tree-node>
</mat-tree>
</div>
</cdk-virtual-scroll-viewport>
<ng-template #treecontextmenu>
  <div class="tree-menu-context" cdkMenu>
    <button class="tree-menu-item">
      <mat-icon class="menu-icon" matPrefix>favorite</mat-icon> 
       Add to favorites</button>
    <button class="tree-menu-item">
      <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
       New Item</button>
    <button class="tree-menu-item">
      <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
       Edit Item</button>
  </div>
</ng-template>
