.mat-table {
  width: 100%;
}
tr.detail-row {
  height: 0;
}
.child-row td {
  border-bottom-width: 0;
}
.mat-column-fee_description {
  width: 30%;
} 
.mat-column-period_desc {
  width: 10%;
} fee_code
.mat-column-fee_code {
  width: 20%;
} 