<mat-toolbar color="primary" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <span>{{title}} Corporate Action</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<form class="submit" [formGroup]="CorpActionsForm">
  <h3 style="color:rgb(177, 174, 174)" *ngIf="CorpActionsForm.valid"> 
    To save data please select 'Submit data' check and then press button 
  </h3>
  <mat-form-field  style="width: 26%;" title="Action Type">
    <mat-label>Action Type</mat-label>
    <mat-select  #actionT formControlName="actiontype"  > 
      <ng-container *ngFor="let caType of caTypes">
      <mat-option  [value]="caType.id">
          {{caType.name }} - {{caType.ratetype}}
      </mat-option>
      </ng-container>
    </mat-select>
    <mat-error  *ngIf="actiontype.errors?.['required']">
      Required!    
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width" style="width: 12%;" >
    <input matInput [matDatepicker]="picker" placeholder="Action date"  formControlName="date" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error  *ngIf="date.errors?.['required']">
      Required!    
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 14%;" title="secid">
    <input matInput placeholder="SecID" formControlName="secid" [readonly]="true" >
  </mat-form-field>
  <br>
  <mat-form-field style="width: 12%;" *ngIf="![5,7].includes(actiontype.value)"  >
    <input matInput placeholder="Unredemeed" formControlName="unredemeedvalue" >
    <mat-error  *ngIf="unredemeedvalue?.errors?.['pattern']">
      Only numbers (0.00)   
    </mat-error>
    <mat-hint *ngIf="unredemeedvalue.valid">
      {{unredemeedvalue.value | number}}
    </mat-hint>
  </mat-form-field>
  <mat-form-field *ngIf="[1,2,3].includes(actiontype.value)" style="width: 15%;" >
    <input matInput [placeholder]="templateStructureAT[actiontype.value].placeholders['couponrate']" formControlName="couponrate" >
  </mat-form-field>
    <mat-form-field style="width: 14%;" >
      <input matInput [placeholder]="templateStructureAT[actiontype.value].placeholders['couponamount']" formControlName="couponamount"  >
      <mat-error  *ngIf="couponamount.errors?.['required']">
        Required!    
      </mat-error>
      <mat-error  *ngIf="couponamount?.errors?.['pattern']">
        Only numbers (0.00)   
      </mat-error>
      <mat-hint *ngIf="couponamount.valid">
        {{couponamount.value | number}}
      </mat-hint>
    </mat-form-field>

  <mat-form-field style="width: 18%;" title="Type to filter data. Click to select">
    <input matInput placeholder="Currency" formControlName="currency" [matAutocomplete]="auto" >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let currency of filteredCurrenciesList | async" [value]="currency.CurrencyCodeNum">
        {{currency.CurrencyCodeNum}} -  {{currency.CurrencyCode}} -  {{currency.CurrencyName}} 
      </mat-option>
    </mat-autocomplete>   
    <mat-error  *ngIf="currency?.errors?.['required']">
      Required!   
    </mat-error>
    <mat-error  *ngIf="currency?.errors?.['currencyCode']">
      Inccorect Code! 
    </mat-error>
  </mat-form-field>
  <div>
    <mat-checkbox style= "font-size: 14px; color:rgb(255, 255, 255); padding: 1%;" #submitbox checked="false" 
      (click)=" CorpActionsForm.markAllAsTouched();
      CorpActionsForm.markAllAsTouched();"
      >Submit Data
    </mat-checkbox>
    <button mat-raised-button color="primary" 
      [disabled]="!(CorpActionsForm.valid && submitbox.checked)"
      (click)="updateInstrumentData(action)"
      style="margin-top: 1px; width: 25%; font-size: 18px; margin-left: 1%;">
      {{title}} Corporate Action
    </button>
  </div>
  <h3 style="color:rgb(252, 113, 113)" *ngIf="CorpActionsForm.invalid"> Please check the form. Data is invalid</h3>
</form>