  <mat-form-field  class = "filterField" title="only by SecID" >
    <mat-label class="whiteTextFilter">Search by SecID..</mat-label>
    <input 
      (keyup)="applyFilter($event,'secid')"
      matInput type="text" #filterSecid  
      matTooltip="Use context menu to add filter">
    <button matSuffix 
      mat-icon-button aria-label="Clear" 
      (click)="clearFilter(filterSecid)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
<!--   <mat-form-field  style="width: 20%;" class = "filterField" title="filter by BoardID">
    <mat-label class="whiteTextFilter">BoardID</mat-label>
    <mat-select  #BoardID  [formControl]="boardsOne" > 
      <mat-option 
        *ngFor="let board of boardIDs" 
        [value]="board.boardid.toString()"
        (onSelectionChange)="applyFilter($event)">
          {{board.boardid}} - {{board.board_title}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field class = "filterField"  style="font-size: 22px;" title="All columns">
    <mat-label class="whiteTextFilter">Search (all columns)...</mat-label>
    <input 
      (keyup)="applyFilter($event)"
      matInput type="text" #filterALL
      matTooltip="Use context menu to add filter"     >
    <button matSuffix 
      mat-icon-button aria-label="Clear" 
      (click)="clearFilter(filterALL)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button color = "accent" mat-raised-button title="Export To Excel"
    style=" margin-left:1%; font-size: 18px;"
    (click)="exportToExcel()">
    Save as XLS 
    <mat-icon matSuffix >save_alt</mat-icon>
  </button>
  <button color = "accent" mat-raised-button title="Reload Table"
  style=" margin-left:1%; font-size: 18px;"
  (click)="submitQuery()">
  Reload 
  <mat-icon matSuffix >refresh</mat-icon>
</button>
<mat-expansion-panel class="headers-align" 
  (opened)="panelOpenStateSecond = true"
  (closed)="panelOpenStateSecond = false" >
  <mat-expansion-panel-header >
    <mat-panel-title >
      Complex search
    </mat-panel-title>
    <mat-panel-description>
      Tap to {{panelOpenStateSecond? 'hide': 'open'}} additional parameters
      <mat-icon color = 'accent'>filter_alt</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <form class="submit" [formGroup]="searchParametersFG"  style="font-size: 18px; margin-left: 0.5%; ">
    <span style="display: flex;    align-items:flex-start;  margin-right: 1%;margin-top: 0.2%;">
      <span style="display:grid; width: 11%; margin-right: 2%;">
        <button color = "primary"  class= "button-color" mat-raised-button 
          style="margin:1%; font-size: 18px;"
          (click)="submitQuery()">
          Submit
        </button>
        <button color = "accent" mat-raised-button 
          style="margin:1%; font-size: 18px;"
          (click)="searchParametersFG.reset();
           instruments=['ClearAll']">
          ClearAll
        </button>
      </span>
      <mat-form-field  class="search-filed">
      <mat-select placeholder="Type" formControlName="type">
        <mat-option [value]="'BUY'">BUY</mat-option>
        <mat-option [value]="'SELL'">SELL</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" formControlName="tdate" class="search-filed">
      <mat-label >Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="dataRange" [rangePicker]="pickerTDate" >
        <input matStartDate placeholder="Start date" formControlName="dateRangeStart" >
        <input matEndDate placeholder="End date" formControlName="dateRangeEnd">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerTDate"></mat-datepicker-toggle>
      <mat-date-range-picker  #pickerTDate></mat-date-range-picker>
      <mat-error *ngIf="dataRange.controls.dateRangeStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="dataRange.controls.dateRangeEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>


    <mat-form-field appearance="fill" formControlName="vdate" class="search-filed">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="dataRangeVdate" [rangePicker]="pickerVDate" >
        <input matStartDate placeholder="Start date" formControlName="dateRangeStart">
        <input matEndDate placeholder="End date" formControlName="dateRangeEnd">
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="pickerVDate"></mat-datepicker-toggle>
      <mat-date-range-picker #pickerVDate></mat-date-range-picker>
      <mat-error *ngIf="dataRange.controls.dateRangeStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
      <mat-error *ngIf="dataRange.controls.dateRangeEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
    </mat-form-field>

    <mat-form-field class="search-filed"> 
      <input matInput placeholder="Quantity" formControlName="qty">
      <mat-hint *ngIf="qty.valid">
        Qty or QtyMin-QtyMax
      </mat-hint>
      <mat-error *ngIf="qty?.errors?.['incorrectRange']">
        Incorrect Range
      </mat-error>
    </mat-form-field>
    <mat-form-field class="search-filed">
      <input matInput placeholder="Price" formControlName="price">
      <mat-hint *ngIf="price.valid">
        Price or PriceMin-PriceMax
      </mat-hint>
      <mat-error *ngIf="price?.errors?.['incorrectRange']">
        Incorrect Range
      </mat-error>
    </mat-form-field>
  </span>
<p style="margin-top: 1%;">
      <mat-form-field  appearance="fill" style="width: 40%; " class="search-filed">
        <mat-chip-list #chipList   >
          <mat-chip *ngFor="let secid of instruments" 
          (removed)="remove(secid,instruments)"
          (click)=" clearAll($event,instruments);">
            {{secid}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input #iputForChip
          [matAutocomplete]="auto"
          matInput
          placeholder="Add secid or secid,secid1,secid2.."
          formControlName="secidList"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event,instruments)"
          matTooltip="Type secid or paste multiple secid codes separated by comma and press enter" >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changedValueofChip($event.option.value,instruments,secidList,$event.option.value,id_secid)">
          <mat-option *ngFor="let secid of filterednstrumentsLists | async" [value]="secid.toString().split(',')[0]">
            {{secid.toString().replaceAll(',',' - ')}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint style="color:rgb(104, 246, 246);">
          INSTRUMENTS LIST
        </mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 40%;" class="search-filed">
        <mat-chip-list #chipListCpty   >
          <mat-chip *ngFor="let cpty of counterparties" 
          (removed)="remove(cpty,counterparties)"
          (click)=" clearAll($event,counterparties);">
            {{cpty}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input #iputForChip
          [matAutocomplete]="autoCpty"
          matInput 
          placeholder="Add cpty or cpty,cpty1,cpty2.."
          formControlName="cptyList"
          [matChipInputFor]="chipListCpty"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event,counterparties)"
          matTooltip="Type cpty name or paste multiple names separated by comma and press enter" >
        </mat-chip-list>
        <mat-autocomplete #autoCpty="matAutocomplete" (optionSelected)="changedValueofChip($event.option.value[0],counterparties,cptyList,$event.option.value[1],id_cptys)">
          <mat-option *ngFor="let cpty of filteredCptyLists | async"[value]="[cpty['clientname'],cpty['idclient']] ">
            {{cpty['clientname']}} -  {{cpty['idclient']}} 
          </mat-option>
        </mat-autocomplete>
        <mat-hint style="color:rgb(104, 246, 246);">
          COUNTERPARTIES LIST
        </mat-hint>
      </mat-form-field>
    </p>
  </form>
</mat-expansion-panel>

<div class="mat-elevation-z8" >
  <table  #strategyTable mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}"  *ngFor="let column of columnsToDisplay; let i=index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header >  {{columnsHeaderToDisplay[i] }}</th>
      <td  mat-cell *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu"  > 
        <span [ngSwitch]="true==true">
          <p  *ngSwitchCase="['action'].includes(column) " >
            <button  *ngIf="disabledControlElements" mat-icon-button color="accent"
              matTooltip="View Trade"
              (click)="openTradeModifyForm('View', element)">
              <mat-icon >pageview</mat-icon>
            </button>
            <ng-container  *ngIf="!disabledControlElements">
              <button mat-icon-button color="accent"
                matTooltip="Edit Trade"
                (click)="openTradeModifyForm('Edit',element)">
                <mat-icon >edit</mat-icon>
              </button>
              <button 
                mat-icon-button 
                color="accent" 
                matTooltip="Delete Trade"
                (click)="openTradeModifyForm('Delete',element)">
                <mat-icon >delete</mat-icon>
              </button>
            </ng-container>
          </p>
          <p style="text-align:center" *ngSwitchCase="['primary_boardid','emitent_inn'].includes(column) "
          [style.color]="additionalLightGreen">
             {{element[column] }}
          </p>

          <p *ngSwitchCase="['tdate','vdate'].includes(column)">
            {{element[column] | date}} 
          </p>
          <p *ngSwitchCase="['idtrade'].includes(column)">
            <button mat-stroked-button style="font-size: 18px; margin-left: 0; width: 57%;margin-top: 8%;"  
            [matTooltip]="'Trade details'"
            [style.background-color] = "investmentNodeColor"
            (click)="openTradeModifyForm(disabledControlElements? 'View': 'Edit',element)">
            {{element[column] }}
            </button> 
          </p>
          <p *ngSwitchDefault>
            {{element[column]}}
          </p>
        </span>
        <ng-template  #instrumentcontextmenu>
          <div class="tree-menu-context" cdkMenu >
            <button 
              (click)="updateFilter(element[column])"
              class="tree-menu-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
              Add to filter
            </button> 
            <ng-container *ngIf="disabledControlElements">
              <button 
                (click)="openTradeModifyForm('View', element)"
                class="tree-menu-item" cdkMenuItem>
                <mat-icon class="menu-icon" matPrefix>pageview</mat-icon> 
                View Trade
              </button> 
            </ng-container>
            
            <ng-container *ngIf="!disabledControlElements" title="Edit block">

              <button 
                class="tree-menu-item" cdkMenuItem 
                (click)="openTradeModifyForm('Create', element)">
                <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
                New Trade
              </button>
              <button 
                class="tree-menu-item" cdkMenuItem 
                (click)="openTradeModifyForm('Create_Example', element)">
                <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
                New Trade (on sample)
              </button>
              <button 
                class="tree-menu-item" cdkMenuItem
                (click)="openTradeModifyForm('Edit', element)">
                <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
                Edit Trade
              </button>
              <button 
                class="tree-menu-item" cdkMenuItem
                (click)="openTradeModifyForm('Delete', element)">
                <mat-icon class="menu-icon" matPrefix>delete</mat-icon> 
                Delete Trade
              </button> 
            </ng-container>
          </div>
        </ng-template>   
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row  *matRowDef="let element; columns: columnsToDisplay"
      (click)="FormMode==='Select'? selectInstrument(element): null ">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" aria-label="Select page of users"></mat-paginator>
</div>
