.mat-select-panel {
  max-height: 80vh !important;
}
.headers-align  .mat-expansion-panel-header {
  background-color: #504f4f;
}
.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.headers-align .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  color: rgb(210, 205, 205);
  font-size: 20px;
}
.mat-header-cell {
  font-size: 20px;
  background-color:#393737;
}
.mat-column-isin {
  color: var(--additionalLightBlue)
}
.mat-column-action {
  width: 8%;
} 
.mat-column-secid {
  width: 10%;
} 