<mat-toolbar style="margin-left: 1%;" color="primary" >
  {{title}} Strategy
</mat-toolbar>

<mat-expansion-panel 
style="margin-left: 1%; margin-right: -1%; padding: 0px;" 
      [expanded]="true"
      (opened)="panelOpenState = true"  
      (closed)="panelOpenState = false" >
      <mat-expansion-panel-header >
      <mat-panel-title >
      Strategy details
      </mat-panel-title>
      <mat-panel-description  >
       {{panelOpenState ? 'Hide' : 'Show'}}
      </mat-panel-description>
      </mat-expansion-panel-header >
  <button mat-raised-button color="accent" 
    [disabled]="!(editStrategyForm.valid && submitbox.checked)"
    (click)="updateStrategyData(action)"
    style="margin-top: 1px; width: 200px; font-size: 18px; margin-left: 1%;">
    {{title}} Strategy {{MP}}
  </button>

  <mat-checkbox color="primary"  #submitbox checked="false" >Submit Data</mat-checkbox>

<form class="submit" [formGroup]="editStrategyForm">
  <mat-form-field style="width: 10%;">
    <input [value]="id"  matInput placeholder="id" formControlName="id">
  </mat-form-field>

  <mat-form-field style="width: 35%; font-size: 16px;" appearance="fill">
    <mat-select  formControlName="level">
      <mat-option *ngFor="let level of levels" [value]="level.value">
        {{level.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
    <mat-error  *ngIf="name.invalid && name.value!==''">
      Strategy Name isn't unique. Please choose another.    
    </mat-error>
    <mat-error  *ngIf="name.invalid && name.touched && name.value==''">
      The field is required.    
   </mat-error>
  </mat-form-field>

  <mat-form-field style="width: 20%;" >
    <input matInput placeholder="BenchmarkAccountId" formControlName="s_benchmark_account">

  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Benchmark Account" formControlName="Benchmark Account">
  </mat-form-field>

  <button mat-raised-button color="accent" 
    (click)="selectBenchmarkAccount()"
    style="margin-top: 10px; font-size: 18px;">
    Select Benchmark Account
  </button>

  <mat-form-field style="width: 95%;">
    <input matInput placeholder="description" formControlName="description">
    <mat-error  *ngIf="Description.invalid && Description.touched">
      The field is required.    
   </mat-error>
  </mat-form-field>
  <p color = 'red' *ngIf="editStrategyForm.invalid"> Please check the form. Data is invalid</p>
</form>
</mat-expansion-panel>

<app-table-strategy_structure *ngIf="showStrateryStructure" 
[parentStrategyId] = strategyId
[MP] = MP >
</app-table-strategy_structure>