<div class="file-menu color-accent " >
  <button mat-flat-button 
  [style.background-color] ="menuColor" 
    aria-label="Tree show/hide"
    [ngStyle]="{'color':treeOpened ? '  black' : 'white'}"
    (click)="showHideTree()">
    
    {{treeOpened? 'Tree hide':'Tree show'}} 
  </button>
  <button mat-flat-button  [matMenuTriggerFor]="menu" [style.background-color] ="menuColor"  style="margin-left: 5px;" matRipple="">Clients</button>
    <mat-menu #menu="matMenu">
    <button mat-menu-item>Accounts</button>
    <button mat-menu-item>Trades</button>
  </mat-menu>
  <button mat-flat-button mat-button [style.background-color] ="menuColor" [matMenuTriggerFor]="menu2">PM</button>
    <mat-menu #menu2="matMenu">
    <button mat-menu-item>Strategies</button>
    <button mat-menu-item>Orders</button>
  </mat-menu>
  <button mat-flat-button mat-button [style.background-color] ="menuColor"  [matMenuTriggerFor]="menu3">Settings</button>
    <mat-menu #menu3="matMenu">
    <button mat-menu-item
      (click)="showChart()">
      Settings
    </button>
    <button mat-menu-item
    (click)="localStorageclear()">
    Local Storage Clear
  </button>
    <button mat-menu-item>User profile</button>
    <button mat-menu-item
      (click)="LogOut()">
      Sign out
    </button>
  
  </mat-menu>

<button mat-flat-button
  class="menuright"
  disableRipple    
  aria-label="Example icon button fullscreen"
  [ngStyle]="{'color':fullscreen ? 'indianred' : 'white'}"
  (click)="toggleFullscreenMode()">
  <mat-icon>{{fullscreen? 'fullscreen_exit' :'fullscreen'}} fullscreen</mat-icon>
  {{fullscreen? 'Exit FullScreen':'FullScreen'}} 
</button>

<button mat-flat-button 
  class="menuright"
  disableRipple    
  aria-label="Example icon button fullscreen"
  color="warn"
  (click)="LogOut()">
   Sign Out 
</button>
<h2 class="menuright"
>{{this.getLogin()}} 
</h2>
<mat-icon class="menuright " style = "transform: scale(2); margin-top: 8px;">account_box</mat-icon> 
</div>

