.mat-table {
  background-color:#313131;
  width: 100%;
  font-size: 26px;
}
.mat-header-cell {
  margin-left: 10px;
  font-size: 20px;
  background-color:#393737;
}
tr.detail-row {
  height: 0;
}
.element-row td {
  border-bottom-width: 0;
}
.element-detail {
  overflow: hidden;
  display: flex;
}
.mat-column-address {
  color: rgb(85, 167, 238)
}
.navigate-button {
  background-color: var(--investmentNodeColor );
}
.mat-column-fee_description {
  width: 30%;
} 
.mat-column-period_desc {
  width: 10%;
} fee_code
.mat-column-fee_code {
  width: 20%;
} 