.mat-table {
  width: 100%;
}
tr.detail-row {
  height: 0;
}
.childTable {
 background-color: var(--secondaryBackgroundColor);
}
.parentTable {
 width: 100%;
 background-color:var(--mainBackgroundColor);
}
tr.mat-row:hover {
  border: unset !important;
  background:unset !important;
}
.mat-column-fee_description {
  width: 30%;
} 
.mat-column-period_desc {
  width: 10%;
} 
.mat-column-fee_code {
  width: 20%;
} 