<ng-container *ngIf="accessState!=='none'">
  <mat-toolbar style="margin-left: 1%;" color="primary" >
  {{action==='Create_Example'? 'Create' : action}} {{Level.value===2? ' Strategy':'Model Portfolio'}}  <span style="color: whitesmoke;"> {{':  '+ Description.value}}</span>
  </mat-toolbar>
  <mat-expansion-panel style="margin-left: 1%; margin-right: -1%; " 
    [expanded]="true"
    (opened)="panelOpenState = true"  
    (closed)="panelOpenState = false" >
    <mat-expansion-panel-header>
      <mat-panel-title style="margin-bottom: 1%;" >
        Strategy details
      </mat-panel-title>
      <mat-panel-description  >
        {{panelOpenState ? 'Hide' : 'Show'}}
      </mat-panel-description>
    </mat-expansion-panel-header >
    <button mat-raised-button color="accent" 
      [disabled]="!(editStrategyForm.valid && submitbox.checked)"
      (click)="updateStrategyData(action)"
      style="margin-top: 1px; width: 200px; font-size: 18px; margin-left: 1%;">
      {{action==='Create_Example'? 'Create' : action}} Strategy
    </button>
    <mat-checkbox color="primary"  #submitbox checked="false" 
      (click)=" 
        editStrategyForm.markAllAsTouched();
        editStrategyForm.controls['name'].updateValueAndValidity();"
      >Submit Data
    </mat-checkbox>
    <form class="submit" [formGroup]="editStrategyForm">
      <mat-form-field style="width: 10%;">
        <input [value]="id"  matInput placeholder="id" formControlName="id" [readonly]="true">
      </mat-form-field>
      <mat-form-field style="width: 35%; font-size: 16px;" appearance="fill">
        <mat-select  formControlName="level">
          <mat-option *ngFor="let level of portfolioTypes" [value]="level.value">
            {{level.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error  *ngIf="name?.errors?.['required']">
          Required!    
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
        <mat-error  *ngIf="name?.errors?.['uniqueStrategyCode']">
          Not unique. Please choose another  
        </mat-error>
        <mat-error  *ngIf="name?.errors?.['required']">
          Required!    
        </mat-error>
      </mat-form-field>
      <mat-form-field style="width: 20%;" >
        <input matInput placeholder="PortfolioCode" formControlName="s_benchmark_account" [readonly]="true">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Benchmark Portfolio" formControlName="Benchmark Account">
      </mat-form-field>
      <button *ngIf="!disabledControlElements" mat-raised-button color="accent" 
        (click)="selectBenchmarkAccount()"
        style="margin-top: 10px; font-size: 18px;">
        Select Benchmark Account
      </button>
      <mat-form-field style="width: 95%;">
        <input matInput placeholder="description" formControlName="description">
        <mat-error  *ngIf="Description?.errors?.['required']">
          Required!    
        </mat-error>
      </mat-form-field>
      <p color = 'red' *ngIf="editStrategyForm.invalid"> Please check the form. Data is invalid</p>
    </form>
  </mat-expansion-panel>
  <app-table-strategy_structure style="width:130%" #strategyStructureTable
    [ModelPortfolio] = Level.value 
    [parentStrategyId] = id.value
    >
  </app-table-strategy_structure>
</ng-container>