<mat-toolbar color="primary" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4"
cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle>
  <span>{{action==='Create_Example'? 'Create':action}} LL Accounting Scheme {{id?.value}}</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-checkbox style= "font-size: 14px; color:rgb(255, 255, 255); padding: 1%;" #submitbox checked="false" 
  (click)=" SchemeFormLL.markAllAsTouched();
  SchemeFormLL.markAllAsTouched();"
  >Submit Data
</mat-checkbox>
<button mat-raised-button color="primary" 
  [disabled]="!(SchemeFormLL.valid && submitbox.checked)"
  (click)="updateSchemeDataLL(action)"
  style="margin-top: 1px; width: 20%; font-size: large; margin-left: 1%;">
  {{action==='Create_Example'? 'Create':action}} LL Accounting Scheme
</button>
<form class="submit" [formGroup]="SchemeFormLL">
  <h3 style="color:rgb(177, 174, 174);margin-left: 1%;" *ngIf="SchemeFormLL.valid"> 
    To save data please select 'Submit data' check and then press button 
  </h3>
  <p>
    <mat-form-field style="width: 15%;" title="Scheme Code">
      <input matInput placeholder="Scheme Code" formControlName="cSchemeGroupId"  >
      <mat-hint class='mat-error' *ngIf="cSchemeGroupId.errors?.['required']">
        Required!
      </mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 20%;" title="Type">
      <mat-select placeholder="Type" formControlName="XactTypeCode">
        <mat-option *ngFor="let type of TransactionTypes" [value]="type[0]" [disabled]="true">
          {{type[1]}}
        </mat-option>
      </mat-select>
      <mat-hint class='mat-error' *ngIf="XactTypeCode.errors?.['required']">
        Required!
      </mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 25%;" title="Code">
      <mat-select placeholder="Code" formControlName="XactTypeCode_Ext">
        <mat-option *ngFor="let item of TransactionCodes" [value]="item.id">
          {{item.name}}
        </mat-option>
      </mat-select>
      <mat-hint class='mat-error' *ngIf="XactTypeCode_Ext.errors?.['required']">
        Required!
      </mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width: 14%" title="Debit ID">
      <input matInput placeholder="Debit ID" formControlName="ledgerID_Debit" >
      <mat-hint class='mat-error' *ngIf="ledgerID_Debit.errors?.['required']">
        Required!
      </mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 25%" title="Debit">
      <input matInput placeholder="Debit" formControlName="ledger_debit" [readonly]="true"  >
      <button mat-flat-button matSuffix color="accent" 
      matTooltip="Select Instrument"
      (click)="selectLedger('debit') ">
      <mat-icon >input</mat-icon>
      </button>
      <mat-hint class='mat-error' *ngIf="ledgerID_Debit.errors?.['required']">
       Required! (Use button to select)
      </mat-hint>
      <mat-hint  *ngIf="ledgerID_Debit.valid">
        Use button to change account
      </mat-hint>
    </mat-form-field>

    <mat-form-field style="width: 14%" title="Credit ID">
      <input matInput placeholder="Credit ID" formControlName="ledgerID"  >
      <mat-hint class='mat-error' *ngIf="ledgerID.errors?.['required']">
        Required!
      </mat-hint>
    </mat-form-field>
    <mat-form-field style="width: 25%" title="Credit">
      <input matInput placeholder="Credit" formControlName="ledger_credit" [readonly]="true"  >
      <button mat-flat-button matSuffix color="accent" 
      matTooltip="Select Instrument"
      (click)="selectLedger('credit') ">
      <mat-icon >input</mat-icon>
      </button>
      <mat-hint  *ngIf="ledgerID.valid">
        Use button to chage account
      </mat-hint>
      <mat-hint class='mat-error' *ngIf="ledgerID.errors?.['required']">
        Required! (Use button to select)
      </mat-hint>
    </mat-form-field>
  </p>
  <mat-form-field style="width: 20%;" title="dateTime">
    <input matInput placeholder="dateTime" formControlName="dateTime"  >
    <mat-hint class='mat-error' *ngIf="dateTime.errors?.['required']">
      Required!
    </mat-hint>
    <mat-hint  *ngIf="dateTime.valid&&!dateTime.value">
      Default is current date
    </mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="amount">
    <input matInput placeholder="amount" formControlName="amount"  >
    <mat-hint class='mat-error' *ngIf="amount.errors?.['required']">
      Required!
    </mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="idtrade">
    <input matInput placeholder="idtrade" formControlName="idtrade"  >
    <mat-hint class='mat-error' *ngIf="idtrade.errors?.['required']">
      Required!
    </mat-hint>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="extTransactionId">
    <input matInput placeholder="extTransactionId" formControlName="extTransactionId"  >
  </mat-form-field>
  <p>  
    <mat-form-field style="width: 90%;" title="entryDetails">
    <input matInput placeholder="entryDetails" formControlName="entryDetails"  >
    <mat-hint class='mat-error' *ngIf="entryDetails.errors?.['required']">
      Required!
    </mat-hint>
  </mat-form-field>
</p>
<mat-expansion-panel style="margin-top: 0.5%; color:black; " class="headers-align">
  <mat-expansion-panel-header style="font-size: large;">
    Scheme Parameters
  </mat-expansion-panel-header>
  <acc-schemes-params-table
  [schemesProcess]="schemesProcess"
  ></acc-schemes-params-table>
</mat-expansion-panel>
  <h3 style="color:rgb(252, 113, 113)" *ngIf="SchemeFormLL.invalid"> Please check the form. Data is invalid</h3>
</form>