/* ::ng-deep .mat-select-panel  .longList {
  min-height:70vh !important 
} */
.mat-toolbar {
  margin-bottom:10px;
   border-radius: 5px;
   color:#c1b9b9;
   cursor: move;
  }
.mat-column-d_entryDetails {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 24% !important;
  width: 24% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
