.content-container  {
  width: 100%;
  background-color: rgb(189, 195, 201);
}
.mat-success {
  background-color: rgb(164, 28, 28);
  color: #fff;
  border-radius: 15px;
}
.mat-successd {
  background: rgb(61, 61, 255);
  color: #fff;
  border-radius: 15px;
}
.dialog-headline{
font-weight: 500;
padding: 1em;
margin: 1em;
margin-bottom: 3em;
text-align: center;
font-size: 1.5em;
color:rgb(62, 62, 62);
border-radius: 15px;
background-color: rgb(255, 255, 255);

}

