.example-container {
  width: 210vh;
  height: 95vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  width:180vh;
  height: 100%;
}

.example-sidenav {
  padding: 5px;
}

.mat-accent .mat-slide-toggle-thumb{
filter: grayscale(100%);
}

.mat-checked .mat-slide-toggle-thumb{
filter: grayscale(0);
}