<mat-form-field>
  <input matInput (keyup)="applyFilter($event)" placeholder="Type search string" #input>
</mat-form-field>
<div class="mat-elevation-z8">
  <table  #strategyTable mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{columnsHeaderToDisplay[i]  | titlecase}}</th>
      <td  mat-cell *matCellDef="let element"> 
        <span [ngSwitch]="column">
          <p *ngSwitchCase="'t_dataTime'">
            {{element[column] | date}} 
          </p>
          <p *ngSwitchCase="'t_XactTypeCode'">
            {{ element[column]==0?  'Both' :  element[column]==1?  'Debit' : 'Credit'}}
          </p>
          <p *ngSwitchCase="'t_amountTransaction'">
            {{element[column] | currency}} 
          </p>
          <p *ngSwitchDefault>
            {{element[column]}}  
          </p>
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="expand">
      <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
      <td mat-cell *matCellDef="let element">
        <button  *ngIf="element.t_dataTime<FirstOpenedAccountingDate" mat-icon-button 
          aria-label="expand row" color="accent"
          mat-icon-button aria-label="expand row" color="accent"
          matTooltip="View entry (day is closed)"
          (click)="openEntryModifyForm('View', element)">
          <mat-icon >pageview</mat-icon>
        </button>
        <button  *ngIf="element.t_dataTime>FirstOpenedAccountingDate ||element.t_dataTime==FirstOpenedAccountingDate" 
          mat-icon-button aria-label="expand row" color="accent"
          matTooltip="Edit entry"
          (click)="openEntryModifyForm('Edit', element)">
          <mat-icon >edit</mat-icon>
        </button>
        <button *ngIf="element.t_dataTime>FirstOpenedAccountingDate" mat-icon-button 
          style="margin-left: 5%;" aria-label="expand row" color="accent" 
          matTooltip="Delete entry"
          (click)="openEntryModifyForm('Delete', element)">
          <mat-icon >delete</mat-icon>
        </button>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="expandedDetail" >
      <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length"></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
    <tr mat-row [cdkContextMenuTriggerFor]="instrumentcontextmenu"  *matRowDef="let element; columns: columnsToDisplayWithExpand;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element">
        <ng-template  #instrumentcontextmenu>
          <div class="tree-menu-context" *ngIf="!readOnly" cdkMenu >
            <button 
              (click)="openEntryModifyForm('Create', element)"
              class="tree-menu-item" cdkMenuItem >
              <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
              New Entry Account-Ledger
            </button>
            <button 
            (click)="openEntryModifyForm('CreateLL', element)"
            class="tree-menu-item" cdkMenuItem >
            <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
            New Entry Ledger-Ledger
          </button>
            <button 
              (click)="openEntryModifyForm('Create_Example', element)"
              class="tree-menu-item" cdkMenuItem >
              <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
              New Entry (on sample)
            </button>
            <button 
            (click)="openEntryModifyForm('Edit', element)"
              class="tree-menu-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
              Edit Entry
            </button>
            <button 
              (click)="openEntryModifyForm('Delete', element)"
              class="tree-menu-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>delete</mat-icon> 
              Delete Entry
            </button> 
          </div>
        </ng-template>
      </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"    ></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" aria-label="Select page of users"></mat-paginator>
</div>
