<ng-container *ngIf="accessState!=='none'" >
  <mat-form-field style="width: 20%;"class = "filterField"  title="Filter All columns">
    <mat-label class="whiteTextFilter">Search (all columns)...</mat-label>
    <input 
      (keyup)="applyFilter($event)"
      matInput type="text" #filterALL
      matTooltip="Use context menu to add filter"     >
    <button matSuffix 
      mat-icon-button aria-label="Clear" 
      (click)="clearFilter(filterALL)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>


  <button color = "accent" mat-raised-button title="Export To Excel"
    style=" margin-left:1%; font-size: 18px;"
    (click)="exportToExcel()">
    Save as XLS 
    <mat-icon matSuffix >save_alt</mat-icon>
  </button>
  <button color = "warn" mat-raised-button title="Accept Violations"
    style=" margin-left:1%; font-size: large;"
    (click)="acceptAlloc()">
    Accept Violations
    <mat-icon matSuffix >thumb_up_alt</mat-icon>
  </button>
  <button color = "primary" mat-raised-button title="Cancel Allocation"
    style=" margin-left:1%; font-size: large;"
    (click)="cancelAlloc()">
    Cancel Allocation
    <mat-icon matSuffix >thumb_down_alt</mat-icon>
  </button>

  <table  mat-table [dataSource]="dataSource" multiTemplateDataRows matSort
   class="mat-elevation-z8" 
    class ="childTable" style="width: 150%; margin-top: 0.5%;" >
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index" justify="right"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsHeaderToDisplay[i]}}</th>
      <td 
        mat-cell *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu" >
        <span [ngSwitch]="true==true">
          <p *ngSwitchDefault>{{element[column]}}</p>
          <p *ngSwitchCase="['act_mtm','new_mtm','npv','net_orders'].includes(column)">{{element[column]|currency :' '}} </p>
          <p *ngSwitchCase="['rest_type','param'].includes(column)">{{element[column]? element[column].toLocaleUpperCase():''}} </p>
          <p *ngSwitchCase="['act_violation_and_orders','act_violation','mp_violation','new_wgt','new_viol'].includes(column)&&element[column]!==null">
            <span [style.color]="element[column]==0? 'default' : element[column]>0?'indianred':'white'">{{element[column]|currency :' '}}{{'%'}} </span>
          </p>
          <p *ngSwitchCase="['act_weight_and_orders','act_weight','mp_weight'].includes(column)&&element[column]!==null">
            {{element[column]|currency :' '}}{{'%'}} 
          </p>
        </span>
        <ng-template  #instrumentcontextmenu>
          <div class="tree-menu-context" cdkMenu >
            <button 
            (click)="updateFilter(element[column])"
            class="tree-menu-item" cdkMenuItem>
            <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
            Add to filter
          </button> 
          </div>
        </ng-template>  
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row  *matRowDef="let element; columns: columnsToDisplay; let dataindex=dataIndex;"
      tabindex=0
   >
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 15, 25, 100]" [pageSize]="rowsPerPages" aria-label="Select page of allocation"></mat-paginator>
</ng-container>