<ng-container *ngIf="accessState!=='none'" >
  <span style="display: flex;    align-items:flex-start;  margin-right: 1%;margin-top: 0.2%;"> 
      <button color = "accent"  mat-raised-button 
        style="margin:1%; "
        (click)="showHistoricalPortfolio(reportDate.value)">
        Show Historical Portfolio
      </button>
   <mat-form-field > <!-- Date Filter -->
      <mat-label >Enter a date </mat-label>
        <input matInput placeholder="Report date" [matDatepicker]="pickerTDate" #reportDate [value]="rDate" >
      <mat-datepicker-toggle matSuffix [for]="pickerTDate"></mat-datepicker-toggle>
      <mat-datepicker  #pickerTDate [startAt]="rDate"></mat-datepicker>
    </mat-form-field>
  </span>
  <mat-form-field 
    *ngIf="showFilter"
    style="width: 30%;"class = "filter-field"  title="Filter All columns">
    <mat-label>Type to search...</mat-label>
    <input 
      (keyup)="applyFilter($event)"
      matInput type="text" #filterALL
      matTooltip="Use context menu to add filter">
    <button matSuffix 
      mat-icon-button aria-label="Clear" 
      (click)="clearFilter(filterALL)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <table  mat-table [dataSource]="dataSource" multiTemplateDataRows matSort style="width: 100%;" >
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index" justify="right"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsHeaderToDisplay[i]}}</th>
      <td 
        mat-cell *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu" >
        <span [ngSwitch]="true==true">
          <p *ngSwitchDefault>{{element[column]}}</p>
          <p *ngSwitchCase="['tr_date'].includes(column)">{{element[column] | date:'MMM d, y, HH:mm:ss'}} </p>
         </span>
        <ng-template  #instrumentcontextmenu>
          <div class="menu-context" cdkMenu >
            <button 
              (click)="updateFilter(element[column])"
              class="menu-context-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
              Add to filter
            </button> 
            <button 
              (click)="exportToExcel()"
              class="menu-context-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>save_alt</mat-icon> 
              Save as XLS
            </button> 
            <button 
              (click)="submitQuery()"
              class="menu-context-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>refresh</mat-icon> 
              Reload
            </button> 
          </div>
        </ng-template>  
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay; let dataindex=dataIndex;"
      tabindex=0   >
    </tr>
  </table>
  <mat-paginator ></mat-paginator>
</ng-container>