
.ball-button {
  width: 3vw;
  height: 4vh;
    border-radius: 45%;
    background-color:violet;
   
}

.form-signin {
  min-height: 100vh;
  width: 100%;
  padding: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} 
