
<!-- Context menu for treeMenu element -->
<ng-template  #instrumentcontextmenu>
  <div class="tree-menu-context" cdkMenu >
    <!-- -----------toggle favorite button of context menu. more readable version it semms------ -->
    <!-- (click)="handleNewFavoriteClick($event.target)"  -->
    <button 
      (click)="openAddFileDialog('Create')"
      class="tree-menu-item" cdkMenuItem >
      <mat-icon class="menu-icon" matPrefix>add_circle</mat-icon>      
      New Imstrument</button>
    <button 
      (click)="openAddFileDialog('Edit')"
      class="tree-menu-item" cdkMenuItem>
      <mat-icon class="menu-icon" matPrefix>edit</mat-icon>      
      Edit Instrument
    </button>
    <button 
     (click)="openAddFileDialog('Delete')"
      class="tree-menu-item" cdkMenuItem>
      <mat-icon class="menu-icon" matPrefix>delete</mat-icon> 
      Delete Instrument
    </button> 
    <button 
    (click)="chooseAccount()"
     class="tree-menu-item" cdkMenuItem>
     <mat-icon class="menu-icon" matPrefix>done</mat-icon> 
     Select Instrument
   </button> 
  </div>
</ng-template>
<!-- //Context menu for treeMenu element -->

<div [cdkContextMenuTriggerFor]="instrumentcontextmenu" class="dataTableTitle"> <h2> Instruments list </h2> </div>

<table datatable  id="mytable" [cdkContextMenuTriggerFor]="instrumentcontextmenu"[dtOptions]="dtOptions" 
class="row-border hover"
></table>


 <!-- <app-app-instrument-edit-form></app-app-instrument-edit-form>  -->