.first-expansion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color:rgb(198, 255, 215);
  font-weight: bold;
  font-size: 18px;
  // margin-left: 1%;


}
.first-expansion  .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  color: rgb(239, 237, 237);
  font-weight: bold;
  font-size: 20px;
  // margin-left: 1%;


}
.first-expansion  .mat-expansion-panel-header {
  background-color: #807f7f;
  // margin-left: 1%;

}
/* 
.headers-align  .mat-expansion-panel-header {
  background-color: #302f2f;
  // margin-left: 1%;

}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color: rgb(241, 136, 136);
  font-weight: bold;
  font-size: 18px;
  // margin-left: 1%;


}
.headers-align .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  color: rgb(94, 93, 93);
  font-weight: bold;
  font-size: 20px;
  // margin-left: 1%;

} */

.tree-menu-context {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 350px;
  background-color: rgb(184, 184, 184);
  padding: 3px 0;
  font-size: 18px;
}
.tree-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 6px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
.tree-menu-item:hover {
  background-color: rgb(237, 162, 162);
}
.tree-menu-item:active {
  background-color: rgb(147, 128, 128);
}
.menu-icon {
  margin-left: 0px;
  margin-right: 5px;
}
:host ::ng-deep .sorting {
  text-align: center !important;
  background-color: #666966; 
  font-size: 20PX;

}
:host ::ng-deep .dataTables_wrapper {
  margin-left: 10px !important;

}
.dataTableTitle {
  display: contents;
  text-align: center;
  justify-content: center;

}
.dataTable
{   
    font-size: 18px;
    background-color:#4f4e4e;
    /* font-weight: 600; */
    color: lightgrey;
    text-align: center;
}
:host ::ng-deep th  {
  font-size: 20px;
  background-color:#4f4e4e;
  line-height: 30px;
}

:host ::ng-deep .dt-control 
{background-color: #c3c8e2;
  color:#666966;}


  :host ::ng-deep  .btn.btn-rounded 
{
    width: 150px;
    height: 50px;
    background-color: #031bcd;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px; 
    font-size: 18px; 
    border-width: 0px;
    /* font-weight: 600; */
} 
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Styling Buttons to Rounded  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

:host ::ng-deep .dataTables_filter 
    {
    float:inline-end !important;
    margin-top: 1px;
    font-size: x-large;    
    
    }

    :host ::ng-deep div.dataTables_wrapper div.dataTables_filter input  
{
     
     background-color:#666966;
        font-size: x-large;
        color: lightgrey;
        border-color:#080808;
        border-width: 1px; 
          
}

 