<mat-toolbar color="primary" mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
  <span>{{action}} Instrument</span>
  <span class="example-spacer"></span>
  <mat-checkbox style= "font-size: 14px; color:rgb(255, 255, 255); padding: 1%;" #submitbox checked="false" 
    (click)=" instrumentModifyForm.markAllAsTouched();
    instrumentModifyForm.updateValueAndValidity();"
    >Submit Data
  </mat-checkbox>
  <button mat-raised-button color="accent" 
    [disabled]="!(instrumentModifyForm.valid && submitbox.checked)"
    (click)="updateInstrumentData(action)"
    style="margin-top: 1px; width: 30%; font-size: 18px; margin-left: 1%;">
    {{action}} Instrument
  </button>
</mat-toolbar>

<form class="submit" [formGroup]="instrumentModifyForm">
  <h3 style="color:rgb(177, 174, 174)" *ngIf="instrumentModifyForm.valid"> 
    To save data please select 'Submit data' check and then press button {{secid.hasError('secidIsTaken')}}
  </h3>
  <mat-form-field style="width: 14%;" title="SecID">
    <input matInput placeholder="SecID" formControlName="secid">
    <mat-error  *ngIf="secid?.errors?.['required']">
      Required!    
    </mat-error>
    <mat-error  *ngIf="secid.hasError('secidIsTaken')">
      Not unique!    
    </mat-error>
  </mat-form-field>
  <mat-form-field  style="width: 26%;" title="Security Group Code">
    <mat-label>Main Type Code</mat-label>
    <mat-select  #securityGroup formControlName="group" 
    (selectionChange)="this.type.patchValue(null);
                      filtersecurityType($event.value)" > 
      <ng-container *ngFor="let securityGroup of securityGroups">
      <mat-option  [value]="securityGroup.name">
          {{securityGroup.name }} - {{securityGroup.title}}
      </mat-option>
      </ng-container>
    </mat-select>
    <mat-error  *ngIf="group?.errors?.['required']">
      Required!   
    </mat-error>
  </mat-form-field>
  <mat-form-field  style="width: 28%;" title="Security Type Code">
    <mat-label>Security Type Code</mat-label>
    <mat-select  #securityType formControlName="type"  > 
      <ng-container *ngFor="let securityType of securityTypesFiltered">
      <mat-option  [value]="securityType.security_type_name">
          {{securityType.security_type_name }} - {{securityType.security_type_title}}
      </mat-option>
      </ng-container>
    </mat-select>
    <mat-error  *ngIf="type?.errors?.['required']">
      Required!   
    </mat-error>
  </mat-form-field>
  <mat-form-field style = "width: 15%;" title="ISIN">
    <input matInput placeholder = "ISIN" formControlName="isin">
    <mat-error  *ngIf="isin.hasError('isinIsTaken')">
      Not unique!    
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 12%;" title="regnumeric">
    <input matInput placeholder="Reg numeric" formControlName="regnumeric" >   
  </mat-form-field>
  <mat-form-field  style="width: 26%;" title="Main Board Code">
    <mat-label>Main Board Code</mat-label>
    <mat-select  #mainBoard formControlName="primary_boardid"  > 
      <ng-container *ngFor="let moexBoard of moexBoards">
      <mat-option  [value]="moexBoard.boardid">
          {{moexBoard.boardid }} - {{moexBoard.board_title}}
      </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field  style="width: 26%;" title="Market Price Board">
    <mat-label>Market Price Board</mat-label>
    <mat-select  #mainBoard formControlName="marketprice_boardid"  > 
      <ng-container *ngFor="let moexBoard of moexBoards">
      <mat-option  [value]="moexBoard.boardid">
          {{moexBoard.boardid }} - {{moexBoard.board_title}}
      </mat-option>
      </ng-container>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 35%;" title="Instrument Name">
    <input matInput placeholder="Instrument Name" formControlName="name" >   
    <mat-error  *ngIf="name?.errors?.['required']">
      Required!   
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 15%;" title="INN">
    <input matInput placeholder="INN" formControlName="emitent_inn" >
  </mat-form-field>
  <mat-form-field style="width: 35%;" title="Emitent Title" >
    <input matInput placeholder="Emitent Title" formControlName="emitent_title" >
  </mat-form-field>
  <mat-form-field style="width: 14%;" >
    <input matInput [matDatepicker]="picker" [placeholder]="placeholders.get('maturitydate')" formControlName="maturitydate" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error  *ngIf="maturitydate?.errors?.['required']">
      Required!   
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 20%;" title="Type to find(any filed). Click to select">
    <input matInput [placeholder]="placeholders.get('faceunit')" formControlName="faceunit" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let currency of filteredCurrenciesList | async" [value]="currency['CurrencyCodeNum']">
        {{currency['CurrencyCodeNum']}} -  {{currency['CurrencyCode']}} -  {{currency['CurrencyName']}} 
      </mat-option>
    </mat-autocomplete>   
    <mat-error  *ngIf="faceunit?.errors?.['required']">
      Required!   
    </mat-error>
    <mat-error  *ngIf="faceunit?.errors?.['currencyCode']">
      Inccorect Code! Only numbers  
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 14%;" title="facevalue">
    <input matInput [placeholder]="placeholders.get('facevalue')" formControlName="facevalue" >   
    <mat-error  *ngIf="facevalue?.errors?.['pattern']">
      Only numbers (0.00)   
    </mat-error>
    <mat-error  *ngIf="facevalue?.errors?.['required']">
      Required!   
    </mat-error>
    <mat-hint *ngIf="facevalue.valid">
      {{facevalue.value | number}}
    </mat-hint>
  </mat-form-field>
  <br>
  <br>
  <h3 style="color:rgb(252, 113, 113)" *ngIf="instrumentModifyForm.invalid"> Please check the form. Data is invalid</h3>
</form>
<mat-expansion-panel class="headers-align" title="instrumenCorpActionsTable"
  (opened)="panelOpenStateSecond = true"
  (closed)="panelOpenStateSecond = false" >
<mat-expansion-panel-header >
  <mat-panel-title>
    Corporate Actions
  </mat-panel-title>
  <mat-panel-description>
    Tap to {{panelOpenStateSecond? 'hide': 'open'}} additional details
    <mat-icon color = 'accent'>event</mat-icon>
  </mat-panel-description>
</mat-expansion-panel-header >
<div style="width: 100%;">
<app-table-inst-corp-actions 
  [coprData]="instrumentCorpActions"  
  [instrument]="{secid:secid.value, group:group.value, type:type.value}"> 
</app-table-inst-corp-actions>
</div>
</mat-expansion-panel>
<br>
<mat-expansion-panel class="headers-align" title="instrumentDetailsTable"
  (opened)="panelOpenStateFirst = true"
  (closed)="panelOpenStateFirst = false" >
  <mat-expansion-panel-header style="margin-bottom: 1%;">
    <mat-panel-title title="Details">
      Details
    </mat-panel-title>
    <mat-panel-description >
      Tap to {{panelOpenStateFirst? 'hide': 'open'}} additional parameters
      <mat-icon color = 'accent'>list</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <div style="width: 100%;">
    <app-table-instrument-details 
      [instrumentDetails]="instrumentDetails"  
      [secid]="secid.value"> 
    </app-table-instrument-details>
    </div>
</mat-expansion-panel>
