<span *ngIf="FormMode==='QuotesMode'" title="TableFilterGroup"> 
  <mat-form-field  class = "filter-field" >
    <mat-label>Type to search...</mat-label>
    <input 
      (keyup)="applyFilter($event)"
      [formControl]="filterlFormControl" 
      matInput type="text" #filter  name="tableFilter"
      matTooltip="Use context menu to add filter"
     >
    <button matSuffix 
      mat-icon-button aria-label="Clear" 
      (click)="clearFilter(filter)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button color = "accent" mat-raised-button 
    style=" margin-left:1%; "
    (click)="exportToExcel()">
    Save as XLS 
    <mat-icon matSuffix >save_alt</mat-icon>
  </button>
  <button color = "accent" mat-raised-button 
    style=" margin-left:1%; "
    (click)="submitQuery()">
    Reload 
    <mat-icon matSuffix >refresh</mat-icon>
  </button>
</span>
<mat-expansion-panel 
  *ngIf="FormMode==='QuotesMode'&&!disabledControlElements" 
  class="headers-align" 
  [expanded]="1"
  (opened)="panelOpenStateFirst = true"
  (closed)="panelOpenStateFirst = false" 
  style="width: 100%;">
  <mat-expansion-panel-header >
    <mat-panel-title>
      Currencies Data Update
    </mat-panel-title>
    <mat-panel-description>
      Tap to {{panelOpenStateFirst? 'hide': 'open'}} control elements
      <mat-icon>cloud_download</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <h4 style="  text-align: center;" *ngIf="loadingDataState.state==='Pending'">Loading market data...</h4>
  <form    [formGroup]="loadMarketData" style="   margin-top: 0.5%;">
    <div style="text-align: center;">
      <span *ngIf="!['None','Pending'].includes(loadingDataState.state)" title="loadingDataState">
        <span [style.color]="loadingDataState.state=='terminated'? 'var(--warnColor)': 'default'">
          Status: {{loadingDataState.message}}.
          <span *ngIf="loadingDataState.loadedCount"> Uploaded: {{loadingDataState.loadedCount}} rows </span>
          <span *ngIf="loadingDataState.deletedCount" [style.color]="'var(--accentColor)'"> &&  Deleted: {{loadingDataState.deletedCount}} rows</span> 
        </span>
      </span>
    </div>
    <button color = "accent" #getRatesb mat-raised-button title="getMarketData"
      [matTooltip]="getRatesb.disabled? 'Select sources to upload':'Click to start loading'"
      style=" margin-left:1%; margin-right: 1%; margin-top: 1%; width: 20%;"
      [disabled]="loadingDataState.state==='Pending' || loadMarketData.invalid"
      (click)="getRatestData()">
      Get currencies rates data 
    </button>
    <mat-form-field style="margin-right: 2%; width: 12%; " title="Date to upload">
      <input matInput formControlName = "dateForLoadingPrices" [matDatepicker]="dateForMarketData" placeholder="Date to upload">
      <mat-datepicker-toggle matSuffix [for]="dateForMarketData"></mat-datepicker-toggle>
      <mat-datepicker  #dateForMarketData></mat-datepicker>
    </mat-form-field> 
    <mat-slide-toggle #deleteOldMarketData formControlName="overwritingCurrentData"
      style="margin-left: 1%; margin-right: 1%;"
      [style.color]="deleteOldMarketData.checked===true? 'var(--warnColor)':'var(--mainFontColor)'"
      >Replace current rates data <br>{{deleteOldMarketData.checked? 'allowed!':'forbidden'}}
    </mat-slide-toggle>
    <span style=" display:inline-block;"
      *ngFor="let marketSource of marketSources;let i=index" >
      <span style="margin-left: 3%;;" >
        <mat-checkbox  class="marketSource-margin"
                      [indeterminate]="marketSource.indeterminate"
                      (change)="marketSource.checkedAll=!marketSource.checkedAll;
                      setAll(i)"
                      [checked]="marketSource.checkedAll"
                      [disabled]="marketSource.disabled">
                      {{marketSource.sourceName}}
        </mat-checkbox>
      </span>
      <span>
        <ul>
          <li *ngFor="let segment of marketSource.segments; let z=index">
            <mat-checkbox [disabled]="marketSource.disabled"
                          [checked]="segment.checked"
                          (change)="segment.checked=!segment.checked;
                                    updateAllComplete(i)">
              {{segment.description}}
            </mat-checkbox>
          </li>
        </ul>
      </span> 
    </span>
  </form>
  <mat-progress-bar *ngIf="loadMarketData.disabled" color="primary" mode="query"></mat-progress-bar>
</mat-expansion-panel>
<mat-expansion-panel class="headers-align" 
  (opened)="panelOpenStateSecond = true"
  (closed)="panelOpenStateSecond = false" >
  <mat-expansion-panel-header >
    <mat-panel-title >
      Complex search
    </mat-panel-title>
    <mat-panel-description>
      Tap to {{panelOpenStateSecond? 'hide': 'open'}} additional parameters
      <mat-icon color = 'accent'>filter_alt</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header >
  <form  [formGroup]="searchParametersFG" >
    <span style="display: flex;  justify-content: space-between;   align-items:flex-start;  margin-right: 1%;margin-top: 0.2%;">
      <span style="display:grid; width: 15%; margin-top: 1%;">
        <button color = "primary"   mat-raised-button 
          style="margin:1%; "
          (click)="submitQuery()">
          Submit
        </button>
        <button color = "accent" mat-raised-button 
          style="margin:1%; "
          (click)="searchParametersFG.reset();
           pairs=['ClearAll']">
          ClearAll
        </button>
      </span>
      <mat-form-field appearance="fill" title="Date range filter">
        <mat-date-range-input [formGroup]="dataRange" [rangePicker]="picker" >
          <input matStartDate  placeholder="Start date" formControlName="dateRangeStart">
          <input matEndDate  placeholder="End date" formControlName="dateRangeEnd">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker  #picker></mat-date-range-picker>
        <mat-error *ngIf="dataRange.controls.dateRangeStart.hasError('matStartDateInvalid')">Invalid start date</mat-error>
        <mat-error *ngIf="dataRange.controls.dateRangeEnd.hasError('matEndDateInvalid')">Invalid end date</mat-error>
      </mat-form-field>
      <mat-form-field  style="width: 25%;">
        <mat-label>MarketDataSource</mat-label>
        <mat-select  #marketSource formControlName="marketSource" multiple> 
          <mat-option #allSelected [value]="0"
          (click)="toggleAllSelection('marketSource', allSelected.selected)" >
            ALL - {{this.allSelected.selected? 'Clear' :'Select' }} All 
          </mat-option>
          <mat-optgroup *ngFor="let marketSource of marketSources" [label]="marketSource.sourceName">
          <mat-option *ngFor="let segment of marketSource.segments" [value]="segment.sourceCode">
            {{segment.description}}
          </mat-option>
        </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" style="width: 40%; " class="no-hint-fields">
        <mat-chip-list #chipList  >
          <mat-chip *ngFor="let pair of pairs" 
          (removed)="remove(pair)"
          (click)=" clearAll($event);">
            {{pair}}
            <button matChipRemove *ngIf="pair!=='ClearAll'">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input #iputForChip
          [matAutocomplete]="auto"
          matInput
          placeholder="Add pair or pair,pair1,pair2.."
          formControlName="secidList"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)"
          matTooltip="Type currency pair or paste pairs list separated by comma and press enter" >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)='changedValueofChip($event.option.value)'>
          <mat-option *ngFor="let pair of filteredPairsLists | async" [value]="pair['pair']">
            {{pair['pair']}} 
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </span>
  </form>
</mat-expansion-panel>
<table  #strategyTable mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  {{columnsHeaderToDisplay[i]}}</th>
    <td 
      mat-cell 
      *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu"  > 
      <span [ngSwitch]="true==true" title ="TableColumnFormatting">
        <p *ngSwitchCase="['rate_date'].includes(column)">
          {{ element[column] | date }}
        </p>          
        <p *ngSwitchDefault>
          {{element[column]}}
        </p>
      </span>
      <ng-template  #instrumentcontextmenu title="TableContextMenu">
        <div class="menu-context" *ngIf="!readOnly" cdkMenu >
          <button 
            (click)="updateFilter(element[column],column)"
            class="menu-context-item" cdkMenuItem>
            <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
            Add to filter
          </button> 
          <button 
            (click)="addChips( element[column], column)"
            class="menu-context-item" cdkMenuItem>
            <mat-icon class="menu-icon" matPrefix>filter_alt</mat-icon> 
            ComplexFilter
          </button> 
        </div>
      </ng-template>   
    </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element"></td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row  *matRowDef="let element; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="20" aria-label="Select page of users"></mat-paginator>
