  <div style="display:flex; border-width: 1px; border-style: solid;">
    <span style="display: flex; justify-content: flex-start;width: 78%;">
      <button mat-flat-button 
      class="color-background" 
        aria-label="Tree show/hide"
        [ngStyle]="{'color':treeOpened ? 'white' : 'white'}"
        (click)="showHideTree()">
        {{treeOpened? 'Tree hide':'Tree show'}} 
      </button>
      <button mat-flat-button mat-button class="color-background" [matMenuTriggerFor]="menu2">Portfolio Management</button>
      <mat-menu #menu2="matMenu" class="color-background">
        <button mat-menu-item (click)="navigateToTree('tree/Strategies')">Strategies</button>
        <button mat-menu-item (click)="navigateToTree('tree/Trades & Orders')">Trades&Orders</button>
        <button mat-menu-item (click)="navigateToTree('tree/Instruments')">Instrumetns</button>
      </mat-menu>
      <button mat-flat-button (click)="navigateToTree('tree/Portfolios')" class="color-background"  matRipple="">Portfolios</button>
      <button mat-flat-button (click)="navigateToTree('tree/Clients')" class="color-background"  matRipple="">Clients</button>
      <button mat-flat-button  [matMenuTriggerFor]="menuAcc" class="color-background" matRipple="">Accounting</button>
        <mat-menu #menuAcc="matMenu"  class="color-background">
        <button mat-menu-item (click)="navigateToTree('tree/Transactions')">Transactions</button>
        <button mat-menu-item (click)="navigateToTree('tree/Accounts')">Accounts</button>
        <button mat-menu-item (click)="navigateToTree('tree/Fees')">Fees</button>
        <button mat-menu-item (click)="navigateToTree('tree/FIFO')">FIFO</button>
        <button mat-menu-item (click)="navigateToTree('tree/Schemes')">Schemes</button>
        <button mat-menu-item (click)="navigateToTree('tree/SWIFT')">SWIFT</button>
      </mat-menu>
      <button mat-flat-button mat-button class="color-background"  [matMenuTriggerFor]="menu3">Settings</button>
        <mat-menu #menu3="matMenu" class="color-background">
          <button mat-menu-item
            (click)="indexdbDeleteAllCache()">
            Empty Cache
          </button>
        <button mat-menu-item>User profile</button>
        <button mat-menu-item  (click)="LogOut()">  Sign out </button>
      </mat-menu>
  </span>
  <span style="display: flex; justify-content: flex-end;  "  class="color-background"> 
    <button mat-flat-button disableRipple style="background-color: transparent">
      <mat-icon>account_box</mat-icon> {{this.getLogin()}} 
    </button>
    <button mat-flat-button style="background-color: transparent"
      disableRipple    
      aria-label="Example icon button fullscreen"
      [ngStyle]="{'color':fullscreen ? 'var(--warnColor)' : 'null'}"
      (click)="toggleFullscreenMode()">
      <mat-icon>{{fullscreen? 'fullscreen_exit' :'fullscreen'}} fullscreen</mat-icon>
      {{fullscreen? 'Exit FullScreen':'FullScreen'}} 
    </button>

    <button mat-flat-button 
      disableRipple    
      aria-label="Example icon button fullscreen"
      color="primary"
      (click)="LogOut()">
      Sign Out 
    </button>

  </span>
</div>
