.demo-table {
  width: 100%;
}


.mat-sort-header {
  font-weight: bold;
  font-size: 20px;
  text-align: center;

}
.mat-column-demo {
  
  font-size: 20px;
  text-align: center;
}

.mat-column-demo-weight {
  font-style: italic;
}
