<form class="submit" [formGroup]="editStructureStrategyForm">
  <mat-form-field *ngIf="MP!==1" style="width: 45%;"  enabled  appearance="fill">
    <mat-label>Model Portfolio</mat-label>
    <mat-select   formControlName="id"  > 
      <mat-option *ngFor="let MPname of MPnames" [value]="MPname.id.toString()">
        {{MPname.name}} - {{MPname.description}}
      </mat-option>
    </mat-select>
    <mat-error  *ngIf="id.invalid && id.touched">
      The field is required.    
   </mat-error>
  </mat-form-field>
  <mat-form-field  *ngIf="MP===1"  style="width: 25%; height: 5%; font-size: 18px;" appearance="fill">
    <mat-label>SecID</mat-label>
    <input type="text"
           placeholder="Choose SecID"
           aria-label="SecID"
           matInput
           formControlName="id" 
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let secid of filterednstrumentsLists | async" [value]="secid">
        {{secid}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button mat-flat-button color="accent" 
    matTooltip="Select Instrument"
    (click)="selectInstrument() "
    *ngIf="MP && action!='Delete'"
    style=" width: 5%;  line-height: 80% !important; height: 60px !important;">
    <mat-icon >input</mat-icon>
  </button>

  <mat-form-field style="width: 20%; font-size: 18px;" >
    <input matInput placeholder="Weight" formControlName="weight_of_child"
    pattern="[0-9]*" type="number">
    <mat-error  *ngIf="weight_of_child.invalid && weight_of_child.touched">
      The field is required.    
   </mat-error>
  </mat-form-field>
  <button  mat-flat-button color="accent" 
    [disabled]="!(editStructureStrategyForm.valid )"
    (click)="updateStrategyStructureData(action)"
    style="margin-top: 1%; margin-right: 1%; width: 25%; font-size: 18px;">
    {{title}} Item
  </button>
</form>


<p >To close the window click outside it</p>
