<mat-toolbar color="primary" >
  {{title}} Client
</mat-toolbar>
<div class="client_form">
  <button mat-raised-button color="primary" 
    [disabled]="!(editClienttForm.valid && submitbox.checked)"
    (click)="updateClientData(action)"
    style="margin-top: 10px; width: 200px; font-size: 18px;">
    {{title}} Client 
  </button>
  <mat-checkbox color="primary"  #submitbox checked="false" >Submit Data</mat-checkbox>
</div>

<form class="submit" [formGroup]="editClienttForm">
  <mat-form-field>
    <input matInput placeholder="id client" formControlName="idclient">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="client name" formControlName="clientname">
    <mat-error  *ngIf="clientname.invalid && clientname.touched">
       Client Name isn't unique. Please choose another one.    
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="country" formControlName="idcountrydomicile">
    <mat-error  *ngIf="idcountrydomicile.invalid && idcountrydomicile.touched">
      Only digts are allowed.    
   </mat-error>
  </mat-form-field>
  <mat-slide-toggle formControlName="isclientproffesional" #professional
    labelPosition='before'
    color='primary'
    >Status  {{ professional.checked? 'Professional':'Non-Professional'}} </mat-slide-toggle>
  <mat-form-field>
    <input matInput placeholder="address" formControlName="address">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="contact person" formControlName="contact_person">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="email" formControlName="email">
    <mat-error  *ngIf="email.invalid && email.touched">
      Email is incorrect. Please check.    
   </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="phone" formControlName="phone">
    <mat-error  *ngIf="phone.invalid && phone.touched">
      Only digts are allowed.    
   </mat-error>
  </mat-form-field>
  <p color = 'red' *ngIf="editClienttForm.invalid"> Please check the form. Data is invalid</p>
</form>