.childTable {
}
.parentTable {
  width: 100%;
}
tr.detail-row {
  height: 0;
}
.edit-child-button {
  background: var(--additionalLightGreen);
}
.child-row td {
  border-bottom-width: 0;
}
tr.mat-row:hover {
  border: unset !important;
  background:unset !important;
}
