@import '@angular/material/theming';
@include mat-core();
@import "@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root 
{
--faovritesNodeColor: rgb(53, 153, 168);
--faovritesDarkNodeColor: rgb(34, 104, 114);
--formFieldLightGray: rgb(57, 56, 56);
--formFieldDeepGray: rgb(25, 24, 24);
--investmentNodeColor : crimson;
--investmentNodeColorChild: rgb(184, 28, 59);
--faovritesNodeColor: rgb(53, 153, 168);
--faovritesNodeColorChild: rgb(53, 153, 168);
--additionalLightGreen: rgb(53, 168, 110);
--additionalLightBlue: rgb(85, 167, 238);
--additionalLightRed: rgb(252, 66, 81);
}
.upClass {
color: green;
}
.downClass {
  color: red;
}
.edit-item-button {
  background: var(--investmentNodeColorChild)
}
.whiteTextFilter {
  color: white;
  font-size: 18px;
}
.filterField {
  margin-left: 10px;
  font-size: 18px;
  width: 20%;
}
.tree-menu-context {
  display: inline-flex;
  flex-direction: column;
  min-width: 180px;
  max-width: 350px;
  background-color: rgb(184, 184, 184);
  padding: 3px 0;
  font-size: 18px;
}
.tree-menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;
  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 6px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
}
.tree-menu-item:hover {
  background-color: rgb(237, 162, 162);
}
.tree-menu-item:active {
  background-color: rgb(147, 128, 128);
}
.menu-icon {
  margin-left: 0px;
  // margin-bottom: 0px;
  margin-right: 5px;
}
.element-row:hover {
  background: rgb(43, 43, 245);
}
.mat-cell {
  font-size: 18px;
}
.mat-select-disabled .mat-select-value {
  color: rgb(226, 229, 232);
  font: optional;
}

.mat-expansion-panel-body {
  padding: 0 !important;
}
.custom-modalbox > mat-dialog-container {
  background-color:transparent !important;
  border-radius: 15px;
  border-width: 3px;
  border-color: gray
}
.mat-focused label {
  color:rgb(0, 47, 255) !important;
  transform: 1.2 !important;
  font-size:x-large !important;
 }
 .mat-form-field-label {
  color:rgb(59, 112, 121) !important;
/*   transform: 1.2 !important;
  font-size:x-large !important; */
 }
.mat-tab-label {
  font-size: 20px !important;
} 
.mat-tab-label-active{
  font-size: 20px !important;
  background-color: rgb(60, 60, 60)!important;
} 
.mat-tooltip {
  font-size: 16px !important
}
.snackbar-error {
  max-width: 100% !important;
  background-color: rgb(151, 30, 30);
  color: rgb(223, 217, 217);
  // font-weight:bolder;
}
.snackbar-success {
  background-color: rgb(80, 156, 109);
  color: rgb(62, 61, 61);
}
.snackbar-error, .mat-simple-snack-bar-content {
  font-size: 20px !important;
}
.mat-error {
  color: rgb(234, 54, 54);
  transform: (1.1);
  height: 110%;
  font-size: 16px;
  font-style: italic;
}
input.ng-invalid.ng-touched {
  color: rgb(234, 54, 54);
}
::ng-deep .mat-form-field-disabled {
  background:rgb(6, 6, 6)  !important;
}
::ng-deep .mat-form-field-disabled .mat-input-element {
  color:white !important;
}