.statusSelect {
  max-height: 80vh;
}
.childTable {
   background-color: var(--secondaryBackgroundColor);;
  width: 100%;
}
.parentTable {
  width: 100%;
}
.mat-checkbox-ripple { 
  display: none !important; 
}
tr.detail-row {
  height: 0;
}
