
.first-expansion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color:rgb(19, 55, 132);
  font-size: 18px;
}
.first-expansion {
  background-color:  #807f7f;
}
.first-expansion  .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  color: rgb(44, 43, 43);
  font-size: 20px;
}
.filterText {
  width: 20%;
  font-size: 20px;
}
.mat-table {
  background-color:#4f4e4e;
  width: 100%;
}
.mat-header-cell {
  font-size: 20px;
  background-color:#393737;
}
.mat-column-action {
  width: 11%;
} 
.mat-column-facevalue {
  text-align: center;
} 