
.uppercase{
  text-transform: uppercase;
}
.complex-search-entries .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color: rgb(241, 136, 136);
  font-weight: bold;
  font-size: 18px;

}
.complex-search-entries .mat-expansion-panel-header-title {
  justify-content: space-between;
  align-items: center;
  color: rgb(191, 188, 188);
  font-weight: bold;
  font-size: 20px;

}

input.ng-invalid.ng-touched {
  color: rgb(158, 0, 0);
}
.mat-error {
  color: rgb(158, 0, 0);
  transform: (1.1);
  height: 110%;
  font-size: 16px;
  font-style: italic;
}
.mat-checkbox {
  transform: scale(1.2);
  margin-left:2%;
}
.client_form {
justify-self: auto;
}



.mat-form-field {
font-size: 16px;
border-radius: 9px;
background-color: rgb(111, 110, 110);
margin: 5px;
padding :10px;
}




.mat-dialog-container {
padding: 24px 0 0 0 !important;
}


