<mat-toolbar color="primary" style="margin-bottom: 0.5%;" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  <span>{{action}} Access TT ID {{id?.value}}</span>
</mat-toolbar>

<button mat-raised-button color="primary" 
  [disabled]="!(TransactionTypeForm.valid && submitbox.checked)"
  (click)="updateTransactionTypeData(action)"
  style="margin-top: 1px; width: 20%; margin-left: 1%;">
  {{action}} Transaction Type 
</button>
<mat-checkbox style= "padding: 1%;" #submitbox checked="false" 
  (click)=" TransactionTypeForm.markAllAsTouched();
  TransactionTypeForm.markAllAsTouched();"
  >Submit Data
</mat-checkbox>
<form  [formGroup]="TransactionTypeForm">
  <mat-form-field style="width: 25%;" title="Role">
    <mat-select placeholder="Role" formControlName="role">
      <mat-option *ngFor="let accRole of accessRoles" [value]="accRole">
        {{accRole}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="code2.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 7%;" title="TT ID" >
    <input matInput placeholder="TT ID" formControlName="transaction_type_id"  >
    <mat-error *ngIf="transaction_type_id.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <mat-form-field style="width: 40%;" title="Transaction Type">
    <mat-select placeholder="TT ID" formControlName="transaction_type_id" (selectionChange)="ttChanged($event.value)">
      <mat-option *ngFor="let tt of TransactionTypes" [value]="tt.id">
        {{tt.id}} - {{tt.xActTypeCode_Ext}} - {{code2TT.get(tt.code2.toString())}} ({{tt.code2}}) - {{tt.description}} 
      </mat-option>
    </mat-select>
    <mat-error *ngIf="transaction_type_id.errors?.['required']">
      Required!
    </mat-error>
  </mat-form-field>
  <p>
    <label class="mat-form-field" color="accent" title="Code"><span style="color: var(--accentColor);">Code: </span> {{xActTypeCode_Ext.value}}</label>
    <label class="mat-form-field" title="Type"> <span style="color: var(--accentColor);">Type: </span> {{code2TT.get(code2.value)}}</label>
    <label class="mat-form-field" title="description"> <span style="color: var(--accentColor);">Description: </span> {{description.value}}</label>
  </p>
  <h4 style="margin-left: 0.5%;" class="warn-color"  *ngIf="TransactionTypeForm.invalid"> Please check the form. Data is invalid</h4>
</form>