<div style="width: 80vw;height: 90vh; background-color: white;">
  <button mat-icon-button (click)="forceStop()" style="margin-right: 3%; color: black;"><mat-icon>touch_app</mat-icon>Stop</button>
  <button mat-icon-button (click)="toStart()"><mat-icon style="margin-right: 15%; color: black;">cloud_upload</mat-icon>Start</button>
  <button  mat-icon-button  id="sphere" style="background-color: transparent; top: 40px; left:25px; transform: scale(3);color: black;"  (click)="mainFunc()"> <mat-icon>directions_bike</mat-icon></button>
<!--   <div style="background-image: url('assets/roboman2.jpg'); width: 9.5vw;height: 33vh;margin-top:100px">
  </div> -->
</div>