<ng-container *ngIf="accessState!=='none'" >
  <form [formGroup]="searchParametersFG"   style=" margin-left: 0.5%; "> 
    <mat-form-field style="width: 30%;"class = "filter-field"  title="Filter All columns">
      <mat-label>Type to search...</mat-label>
      <input 
        (keyup)="applyFilter($event)"
        matInput type="text" #filterALL
        matTooltip="Use context menu to add filter"     >
      <button matSuffix 
        mat-icon-button aria-label="Clear" 
        (click)="clearFilter(filterALL)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button color = "accent" mat-raised-button title="Export To Excel"
      style=" margin-left:1%; "
      (click)="exportToExcel()">
      Save as XLS 
      <mat-icon matSuffix >save_alt</mat-icon>
    </button>
    <button color = "accent" mat-raised-button title="Reload Table"
      style=" margin-left:1%; "
      (click)="submitQuery()">
      Reload 
      <mat-icon matSuffix >refresh</mat-icon>
    </button>
    <mat-form-field  title="Date to upload" class="no-hint-fields"> <!-- Report Date Filter -->
      <input matInput formControlName = "report_date" [matDatepicker]="dateForMarketData" placeholder="Report Date">
      <mat-datepicker-toggle matSuffix [for]="dateForMarketData"></mat-datepicker-toggle>
      <mat-datepicker  #dateForMarketData></mat-datepicker>
    </mat-form-field> 
    <mat-form-field  title="Type to filter data. Click to select" class="no-hint-fields"> <!-- Report Currency Filter -->
      <input matInput [placeholder]="'Report Currency'" 
      formControlName="report_id_currency" 
      [matAutocomplete]="autoSet" >
      <mat-autocomplete #autoSet="matAutocomplete" >
        <mat-option *ngFor="let currency of filteredCurrenciesList | async" [value]="currency['CurrencyCodeNum']">
          {{currency['CurrencyCodeNum']}} -  {{currency['CurrencyCode']}} -  {{currency['CurrencyName']}} 
        </mat-option>
      </mat-autocomplete>   
      <mat-error  *ngIf="report_id_currency?.errors?.['currencyCode']">
        Inccorect Code! 
      </mat-error>
    </mat-form-field>
  </form>
  <table  mat-table [dataSource]="dataSource" multiTemplateDataRows  matSort style="width: 160%; margin-top: 0.5%;" >
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index" justify="right"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsHeaderToDisplay[i]}}</th>
      <td mat-footer-cell *matFooterCellDef let> 
        <span [ngSwitch]="true==true">
          <p *ngSwitchDefault></p>
          <p *ngSwitchCase="['portfolio_code'].includes(column)">{{'Totals'}} </p>
          <p *ngSwitchCase="['mtm_positon','order_amount','weight','planned_position','total_pl','unrealizedpl','pl'].includes(column)">{{getTotals(column)| number }} </p>
        </span>
      <td 
        mat-cell *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu" >
        <span [ngSwitch]="true==true">
          <p *ngSwitchDefault>{{element[column]}}</p>
          <p *ngSwitchCase="['current_balance','mtm_positon',
          'planned_position','current_account_balance','order_amount','order_qty','mtm_dirty_price','cost_in_position','orders_unaccounted_qty','cost_full_position'].includes(column)">{{element[column]|currency :' '}} </p>
          <p *ngSwitchCase="['pl','unrealizedpl','total_pl'].includes(column)">
            <span [style.color]="element[column]==0? 'default' : element[column]<0?'var(--warnColor)':'var(--mainFontColor)'">{{element[column]|currency :' '}} </span>
          </p>
          <p *ngSwitchCase="['roi','fact_weight','weight'].includes(column)&&element[column]!==null">
            <span [style.color]="element[column]==0? 'default' : element[column]<0?'var(--warnColor)':'var(--mainFontColor)'">{{element[column]|currency :' '}}{{'%'}} </span>
          </p>
          <p *ngSwitchCase="['mtm_date','rate_date'].includes(column)">{{element[column] | date}} </p>
        </span>
        <ng-template  #instrumentcontextmenu>
          <div class="menu-context" cdkMenu >
            <button 
            (click)="updateFilter(element[column])"
            class="menu-context-item" cdkMenuItem>
            <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
            Add to filter
          </button> 
          </div>
        </ng-template>  
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row  *matRowDef="let element; columns: columnsToDisplay; let dataindex=dataIndex;" tabindex=0 > </tr>
    <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 15, 25, 100]" [pageSize]="rowsPerPages" aria-label="Select page of allocation"></mat-paginator>
</ng-container>