<ng-container *ngIf="accessState!=='none'" >
    <mat-form-field style="width: 20%;"class = "filterField"  title="Filter All columns">
      <mat-label class="whiteTextFilter">Search (all columns)...</mat-label>
      <input 
        (keyup)="applyFilter($event)"
        matInput type="text" #filterALL
        matTooltip="Use context menu to add filter"     >
      <button matSuffix 
        mat-icon-button aria-label="Clear" 
        (click)="clearFilter(filterALL)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <button color = "accent" mat-raised-button title="Export To Excel"
      style=" margin-left:1%; font-size: 18px;"
      (click)="exportToExcel()">
      Save as XLS 
      <mat-icon matSuffix >save_alt</mat-icon>
    </button>
    <h2 style="margin-left: 1%;"><span class="red_color">{{filters.portfolio_code}}</span> - Current positions ({{report_date.value.toLocaleDateString()}}) in USD</h2>
  <form class="submit" *ngIf="searchAllowed===true" [formGroup]="searchParametersFG"  style="font-size: 18px; margin-left: 0.5%; "> <!-- complexSearch Form -->
    <span style="display: flex;    align-items:flex-start;  margin-right: 1%;margin-top: 0.2%;"> 
      <span style="display:grid; width: 10%; margin-right: 1%;"> <!-- submitQuery/CleaAll Buttons -->
        <button color = "primary"  class= "button-color" mat-raised-button 
          [disabled]="searchParametersFG.invalid"
          style="margin:1%; font-size: 18px;"
          (click)="submitQuery()">
          Submit
        </button>
        <button color = "accent" mat-raised-button 
          style="margin-top:4%;margin-left: 1%; font-size: 18px;"
          (click)="searchParametersFG.reset();
           instruments=['ClearAll'];
           portfolios=['ClearAll']">
          ClearAll
        </button>
<!--         <button color = "primary" mat-raised-button 
          style="margin-top:4%;margin-left: 1%; font-size: 18px;"
          (click)="searchParametersFG.reset()"><mat-icon>call</mat-icon>
          Create Orders
        </button> -->
      </span>
      <mat-form-field class="search-filed" title="Date to upload">
        <input matInput formControlName = "report_date" [matDatepicker]="dateForMarketData" placeholder="Report Date">
        <mat-datepicker-toggle matSuffix [for]="dateForMarketData"></mat-datepicker-toggle>
        <mat-datepicker  #dateForMarketData></mat-datepicker>
      </mat-form-field> 
      <mat-form-field class="search-filed" title="Type to find(any filed). Click to select" >
        <input matInput [placeholder]="'Report Currency'" 
        formControlName="report_id_currency" 
        [matAutocomplete]="autoSet" >
        <mat-autocomplete #autoSet="matAutocomplete" >
          <mat-option *ngFor="let currency of filteredCurrenciesList | async" [value]="currency['CurrencyCodeNum']">
            {{currency['CurrencyCodeNum']}} -  {{currency['CurrencyCode']}} -  {{currency['CurrencyName']}} 
          </mat-option>
        </mat-autocomplete>   
        <mat-error  *ngIf="report_id_currency?.errors?.['currencyCode']">
          Inccorect Code! 
        </mat-error>
      </mat-form-field>
      <span style="display:grid; width: 20%; margin-right: 1%;"> 
        <mat-select placeholder="Model Portfolio" class="search-filed"
          formControlName="MP" 
          style="height: 150%;"
          (selectionChange)="setPortfoliosList($event)"  >
          <mat-option *ngFor="let mp of mp_strategies_list" [value]="mp['name']"> {{mp['name']}} </mat-option>
        </mat-select>
        <mat-checkbox 
          (change)="showZeroPortfolios($event)"
          style="margin-top: 10%;">
          Zero Portfolio
        </mat-checkbox> 
      </span>
      <mat-form-field  appearance="fill" style="width: 60%; margin-bottom: 0.5%; " class="search-filed">
        <mat-chip-list #chipPortList   >
          <mat-chip *ngFor="let portfolio of portfolios" 
          (removed)="remove(portfolio,portfolios,idportfolios)"
          (click)=" portfolios = clearAll($event,portfolios,idportfolios);">
            {{portfolio}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input style="width: 45%;"
          matInput
          placeholder="Add portfolio or portfolio1,portfolio2.."
          formControlName="idportfolios"
          [matChipInputFor]="chipPortList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="portfolios = add($event,portfolios,idportfolios)"
          matTooltip="Type portfolio code or paste multiple codes separated by comma and press enter" >

        </mat-chip-list>
        <mat-hint style="color:rgb(104, 246, 246); font-style: italic;">
          Portfolios List
        </mat-hint>
      </mat-form-field>
  <!--     <mat-form-field  appearance="fill" style="width: 10%; color:black" class="search-filed">
        <mat-chip-list #chipListSecid   >
          <mat-chip *ngFor="let secid of instruments" 
          (removed)="remove(secid,instruments,secidList)"
          (click)=" instruments = clearAll($event,instruments,secidList);">
            {{secid}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input [disabled]="true"
          [matAutocomplete]="auto"
          matInput
          placeholder="Add secid or secid,secid1,secid2.."
          formControlName="secidList"
          [matChipInputFor]="chipListSecid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="instruments = add($event,instruments,secidList)"
          matTooltip="DISABLED! Type secid or paste multiple secid codes separated by comma and press enter" >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="changedValueofChip($event.option.value,instruments,secidList)">
          <mat-option *ngFor="let secid of filterednstrumentsLists | async" [value]="secid.toString().split(',')[0]">
            {{secid.toString().replaceAll(',',' - ')}}
          </mat-option>
        </mat-autocomplete>
        <mat-hint style="color:rgb(104, 246, 246); font-style: italic;">
          Instruments List
        </mat-hint>
      </mat-form-field> -->
  </span>
  </form>
    <table  mat-table [dataSource]="dataSource" multiTemplateDataRows matSort
     class="mat-elevation-z8" 
      class ="childTable" style="width: 140%;" >
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; let i=index" justify="right"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnsHeaderToDisplay[i]}}</th>
        <td mat-footer-cell *matFooterCellDef let> <h2 style="margin-top: 5%;">
          <span [ngSwitch]="true==true">
            <p *ngSwitchDefault></p>
            <p *ngSwitchCase="['idportfolio'].includes(column)">{{'Totals'}} </p>
            <p *ngSwitchCase="['mtm_positon','order_amount','weight','planned_position'].includes(column)">{{getTotals(column)| number }} </p>
          </span></h2>
        <td 
          mat-cell *matCellDef="let element" [cdkContextMenuTriggerFor]="instrumentcontextmenu" >
          <span [ngSwitch]="true==true">
            <p *ngSwitchDefault>{{element[column]}}</p>
            <p *ngSwitchCase="['order_amount','order_qty','mtm_dirty_price','cost_in_position','orders_unaccounted_qty'].includes(column)">{{element[column]|currency :' '}} </p>
            <p *ngSwitchCase="['current_balance','mtm_positon',
            'planned_position','current_account_balance',
            'pl','unrealizedpl','total_pl'].includes(column)">
              <span [style.color]="element[column]==0? 'default' : element[column]<0?'indianred':'lightgreen'">{{element[column]|currency :' '}} </span>
            </p>
            <p *ngSwitchCase="['roi','fact_weight','weight'].includes(column)&&element[column]!==null">
              <span [style.color]="element[column]==0? 'default' : element[column]<0?'indianred':'lightgreen'">{{element[column]|currency :' '}}{{'%'}} </span>
            </p>
            <p *ngSwitchCase="['mtm_date','rate_date'].includes(column)">{{element[column] | date}} </p>
          </span>
          <ng-template  #instrumentcontextmenu>
            <div class="tree-menu-context" cdkMenu >
              <button 
              (click)="updateFilter(element[column])"
              class="tree-menu-item" cdkMenuItem>
              <mat-icon class="menu-icon" matPrefix>filter_list</mat-icon> 
              Add to filter
            </button> 
            </div>
          </ng-template>  
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row  *matRowDef="let element; columns: columnsToDisplay; let dataindex=dataIndex;"
        tabindex=0
     >
      </tr>
<!--       <tr mat-row  *matRowDef="let element; columns: columnsToDisplay; let dataindex=dataIndex;"
        tabindex=0
        [ngClass]="{'highlight':element && this.selectedRowID  == element.id}"
        (keydown)="keyDownEvent($event)"
        (click)="highlight(element)">
      </tr> -->
      <tr mat-footer-row *matFooterRowDef="columnsToDisplay; sticky: true"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 15, 25, 100]" [pageSize]="rowsPerPages" aria-label="Select page of allocation"></mat-paginator>

</ng-container>

