<mat-toolbar style="margin-left: 1%;" color="primary" >
  {{title}} Entry
</mat-toolbar>
  <button mat-raised-button color="accent" 
    [disabled]="!(entryModifyForm.valid && submitbox.checked)"
    (click)="updateStrategyData(action)"
    style="margin-top: 1px; width: 200px; font-size: 18px; margin-left: 1%;">
    {{title}} Entry
  </button>
  <mat-checkbox color="primary"  #submitbox checked="false" 
    (click)=" entryModifyForm.markAllAsTouched();"
    >Submit Data
  </mat-checkbox>

  <form class="submit" [formGroup]="entryModifyForm">
    <button mat-raised-button
    (click)="ClsAcc()">DATE CLOSED {{Closed}}</button>
    <mat-form-field  style="width: 27%;">
      <mat-label>Type Code</mat-label>
      <mat-select   formControlName="t_XactTypeCode_Ext" > 
        <ng-container *ngFor="let TransactionType of TransactionTypes">
        <mat-option *ngIf = "TransactionType.code2 == xActTypeCode.value" [value]="TransactionType.id">
           {{TransactionType.xActTypeCode_Ext |uppercase}} - {{TransactionType.description}}
        </mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width" style="width: 17%;" >
      <input matInput  [matDatepicker]="picker" placeholder="Choose a date"  formControlName="t_dataTime" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field style="width: 20%; ">
      <input matInput placeholder="Amount" formControlName="t_amountTransaction" [value]="GamountTransaction.valueChanges | async  | currency">
    </mat-form-field>
    
    <mat-button-toggle-group style=" width: 26%;font-size: 18px;" formControlName="t_XactTypeCode" 
      aria-label="Font Style" matTooltip="Choose Ledger Side">
      <mat-button-toggle  style="width: 50%;font-size: 18px;" [value]="1">Debit</mat-button-toggle>
      <mat-button-toggle style="width: 50%;font-size: 18px;" [value]="2">Credit</mat-button-toggle>
    </mat-button-toggle-group>
    <span [ngSwitch]="xActTypeCode.value">
      <mat-form-field *ngSwitchCase="1" style="width: 35%;">
        <input matInput placeholder="Debit" formControlName="d_ledgerNo">   
        <button mat-icon-button matSuffix
        (click)="selectLedger()">
        <mat-icon >search</mat-icon></button>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="1"style="width: 35%;">
        <input matInput placeholder="Credit" formControlName="d_accountNo">
          <button mat-icon-button matSuffix
          (click)="selectAccount()">
         <mat-icon >search</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="2" style="width: 35%;">
        <input matInput placeholder="Debit" formControlName="d_accountNo">   
        <button mat-icon-button matSuffix
        (click)="selectAccount()">
        <mat-icon >search</mat-icon></button>
      </mat-form-field>
      <mat-form-field *ngSwitchCase="2"style="width: 35%;">
        <input matInput placeholder="Credit" formControlName="d_ledgerNo">
        <button mat-icon-button matSuffix
        (click)="selectLedger()">
        <mat-icon >search</mat-icon></button>
      </mat-form-field>
    </span>
    <mat-form-field style="width: 95%;">
      <input matInput placeholder="entryDetails" formControlName="t_entryDetails">
    </mat-form-field>
    <p color = 'red' *ngIf="entryModifyForm.invalid"> Please check the form. Data is invalid</p>
</form>
<!-- </mat-expansion-panel> -->
